# Python Tutorial Program: Gathering and Exporting Census Data

By Kenneth Burchfiel

This code is released under the MIT license; the datasets produced by the code are in the public domain.

You can find my blog post on this code at https://kburchfiel3.wordpress.com/2021/08/12/python-tutorial-program-retrieving-u-s-census-data/ .

This program demonstrates how Python can be used to retrieve and export US Census data at the zip code, county, and state level. It also shows how the same variable can be accessed across years.

The census-specific functions called by this program can be found in census_query.py. Please read the documentation there for more information on applying these functions.

Although this tutorial program will focus on gathering education, family type, and income/poverty statistics from the American Community Survey (5-year estimates), the functions on which it is based can also be used to gather data from certain other sources, such as the decennial census.

Before being able to run the code below on your computer, you'll need to obtain a free US Census API key from https://api.census.gov/data/key_signup.html .

The following US Census links proved helpful in creating this program:

API list: https://www.census.gov/data/developers/data-sets.html

2020 Census redistricting data:

Variables: https://api.census.gov/data/2020/dec/pl/variables.html

Examples: https://api.census.gov/data/2020/dec/pl/examples.html

2010 Census:

Variables: https://api.census.gov/data/2010/dec/sf1/variables.html

Examples: https://api.census.gov/data/2010/dec/sf1/examples.html

ACS (5 year estimates):

Variables: https://api.census.gov/data/YEAR/acs/acs5/variables.html (replace 'YEAR' in this URL and following ones with the year of interest, e.g. 2021)

Examples: https://api.census.gov/data/YEAR/acs/acs5/examples.html

ACS (1 year estimates):

Variables: https://api.census.gov/data/YEAR/acs/acs1/variables.html

Examples: https://api.census.gov/data/YEAR/acs/acs1.html

Variable code examples:

ACS5: population = B01001_001E

ACS1: population = B01001_001E

Census (redistricting data): population = P1_001N

Census (SF1 data): population = P001001

First, I imported a number of libraries:

In [1]:
import time
start_time = time.time() # Allows the program's runtime to be measured
# from census import Census I didn't end up using this library in this version
# of census_query_tutorial, but you may find it useful for your own
# analyses. See https://github.com/datamade/census for more information.
import pandas as pd
import numpy as np
import statsmodels.api as sm
from census_query import retrieve_census_data, \
retrieve_single_census_variable, test_variables, \
compare_variable_across_years, generate_variable_and_group_lists

Instead of hard coding the year into my Census queries, I chose to set it as a variable so that the queries could be modified more easily.

In [2]:
year = 2021

Next, I imported my Census API key into the code. I stored the path to the key and the key itself in separate file locations.

In [3]:
with open('../key_paths/path_to_keys_folder.txt') as fin:
    api_folder_path = fin.readline()
with open(api_folder_path+'/census_api_key.txt') as fin:
    api_key = fin.readline()

Creating a list of American Community Survey variables

In order to determine which variables I would import into my spreadsheet, I used the generate_variable_and_group_lists function in census_query.py to read in all 27,000+ variables in the American Community Survey from https://api.census.gov/data/2014/acs/acs5/variables.html . Next, I created a list of groups from this survey. (At the time I first created this script, the most recent ACS data was from 2019, so I wanted to find data from the ACS that took place 5 years earlier; that way, I could compare previous and current values for different variables. Thus, I chose to examine 2014 data.)

'Groups' are general categories of data, whereas 'variables' are specific data points within a given group. For instance, group B16010 contains data on 'EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER,' and variable B16010_015E has the data label 'Estimate!!Total:!!High school graduate (includes equivalency)'.

In [4]:
create_new_variable_and_group_lists = True
if create_new_variable_and_group_lists == True:
    df_variables_and_groups = generate_variable_and_group_lists(year = year, source = 'acs5', variable_filter = 'Estimate')
    df_variables_and_groups[0].to_csv(
        f'variables_from_html_acs5_{year}.csv', index = False)
    df_variables_and_groups[1].to_csv(
        f'groups_from_html_acs5_{year}.csv', index = False)
    df_variables_and_groups[1]

retrieving data from: https://api.census.gov/data/2021/acs/acs5/variables.html

Here are all the variables that I can incorporate into my project, along with their descriptions:

In [5]:
df_variables = pd.read_csv(f'variables_from_html_acs5_{year}.csv')
df_groups = pd.read_csv(f'groups_from_html_acs5_{year}.csv')
df_variables

,Variable,Label,Concept,Group,Description
0,B01001A_001E,Estimate!!Total:,SEX BY AGE (WHITE ALONE),B01001A,SEX BY AGE (WHITE ALONE) Estimate!!Total:
1,B01001A_002E,Estimate!!Total:!!Male:,SEX BY AGE (WHITE ALONE),B01001A,SEX BY AGE (WHITE ALONE) Estimate!!Total:!!Male:
2,B01001A_003E,Estimate!!Total:!!Male:!!Under 5 years,SEX BY AGE (WHITE ALONE),B01001A,SEX BY AGE (WHITE ALONE) Estimate!!Total:!!Mal...
3,B01001A_004E,Estimate!!Total:!!Male:!!5 to 9 years,SEX BY AGE (WHITE ALONE),B01001A,SEX BY AGE (WHITE ALONE) Estimate!!Total:!!Mal...
4,B01001A_005E,Estimate!!Total:!!Male:!!10 to 14 years,SEX BY AGE (WHITE ALONE),B01001A,SEX BY AGE (WHITE ALONE) Estimate!!Total:!!Mal...
...,...,...,...,...,...
27881,C27021_011E,Estimate!!Total:!!In family households:!!In ot...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,C27021,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...
27882,C27021_012E,Estimate!!Total:!!In family households:!!In ot...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,C27021,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...
27883,C27021_013E,Estimate!!Total:!!In non-family households and...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,C27021,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...
27884,C27021_014E,Estimate!!Total:!!In non-family households and...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,C27021,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...
27885,C27021_015E,Estimate!!Total:!!In non-family households and...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,C27021,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...

And here are all the groups (categories of variables) that I can use:

In [6]:
df_groups

                                                Concept    Group
0                              SEX BY AGE (WHITE ALONE)  B01001A
1          SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)  B01001B
2     SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ...  B01001C
3                              SEX BY AGE (ASIAN ALONE)  B01001D
4     SEX BY AGE (NATIVE HAWAIIAN AND OTHER PACIFIC ...  B01001E
...                                                 ...      ...
1140         PUBLIC HEALTH INSURANCE BY WORK EXPERIENCE   C27014
1141  HEALTH INSURANCE COVERAGE STATUS BY RATIO OF I...   C27016
1142  PRIVATE HEALTH INSURANCE BY RATIO OF INCOME TO...   C27017
1143  PUBLIC HEALTH INSURANCE BY RATIO OF INCOME TO ...   C27018
1144  HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...   C27021

[1145 rows x 2 columns]

I could then look through these two CSV files ('groups_from_html_acs' and 'variables_from_html_acs' to determine which variables to add to my project. 

First, I could look through the groups_from_html_acs list to find categories that interested me. For instance, since I was interested in comparing educational attainment across regions, I wanted to look further into group B16010, which contains data on ('EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER'). One of this group's variable entries (which I could find within variables_from_html_acs) is B16010_015E, whose data label is 'Estimate!!Total:!!High school graduate (includes equivalency):.' I added this variable code to my variable list, along with other variables that covered education, poverty, and demographic data.

When creating your own variable list, you might find it helpful to create a copy of the .csv file containing variables, then add an 'include' column to the file. You can then use this column to keep track of which variables to use. Once you've selected all the desired variables, you can sort the .csv file by the 'include' column; copy and paste all the variable codes that you wish to include into your Python notebook; and then convert these codes into a list. This strategy makes it easier to keep track of which codes you've already included and what they refer to.

My list focused on variables from the following categories:

1. Household types (mostly married households vs. ones led by a female householder with no spouse present, which, for brevity's sake, I'll abbreviate as 'female-householder' homes.
2. The presence of children within these households
3. Median household income
4. Poverty status by family type
5. Poverty status by family type and the highest level of education completed
6. Median housing prices

In [7]:
variable_list = ['B01001_001E', 'B11005_001E', 'B11005_013E', 'B11005_002E', 
'B11005_004E', 'B19013_001E', 'B17006_002E', 'B17006_016E', 
'B17006_003E', 'B17006_017E', 'B17006_012E', 'B17006_026E',
'B17006_008E', 'B17006_022E', 'B17018_004E', 'B17018_021E', 
'B17018_005E', 'B17018_022E', 'B17018_006E', 'B17018_023E', 
'B17018_007E', 'B17018_024E', 'B17018_015E', 'B17018_032E', 
'B17018_016E', 'B17018_033E', 'B17018_017E', 'B17018_034E', 
'B17018_018E', 'B17018_035E', 'B16010_001E', 'B16010_002E',
'B16010_015E', 'B16010_028E', 'B16010_041E', 'B25077_001E']

# B25077_001E reports the median value of owner-occupied homes. See:
# # https://censusreporter.org/tables/B25077/ 

# You can use the following template for your own list:
# variable_list = ['', '', '', '',
# '', '', '', '',
# '', '', '', '']

To see how the function performs with longer variable lists, you can try using the following version of variable_list (which I created for a separate project):

In [8]:
# variable_list = ['B01001_001E', 'B01002_001E', 'B06008_001E', 'B06008_003E', 
# 'B08124_001E', 'B08124_002E', 'B08124_003E', 'B08124_004E', 'B08124_005E', 
# 'B08124_006E', 'B08124_007E', 'B09001_001E', 'B13002_001E', 'B13002_002E',
# 'B14001_001E', 'B14001_002E', 'B14001_008E', 'B14001_009E', 'B16010_001E',
# 'B16010_002E', 'B16010_041E', 'B17001_001E', 'B17001_002E', 'B19001_001E',
# 'B19001_002E', 'B19013_001E', 'B19083_001E', 'B19325_001E', 'B19325_002E',
# 'B19325_003E', 'B19325_049E', 'B19325_050E', 'B23025_001E', 'B23025_002E',
# 'B23025_004E', 'B23025_005E', 'B23027_012E', 'B23027_013E', 'B24011_001E',
# 'B24011_002E', 'B24011_018E', 'B24011_026E', 'B24011_029E', 'B24011_033E',
# 'B25002_001E', 'B25002_002E', 'B25010_001E', 'B25064_001E', 'B25077_001E',
# 'B25105_001E', 'C27012_001E', 'C27012_002E']

Next, I will create a filtered version of df_variables that includes only the variables stored in variable_list.

In [9]:
df_variables = df_variables.query("Variable in @variable_list").copy()
# Adding .copy() here prevents a SettingWithCopyWarning later on.

In [10]:
df_variables

,Variable,Label,Concept,Group,Description
279,B01001_001E,Estimate!!Total:,SEX BY AGE,B01001,SEX BY AGE Estimate!!Total:
6835,B11005_001E,Estimate!!Total:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEAR...,B11005,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEAR...
6836,B11005_002E,Estimate!!Total:!!Households with one or more ...,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEAR...,B11005,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEAR...
6838,B11005_004E,Estimate!!Total:!!Households with one or more ...,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEAR...,B11005,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEAR...
6847,B11005_013E,Estimate!!Total:!!Households with no people un...,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEAR...,B11005,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEAR...
8692,B16010_001E,Estimate!!Total:,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...,B16010,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...
8693,B16010_002E,Estimate!!Total:!!Less than high school graduate:,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...,B16010,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...
8706,B16010_015E,Estimate!!Total:!!High school graduate (includ...,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...,B16010,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...
8719,B16010_028E,Estimate!!Total:!!Some college or associate's ...,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...,B16010,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...
8732,B16010_041E,Estimate!!Total:!!Bachelor's degree or higher:,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...,B16010,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...
9401,B17006_002E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...
9402,B17006_003E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...
9407,B17006_008E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...
9411,B17006_012E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...
9415,B17006_016E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...
9416,B17006_017E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...
9421,B17006_022E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...
9425,B17006_026E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...
10172,B17018_004E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10173,B17018_005E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10174,B17018_006E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10175,B17018_007E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10183,B17018_015E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10184,B17018_016E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10185,B17018_017E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10186,B17018_018E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10189,B17018_021E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10190,B17018_022E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10191,B17018_023E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10192,B17018_024E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10200,B17018_032E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10201,B17018_033E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10202,B17018_034E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10203,B17018_035E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
11263,B19013_001E,Estimate!!Median household income in the past ...,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS ...,B19013,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS ...
21828,B25077_001E,Estimate!!Median value (dollars),MEDIAN VALUE (DOLLARS),B25077,MEDIAN VALUE (DOLLARS) Estimate!!Median value ...

It's now time to query census data on each of the variables in variable_list for the year specified. retrieve_census_data (contained in census_query.py) allows for this to be accomplished in blocks of variables, thus saving time.

The following three code blocks retrieve American Community Survey (5-year estimates) data for zip codes, counties, and states. Each block **also** merges in population data from 5 years ago so that each region's population growth can be measured.

In [11]:
zip_data = retrieve_census_data(df_variable_list = df_variables, year = year, region = 'zip', source = 'acs5', api_key = api_key)
zip_data = zip_data.merge(retrieve_single_census_variable(variable = 'B01001_001E', column_name = 'population', region = 'zip', year = year-5, source = 'acs5', api_key = api_key), on = 'NAME', how = 'outer')
zip_data

Retrieving data from rows 0 to 35

,NAME,Year,SEX BY AGE Estimate!!Total:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:!!Family households:!!Married-couple family,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with no people under 18 years:!!Family households:!!Married-couple family,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!Less than high school graduate:,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!High school graduate (includes equivalency):,...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!High school graduate (includes equivalency),"POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Some college, associate's degree",POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Bachelor's degree or higher,"POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Less than high school graduate","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!High school graduate (includes equivalency)","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Some college, associate's degree","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Bachelor's degree or higher",MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2021 INFLATION-ADJUSTED DOLLARS) Estimate!!Median household income in the past 12 months (in 2021 inflation-adjusted dollars),MEDIAN VALUE (DOLLARS) Estimate!!Median value (dollars),population_2016
0,00601,2021.0,17126.0,5397.0,1306.0,590.0,1580.0,12436.0,4318.0,3618.0,...,264.0,254.0,253.0,44.0,52.0,32.0,68.0,15292.0,78800.0,17800.0
1,00602,2021.0,37895.0,12858.0,3089.0,1545.0,4170.0,28138.0,9494.0,7243.0,...,930.0,764.0,997.0,314.0,134.0,195.0,332.0,18716.0,88500.0,39716.0
2,00603,2021.0,49136.0,19295.0,4975.0,1947.0,4978.0,35933.0,9061.0,10641.0,...,1066.0,1068.0,2117.0,385.0,190.0,284.0,632.0,16789.0,121600.0,51565.0
3,00606,2021.0,5751.0,1968.0,585.0,273.0,311.0,4208.0,1715.0,1358.0,...,121.0,94.0,28.0,89.0,40.0,80.0,28.0,18835.0,96500.0,6320.0
4,00610,2021.0,26153.0,8934.0,2247.0,1027.0,2730.0,19352.0,5725.0,5950.0,...,663.0,720.0,582.0,134.0,208.0,308.0,227.0,21239.0,89900.0,27976.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33966,48551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
33967,48553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
33968,48554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
33969,48667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
33970,48921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [12]:
county_data = retrieve_census_data(df_variable_list = df_variables, year = year, source = 'acs5', region = 'county', api_key = api_key)
county_data = county_data.merge(retrieve_single_census_variable(variable = 'B01001_001E', column_name = 'population', region = 'county', year = year-5, source = 'acs5', api_key = api_key), on = 'NAME', how = 'outer')
county_data

Retrieving data from rows 0 to 35

,NAME,Year,state,county,SEX BY AGE Estimate!!Total:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:!!Family households:!!Married-couple family,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with no people under 18 years:!!Family households:!!Married-couple family,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:,...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!High school graduate (includes equivalency),"POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Some college, associate's degree",POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Bachelor's degree or higher,"POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Less than high school graduate","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!High school graduate (includes equivalency)","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Some college, associate's degree","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Bachelor's degree or higher",MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2021 INFLATION-ADJUSTED DOLLARS) Estimate!!Median household income in the past 12 months (in 2021 inflation-adjusted dollars),MEDIAN VALUE (DOLLARS) Estimate!!Median value (dollars),population_2016
0,"Autauga County, Alabama",2021.0,1.0,1.0,58239.0,21856.0,7461.0,5145.0,6320.0,39614.0,...,2423.0,3375.0,4366.0,172.0,649.0,616.0,637.0,62660.0,164900.0,55049.0
1,"Baldwin County, Alabama",2021.0,1.0,3.0,227131.0,87190.0,23375.0,17327.0,30659.0,161977.0,...,10657.0,13916.0,20109.0,258.0,1451.0,2089.0,1641.0,64346.0,226600.0,199510.0
2,"Barbour County, Alabama",2021.0,1.0,5.0,25259.0,9088.0,2816.0,1238.0,2185.0,17995.0,...,1219.0,910.0,694.0,148.0,323.0,390.0,107.0,36422.0,89500.0,26614.0
3,"Bibb County, Alabama",2021.0,1.0,7.0,22412.0,7083.0,2297.0,1407.0,2334.0,16057.0,...,1629.0,943.0,560.0,70.0,156.0,158.0,20.0,54277.0,102900.0,22572.0
4,"Blount County, Alabama",2021.0,1.0,9.0,58884.0,21300.0,6986.0,5055.0,7006.0,40668.0,...,3470.0,4411.0,2225.0,323.0,454.0,758.0,242.0,52830.0,138100.0,57704.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3217,"Vieques Municipio, Puerto Rico",2021.0,72.0,147.0,8317.0,2374.0,445.0,83.0,631.0,5970.0,...,248.0,0.0,226.0,10.0,45.0,0.0,103.0,14942.0,123700.0,9046.0
3218,"Villalba Municipio, Puerto Rico",2021.0,72.0,149.0,22341.0,7823.0,2635.0,900.0,2053.0,15523.0,...,793.0,574.0,589.0,141.0,70.0,169.0,399.0,20722.0,93300.0,24186.0
3219,"Yabucoa Municipio, Puerto Rico",2021.0,72.0,151.0,31047.0,11905.0,3146.0,1234.0,3143.0,22690.0,...,780.0,1080.0,543.0,286.0,150.0,183.0,165.0,17267.0,85800.0,35670.0
3220,"Yauco Municipio, Puerto Rico",2021.0,72.0,153.0,34704.0,11836.0,2328.0,1188.0,3605.0,25661.0,...,1037.0,688.0,1071.0,121.0,204.0,85.0,326.0,16444.0,90800.0,38519.0
3221,"Valdez-Cordova Census Area, Alaska",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9522.0

In [13]:
state_data = retrieve_census_data(df_variable_list = df_variables, year = year, source = 'acs5', region = 'state', api_key = api_key)
state_data = state_data.merge(retrieve_single_census_variable(variable = 'B01001_001E', column_name = 'population', region = 'state', year = year-5, source = 'acs5', api_key = api_key), on = 'NAME', how = 'outer')
state_data

Retrieving data from rows 0 to 35

,NAME,Year,state,SEX BY AGE Estimate!!Total:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:!!Family households:!!Married-couple family,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with no people under 18 years:!!Family households:!!Married-couple family,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!Less than high school graduate:,...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!High school graduate (includes equivalency),"POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Some college, associate's degree",POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Bachelor's degree or higher,"POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Less than high school graduate","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!High school graduate (includes equivalency)","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Some college, associate's degree","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Bachelor's degree or higher",MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2021 INFLATION-ADJUSTED DOLLARS) Estimate!!Median household income in the past 12 months (in 2021 inflation-adjusted dollars),MEDIAN VALUE (DOLLARS) Estimate!!Median value (dollars),population_2016
0,Alabama,2021,1,4997675,1902983,560352,348633,546370,3413803,430047,...,208851,268491,316069,17713,50598,69704,42695,54943,157100,4841164
1,Alaska,2021,2,735951,260561,88146,59909,69970,484382,32669,...,24771,46703,49483,1218,5495,9011,5065,80287,282800,736855
2,Arizona,2021,4,7079203,2683557,818733,512219,757947,4792007,560460,...,206512,410997,494969,28138,56097,101572,62093,65913,265600,6728577
3,Arkansas,2021,5,3006309,1158460,362428,226713,326603,2021290,248721,...,143614,162903,174009,11063,30752,39293,23621,52123,142100,2968472
4,California,2021,6,39455353,13217586,4462011,3030853,3508592,26797070,4236035,...,931028,1748928,2797512,200554,275209,492019,383829,84097,573200,38654206
5,Colorado,2021,8,5723176,2227932,666878,475845,628523,3937040,300620,...,158639,300768,556453,13748,35548,58363,55021,80184,397500,5359295
6,Connecticut,2021,9,3605330,1397324,411169,270122,396404,2515137,225021,...,123021,152512,341828,12299,39055,45682,43242,83572,286700,3588570
7,Delaware,2021,10,981892,381097,105611,64271,117210,690618,61788,...,39479,47811,78404,2400,10880,12540,11450,72724,269700,934695
8,District of Columbia,2021,11,683154,310104,62069,31755,48195,487726,37934,...,4929,7069,62189,2840,7750,8814,9687,93547,635900,659009
9,Florida,2021,12,21339762,8157420,2196679,1357347,2458358,15349290,1682505,...,756977,1108886,1511694,77593,212695,294277,227982,61777,248700,19934451
10,Georgia,2021,13,10625615,3885371,1274206,794739,1033589,7075856,831989,...,363041,494276,764347,40553,107730,156247,125404,65030,206700,10099320
11,Hawaii,2021,15,1453498,478413,149671,102413,141729,1020422,74468,...,44095,79051,102459,4178,13268,17319,14478,88005,662100,1413673
12,Idaho,2021,16,1811617,657101,212709,154761,206858,1185197,104683,...,69954,126971,128966,4263,10345,17767,10920,63377,266500,1635483
13,Illinois,2021,17,12821813,4930255,1470835,971553,1334780,8764878,885321,...,429565,626458,1018088,41492,108760,169982,131714,72563,212600,12851684
14,Indiana,2021,18,6751340,2622601,802098,513016,745368,4501214,460480,...,323645,364498,447588,19760,67191,81307,49956,61944,158500,6589578
15,Iowa,2021,19,3179090,1275893,373278,251916,377865,2119884,152380,...,148816,202183,232278,5932,22053,37187,21004,65429,160700,3106589
16,Kansas,2021,20,2932099,1139738,351066,240755,331177,1921951,161293,...,106949,173271,241160,6266,18544,34169,23994,64521,164800,2898292
17,Kentucky,2021,21,4494141,1748475,536083,339931,494743,3053564,376963,...,213322,239361,277213,13682,41217,54323,34393,55454,155100,4411989
18,Louisiana,2021,22,4657305,1748688,539373,306675,447374,3133855,431595,...,197811,209033,253053,20613,53485,60351,42747,53571,174000,4645670
19,Maine,2021,23,1357046,571064,141348,93422,181862,994900,62607,...,64975,80646,112283,1615,11122,13582,12797,63182,212100,1329923
20,Maryland,2021,24,6148545,2294270,721439,470459,616674,4240795,391353,...,174579,253020,573292,19519,61962,94702,91026,91431,338500,5959902
21,Massachusetts,2021,25,6991852,2714448,779995,526803,741802,4902868,433215,...,207486,268172,692500,25089,63652,87256,82722,89026,424700,6742143
22,Michigan,2021,26,10062512,3976729,1117368,714447,1146767,6923132,582901,...,377195,592882,735601,25759,90732,143775,85592,63202,172100,9909600
23,Minnesota,2021,27,5670472,2229100,665077,461287,653761,3847501,247610,...,192620,341860,515878,12463,34793,67596,47203,77706,250200,5450868
24,Mississippi,2021,28,2967023,1108670,354436,201440,292133,1974105,283522,...,110756,163896,152903,14341,29644,48159,27717,49111,133000,2989192
25,Missouri,2021,29,6141534,2433819,710415,460666,700281,4187819,377539,...,264643,341946,451894,16559,55993,78231,52014,61043,171800,6059651
26,Montana,2021,30,1077978,436481,114178,78332,136118,746462,42160,...,45258,68622,85757,1084,6306,10236,8077,60560,263700,1023391
27,Nebraska,2021,31,1951480,766887,237877,163221,219622,1275315,105606,...,71760,124725,155576,4328,12645,22016,15555,66644,174100,1881259
28,Nevada,2021,32,3059238,1141952,346803,209216,297180,2116718,274760,...,101943,170669,163615,13767,31192,45203,25341,65686,315900,2839172
29,New Hampshire,2021,33,1372175,540498,146414,102118,179824,986106,62809,...,55108,78764,133301,2314,9661,13593,12387,83449,288700,1327503
30,New Jersey,2021,34,9234024,3397156,1089738,763304,959991,6411606,608877,...,316230,362366,894662,30213,99676,104960,113929,89703,355700,8915456
31,New Mexico,2021,35,2109366,797596,230934,130506,209236,1426639,188715,...,61906,103353,122214,7983,16985,29720,21304,54020,184800,2082669
32,New York,2021,36,20114745,7530150,2154604,1376040,1917385,14081080,1769657,...,618778,769681,1494629,94991,206307,252939,254631,75157,340600,19697457
33,North Carolina,2021,37,10367022,4034684,1212222,771013,1151683,7084876,776686,...,350932,576840,793305,34500,87101,147751,105361,60516,197500,9940828
34,North Dakota,2021,38,773344,316542,88184,61533,88815,503897,33831,...,29721,54062,56348,1333,4312,7168,5564,68131,209900,736162
35,Ohio,2021,39,11769923,4754161,1370178,843150,1311704,8077453,715751,...,538695,606231,830629,31810,124973,159894,99451,61938,159900,11586941
36,Oklahoma,2021,40,3948136,1503868,480239,305252,413571,2607741,293373,...,163337,219186,247723,11518,35361,49451,31278,56956,150800,3875589
37,Oregon,2021,41,4207177,1658091,467353,314656,480358,2971396,252602,...,124944,259183,337125,9786,27153,54533,36634,70084,362200,3982267
38,Pennsylvania,2021,42,12970650,5147783,1430404,922591,1505156,9111497,787376,...,630814,584375,1010949,36916,152018,147603,117807,67587,197300,12783977
39,Rhode Island,2021,44,1091949,426769,118465,73787,115811,766615,83508,...,37895,47667,85209,4119,13683,15245,10679,74489,292600,1054491
40,South Carolina,2021,45,5078903,1976447,571926,349976,583040,3507171,393448,...,192871,282649,361381,19691,53599,76422,45721,58234,181800,4834605
41,South Dakota,2021,46,881785,345779,102237,68879,102113,580235,43328,...,40667,54131,64371,1314,4947,9479,5757,63920,187800,851058
42,Tennessee,2021,47,6859497,2664791,799608,504675,769206,4708480,529162,...,302538,360572,471033,22853,71699,86670,59954,58516,193700,6548009
43,Texas,2021,48,28862581,10239341,3707603,2463475,2657092,18619469,2826181,...,906040,1390641,2005509,141860,243986,370471,262620,67321,202600,26956435
44,Utah,2021,49,3231370,1033651,410822,322671,302207,1921860,132503,...,97000,212903,265354,6164,18769,29538,19673,79133,339700,2948427
45,Vermont,2021,50,641637,262514,63429,41820,81768,454463,27915,...,25259,31197,59922,890,4520,5758,6934,67674,240600,626249
46,Virginia,2021,51,8582479,3248528,1009004,693029,924352,5882521,539599,...,264148,412012,809893,27241,70454,103001,92939,80615,295500,8310301
47,Washington,2021,53,7617364,2931841,891334,620711,846878,5278652,426501,...,222970,466936,660653,17725,46989,95293,64613,82400,397600,7073146
48,West Virginia,2021,54,1801049,711352,187806,121683,220478,1277914,152581,...,112698,90529,94691,5532,17575,16095,11037,50884,128800,1846092
49,Wisconsin,2021,55,5871661,2401818,662097,432376,718825,4027685,285275,...,258536,359600,452233,12101,48307,71112,45577,67080,200400,5754798
50,Wyoming,2021,56,576641,230653,67134,47639,70234,390162,24433,...,26853,42960,40059,740,3436,6351,3027,68002,237900,583029
51,Puerto Rico,2021,72,3311274,1196790,309054,127022,310897,2399112,519160,...,75991,77778,128408,17201,21510,27349,51513,21967,111800,3529385

I admit that many of the column names are obscenely long and unwieldy. This is less of an issue when viewing the table as a CSV export (which I'll perform later), since spreadsheet software can make the columns a uniform width while allowing the full name to be displayed in a separate box. An alternative to these long names, though, would be to keep the variable codes as the column name, then include a key mapping each variable code to its description.

So far, the values shown in the DataFrame are nominal in nature. For example, the table reports on the number of married-couple households with one or more children, but doesn't say what *proportion* have at laest one child--which is much more useful when comparing different zip codes.

Therefore, in the following code block, I added additional columns to the DataFrame that generate various proportions using a function called calc_proportion_and_rename. Some of these were generated using pre-existing totals as a denominator, whereas others used the sum of two diferent statistics as the denominator. (For example, to calculate the proportion of children below the poverty level for a given zip code, I divided the number of children below the poverty level by the sum of (1) children below the poverty level and (2) children above the poverty level. This was a useful strategy when a given Census table didn't have a 'totals' row.

(When creating proportions, be careful about using a total in one table as the denominator for a proportion calculation that involves a separate table. For example, if Table A says that there are 10,000 kids in a zip code, and Table B says that there are 2,000 kids below the poverty line, you may be tempted to conclude that the proportion of children below the poverty line equals 2,000/10,000 = 0.2. However, suppose not all the kids identified in Table A show up in Table B, and that Table B doesn't have a totals row. In that case, you'd want to divide the proportion of kids in Table B above below the poverty level (2,000) by the number in Table B above the poverty level (let's say it's 6,000) to arrive at a more accurate proportion--in this case, 2,000/(2,000+6,000) = 2,000/8,000 = 25%.)

The calc_proportions_and_rename function also renames certain columns to make them more intuitive.

In [14]:
def calc_proportions_and_rename(df_results):

    df_results['5_year_population_growth'] = (df_results['SEX BY AGE Estimate!!Total:']/df_results[f'population_{year-5}']-1)

    df_results['Married_couple_households_with_one_or_more_children_as_proportion_of_all_households'] = df_results['HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:!!Family households:!!Married-couple family']/df_results['HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:']

    df_results['Married_couple_households_with_one_or_more_children_as_proportion_of_all_households_with_one_or_more_children'] = df_results['HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:!!Family households:!!Married-couple family']/df_results['HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:']

    df_results['Proportion_of_children_below_poverty_level'] = df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months below poverty level:']/(df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months below poverty level:'] + df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months at or above poverty level:'])

    df_results['Proportion_of_children_in_married_couple_families_below_poverty_level'] = df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months below poverty level:!!In married-couple family:']/(df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months below poverty level:!!In married-couple family:'] + df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!In married-couple family:'])

    df_results['Proportion_of_children_in_female_householder_families_below_poverty_level'] = df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months below poverty level:!!In other family:!!Female householder, no spouse present:']/(df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months below poverty level:!!In other family:!!Female householder, no spouse present:'] + df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!In other family:!!Female householder, no spouse present:'])

    df_results['Proportion_of_children_in_male_householder_families_below_poverty_level'] = df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months below poverty level:!!In other family:!!Male householder, no spouse present:']/(df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months below poverty level:!!In other family:!!Male householder, no spouse present:'] + df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!In other family:!!Male householder, no spouse present:'])

    # Calculating proportions of residents living below the poverty level by education and household type

    df_results['Proportion_of_married-couple_families_below_the_poverty_level_where_householder_did_not_graduate_high_school'] = df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!Less than high school graduate']/(df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!Less than high school graduate']+df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Less than high school graduate'])

    df_results['Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_=_high_school_graduate/equivalent'] = df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!High school graduate (includes equivalency)"]/(df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!High school graduate (includes equivalency)"]+df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!High school graduate (includes equivalency)"])

    df_results['Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_=_some_college_or_associate\'s_degree'] = df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!Some college, associate's degree"]/(df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!Some college, associate's degree"]+df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Some college, associate's degree"])

    df_results['Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_level_=_bachelor\'s_degree_or_higher'] = df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!Bachelor's degree or higher"]/(df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!Bachelor's degree or higher"]+df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Bachelor's degree or higher"])


    df_results['Proportion_of_female-householder_families_below_the_poverty_level_where_householder_did_not_graduate_high_school'] = df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other families:!!Female householder, no spouse present:!!Less than high school graduate"]/(df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other families:!!Female householder, no spouse present:!!Less than high school graduate']+df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Less than high school graduate'])

    df_results['Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_=_high_school_graduate/equivalent'] = df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other families:!!Female householder, no spouse present:!!High school graduate (includes equivalency)']/(df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other families:!!Female householder, no spouse present:!!High school graduate (includes equivalency)']+df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!High school graduate (includes equivalency)'])

    df_results['Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_=_some_college_or_associate\'s_degree'] = df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other families:!!Female householder, no spouse present:!!Some college, associate's degree"]/(df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other families:!!Female householder, no spouse present:!!Some college, associate's degree"]+df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Some college, associate's degree"])

    df_results['Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_level_=_bachelor\'s_degree_or_higher'] = df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other families:!!Female householder, no spouse present:!!Bachelor's degree or higher"]/(df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other families:!!Female householder, no spouse present:!!Bachelor's degree or higher"]+df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Bachelor's degree or higher"])

    df_results['Proportion_of_individuals_25+y/o_who_did_not_graduate_high_school'] = df_results['EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!Less than high school graduate:']/(df_results['EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:'])

    df_results['Proportion_of_individuals_25+y/o_whose_highest_education_level_=_high_school_graduate/equivalent'] = df_results['EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!High school graduate (includes equivalency):']/(df_results['EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:'])

    df_results['Proportion_of_individuals_25+_y/o_whose_highest_education_level_=_some_college/associate\'s_degree'] = df_results["EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!Some college or associate's degree:"]/(df_results['EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:'])

    df_results['Proportion_of_individuals_25+_y/o_whose_highest_education_level_=_bachelor\'s_degree_or_higher'] = df_results["EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!Bachelor's degree or higher:"]/(df_results['EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:'])

    df_results['Median_income_as_proportion_of_median_home_value'] = df_results[f"MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN {year} INFLATION-ADJUSTED DOLLARS) Estimate!!Median household income in the past 12 months (in {year} inflation-adjusted dollars)"]/df_results['MEDIAN VALUE (DOLLARS) Estimate!!Median value (dollars)']

    # df_results[''] = df_results['']/(df_results['']+df_results[''])

    df_results.rename(columns = {

        "SEX BY AGE Estimate!!Total:":"Total_population",

        f"MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN {year} INFLATION-ADJUSTED DOLLARS) Estimate!!Median household income in the past 12 months (in {year} inflation-adjusted dollars)":"Median_household_income",
        
        "HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:":"Households",

        'MEDIAN VALUE (DOLLARS) Estimate!!Median value (dollars)':'Median House Value',
        
        },inplace=True)



    return df_results

In [15]:
county_data = calc_proportions_and_rename(county_data)
county_data

,NAME,Year,state,county,Total_population,Households,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:!!Family households:!!Married-couple family,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with no people under 18 years:!!Family households:!!Married-couple family,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:,...,Proportion_of_married-couple_families_below_the_poverty_level_where_householder's_highest_education_level_=_bachelor's_degree_or_higher,Proportion_of_female-householder_families_below_the_poverty_level_where_householder_did_not_graduate_high_school,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_=_high_school_graduate/equivalent,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_=_some_college_or_associate's_degree,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_level_=_bachelor's_degree_or_higher,Proportion_of_individuals_25+y/o_who_did_not_graduate_high_school,Proportion_of_individuals_25+y/o_whose_highest_education_level_=_high_school_graduate/equivalent,Proportion_of_individuals_25+_y/o_whose_highest_education_level_=_some_college/associate's_degree,Proportion_of_individuals_25+_y/o_whose_highest_education_level_=_bachelor's_degree_or_higher,Median_income_as_proportion_of_median_home_value
0,"Autauga County, Alabama",2021.0,1.0,1.0,58239.0,21856.0,7461.0,5145.0,6320.0,39614.0,...,0.011994,0.582524,0.402944,0.254237,0.057692,0.104155,0.327586,0.286944,0.281315,0.379988
1,"Baldwin County, Alabama",2021.0,1.0,3.0,227131.0,87190.0,23375.0,17327.0,30659.0,161977.0,...,0.012571,0.395785,0.270854,0.261837,0.169954,0.089858,0.273755,0.311884,0.324503,0.283963
2,"Barbour County, Alabama",2021.0,1.0,5.0,25259.0,9088.0,2816.0,1238.0,2185.0,17995.0,...,0.038781,0.734291,0.405157,0.422222,0.053097,0.243290,0.366769,0.278411,0.111531,0.406950
3,"Bibb County, Alabama",2021.0,1.0,7.0,22412.0,7083.0,2297.0,1407.0,2334.0,16057.0,...,0.000000,0.461538,0.686117,0.000000,0.000000,0.194619,0.439185,0.247057,0.119138,0.527473
4,"Blount County, Alabama",2021.0,1.0,9.0,58884.0,21300.0,6986.0,5055.0,7006.0,40668.0,...,0.013304,0.398510,0.299383,0.109283,0.043478,0.163519,0.351234,0.336210,0.149036,0.382549
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3217,"Vieques Municipio, Puerto Rico",2021.0,72.0,147.0,8317.0,2374.0,445.0,83.0,631.0,5970.0,...,0.134100,0.935484,0.785714,1.000000,0.112069,0.270184,0.481072,0.107203,0.141541,0.120792
3218,"Villalba Municipio, Puerto Rico",2021.0,72.0,149.0,22341.0,7823.0,2635.0,900.0,2053.0,15523.0,...,0.073899,0.602817,0.854470,0.673114,0.297535,0.214456,0.352316,0.218514,0.214714,0.222101
3219,"Yabucoa Municipio, Puerto Rico",2021.0,72.0,151.0,31047.0,11905.0,3146.0,1234.0,3143.0,22690.0,...,0.096506,0.658711,0.720149,0.756325,0.584383,0.268709,0.264918,0.292243,0.174130,0.201247
3220,"Yauco Municipio, Puerto Rico",2021.0,72.0,153.0,34704.0,11836.0,2328.0,1188.0,3605.0,25661.0,...,0.063811,0.647230,0.651282,0.817987,0.291304,0.221503,0.346596,0.172713,0.259187,0.181101
3221,"Valdez-Cordova Census Area, Alaska",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
state_data = calc_proportions_and_rename(state_data)
state_data

,NAME,Year,state,Total_population,Households,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:!!Family households:!!Married-couple family,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with no people under 18 years:!!Family households:!!Married-couple family,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!Less than high school graduate:,...,Proportion_of_married-couple_families_below_the_poverty_level_where_householder's_highest_education_level_=_bachelor's_degree_or_higher,Proportion_of_female-householder_families_below_the_poverty_level_where_householder_did_not_graduate_high_school,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_=_high_school_graduate/equivalent,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_=_some_college_or_associate's_degree,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_level_=_bachelor's_degree_or_higher,Proportion_of_individuals_25+y/o_who_did_not_graduate_high_school,Proportion_of_individuals_25+y/o_whose_highest_education_level_=_high_school_graduate/equivalent,Proportion_of_individuals_25+_y/o_whose_highest_education_level_=_some_college/associate's_degree,Proportion_of_individuals_25+_y/o_whose_highest_education_level_=_bachelor's_degree_or_higher,Median_income_as_proportion_of_median_home_value
0,Alabama,2021,1,4997675,1902983,560352,348633,546370,3413803,430047,...,0.015981,0.518930,0.374731,0.291316,0.116265,0.125973,0.305000,0.302338,0.266689,0.349733
1,Alaska,2021,2,735951,260561,88146,59909,69970,484382,32669,...,0.010815,0.408163,0.314838,0.176551,0.066359,0.067445,0.284637,0.341980,0.305938,0.283900
2,Arizona,2021,4,7079203,2683557,818733,512219,757947,4792007,560460,...,0.021783,0.434401,0.280503,0.214228,0.094485,0.116957,0.234870,0.336108,0.312065,0.248166
3,Arkansas,2021,5,3006309,1158460,362428,226713,326603,2021290,248721,...,0.020495,0.443231,0.363313,0.309195,0.104315,0.123051,0.340739,0.293163,0.243047,0.366805
4,California,2021,6,39455353,13217586,4462011,3030853,3508592,26797070,4236035,...,0.021342,0.357584,0.251755,0.189619,0.091823,0.158078,0.204394,0.284824,0.352704,0.146715
5,Colorado,2021,8,5723176,2227932,666878,475845,628523,3937040,300620,...,0.014519,0.381946,0.253303,0.200518,0.084783,0.076357,0.205986,0.289373,0.428283,0.201721
6,Connecticut,2021,9,3605330,1397324,411169,270122,396404,2515137,225021,...,0.014189,0.416501,0.244657,0.201392,0.073631,0.089467,0.261198,0.243804,0.405531,0.291496
7,Delaware,2021,10,981892,381097,105611,64271,117210,690618,61788,...,0.015235,0.409594,0.279756,0.213152,0.063318,0.089468,0.303971,0.270089,0.336473,0.269648
8,District of Columbia,2021,11,683154,310104,62069,31755,48195,487726,37934,...,0.007738,0.508565,0.376809,0.245570,0.067841,0.077777,0.154927,0.153285,0.614011,0.147110
9,Florida,2021,12,21339762,8157420,2196679,1357347,2458358,15349290,1682505,...,0.029216,0.394004,0.278574,0.200751,0.101382,0.109615,0.279031,0.296033,0.315321,0.248400
10,Georgia,2021,13,10625615,3885371,1274206,794739,1033589,7075856,831989,...,0.017962,0.445391,0.322691,0.252871,0.094445,0.117581,0.272101,0.280290,0.330027,0.314611
11,Hawaii,2021,15,1453498,478413,149671,102413,141729,1020422,74468,...,0.017613,0.255258,0.231998,0.158291,0.088746,0.072978,0.268447,0.315171,0.343405,0.132918
12,Idaho,2021,16,1811617,657101,212709,154761,206858,1185197,104683,...,0.025495,0.368164,0.321239,0.238056,0.093099,0.088325,0.265374,0.354971,0.291329,0.237812
13,Illinois,2021,17,12821813,4930255,1470835,971553,1334780,8764878,885321,...,0.016357,0.394383,0.309109,0.243724,0.084773,0.101008,0.253989,0.283382,0.361622,0.341312
14,Indiana,2021,18,6751340,2622601,802098,513016,745368,4501214,460480,...,0.015799,0.452571,0.307381,0.271730,0.092336,0.102301,0.330132,0.289131,0.278436,0.390814
15,Iowa,2021,19,3179090,1275893,373278,251916,377865,2119884,152380,...,0.013744,0.415451,0.311790,0.253827,0.119588,0.071881,0.306089,0.324976,0.297054,0.407150
16,Kansas,2021,20,2932099,1139738,351066,240755,331177,1921951,161293,...,0.014362,0.452512,0.330662,0.251123,0.092683,0.083921,0.256687,0.315348,0.344044,0.391511
17,Kentucky,2021,21,4494141,1748475,536083,339931,494743,3053564,376963,...,0.017522,0.506777,0.367255,0.319448,0.119145,0.123450,0.327652,0.291798,0.257100,0.357537
18,Louisiana,2021,22,4657305,1748688,539373,306675,447374,3133855,431595,...,0.017232,0.519566,0.401834,0.335649,0.128288,0.137720,0.330648,0.276328,0.255303,0.307879
19,Maine,2021,23,1357046,571064,141348,93422,181862,994900,62607,...,0.015951,0.466997,0.270449,0.241864,0.094723,0.062928,0.308958,0.291950,0.336164,0.297888
20,Maryland,2021,24,6148545,2294270,721439,470459,616674,4240795,391353,...,0.015160,0.352904,0.245102,0.157583,0.054167,0.092283,0.239175,0.252940,0.415602,0.270106
21,Massachusetts,2021,25,6991852,2714448,779995,526803,741802,4902868,433215,...,0.013748,0.348253,0.254311,0.198324,0.079629,0.088360,0.231922,0.227667,0.452052,0.209621
22,Michigan,2021,26,10062512,3976729,1117368,714447,1146767,6923132,582901,...,0.016593,0.467096,0.322359,0.242296,0.098253,0.084196,0.284738,0.324895,0.306171,0.367240
23,Minnesota,2021,27,5670472,2229100,665077,461287,653761,3847501,247610,...,0.010420,0.409616,0.257004,0.196071,0.071154,0.064356,0.238881,0.321074,0.375689,0.310576
24,Mississippi,2021,28,2967023,1108670,354436,201440,292133,1974105,283522,...,0.021039,0.509977,0.439389,0.342575,0.127628,0.143621,0.297966,0.325939,0.232474,0.369256
25,Missouri,2021,29,6141534,2433819,710415,460666,700281,4187819,377539,...,0.016159,0.449940,0.308882,0.244889,0.094306,0.090152,0.304837,0.298122,0.306890,0.355314
26,Montana,2021,30,1077978,436481,114178,78332,136118,746462,42160,...,0.019707,0.475315,0.340377,0.254316,0.099052,0.056480,0.277973,0.328992,0.336556,0.229655
27,Nebraska,2021,31,1951480,766887,237877,163221,219622,1275315,105606,...,0.013306,0.384353,0.299213,0.231473,0.072948,0.082808,0.255894,0.331831,0.329468,0.382791
28,Nevada,2021,32,3059238,1141952,346803,209216,297180,2116718,274760,...,0.025289,0.373715,0.253172,0.197461,0.095320,0.129805,0.277594,0.332008,0.260594,0.207933
29,New Hampshire,2021,33,1372175,540498,146414,102118,179824,986106,62809,...,0.011758,0.339235,0.206880,0.190652,0.085830,0.063694,0.273137,0.280822,0.382347,0.289051
30,New Jersey,2021,34,9234024,3397156,1089738,763304,959991,6411606,608877,...,0.015520,0.414091,0.244111,0.186672,0.079629,0.094965,0.264140,0.225890,0.415006,0.252187
31,New Mexico,2021,35,2109366,797596,230934,130506,209236,1426639,188715,...,0.021207,0.502710,0.353839,0.293458,0.111297,0.132279,0.260331,0.322075,0.285315,0.292316
32,New York,2021,36,20114745,7530150,2154604,1376040,1917385,14081080,1769657,...,0.021966,0.411069,0.280910,0.215133,0.093349,0.125676,0.252367,0.240828,0.381129,0.220661
33,North Carolina,2021,37,10367022,4034684,1212222,771013,1151683,7084876,776686,...,0.017141,0.451859,0.337705,0.270160,0.096304,0.109626,0.252311,0.307900,0.330163,0.306410
34,North Dakota,2021,38,773344,316542,88184,61533,88815,503897,33831,...,0.016580,0.358209,0.309306,0.246188,0.135891,0.067139,0.260768,0.361213,0.310881,0.324588
35,Ohio,2021,39,11769923,4754161,1370178,843150,1311704,8077453,715751,...,0.013017,0.491739,0.337783,0.276023,0.092095,0.088611,0.326446,0.288026,0.296916,0.387355
36,Oklahoma,2021,40,3948136,1503868,480239,305252,413571,2607741,293373,...,0.020079,0.481358,0.373743,0.292789,0.098227,0.112501,0.308208,0.310805,0.268486,0.377692
37,Oregon,2021,41,4207177,1658091,467353,314656,480358,2971396,252602,...,0.018550,0.404455,0.300865,0.207761,0.091892,0.085011,0.224838,0.339779,0.350372,0.193495
38,Pennsylvania,2021,42,12970650,5147783,1430404,922591,1505156,9111497,787376,...,0.012827,0.437762,0.291123,0.236945,0.096454,0.086416,0.337962,0.244475,0.331148,0.342560
39,Rhode Island,2021,44,1091949,426769,118465,73787,115811,766615,83508,...,0.013682,0.372773,0.226556,0.188362,0.089910,0.108931,0.278779,0.259090,0.353201,0.254576
40,South Carolina,2021,45,5078903,1976447,571926,349976,583040,3507171,393448,...,0.018608,0.450295,0.344707,0.259764,0.115956,0.112184,0.287414,0.302035,0.298367,0.320319
41,South Dakota,2021,46,881785,345779,102237,68879,102113,580235,43328,...,0.016426,0.575855,0.356446,0.277515,0.089226,0.074673,0.301242,0.324143,0.299942,0.340362
42,Tennessee,2021,47,6859497,2664791,799608,504675,769206,4708480,529162,...,0.018548,0.455596,0.347776,0.267365,0.099046,0.112385,0.315561,0.281682,0.290372,0.302096
43,Texas,2021,48,28862581,10239341,3707603,2463475,2657092,18619469,2826181,...,0.020815,0.444229,0.334305,0.242287,0.099117,0.151786,0.245099,0.287789,0.315326,0.332285
44,Utah,2021,49,3231370,1033651,410822,322671,302207,1921860,132503,...,0.025333,0.354623,0.215015,0.193898,0.095951,0.068945,0.226661,0.350123,0.354271,0.232950
45,Vermont,2021,50,641637,262514,63429,41820,81768,454463,27915,...,0.015509,0.400270,0.314840,0.201165,0.081468,0.061424,0.279732,0.250251,0.408592,0.281272
46,Virginia,2021,51,8582479,3248528,1009004,693029,924352,5882521,539599,...,0.012935,0.376579,0.281353,0.209230,0.082501,0.091729,0.238416,0.266559,0.403296,0.272809
47,Washington,2021,53,7617364,2931841,891334,620711,846878,5278652,426501,...,0.015532,0.411696,0.270957,0.207727,0.091736,0.080797,0.217914,0.328465,0.372824,0.207243
48,West Virginia,2021,54,1801049,711352,187806,121683,220478,1277914,152581,...,0.018024,0.424410,0.379830,0.348275,0.099388,0.119398,0.400834,0.262005,0.217762,0.395062
49,Wisconsin,2021,55,5871661,2401818,662097,432376,718825,4027685,285275,...,0.012665,0.401977,0.294562,0.219107,0.078825,0.070829,0.300359,0.313917,0.314895,0.334731
50,Wyoming,2021,56,576641,230653,67134,47639,70234,390162,24433,...,0.019819,0.401778,0.337830,0.233896,0.127163,0.062623,0.284369,0.367786,0.285223,0.285843
51,Puerto Rico,2021,72,3311274,1196790,309054,127022,310897,2399112,519160,...,0.085022,0.664338,0.713574,0.627824,0.288553,0.216397,0.280309,0.228981,0.274314,0.196485

In [17]:
zip_data = calc_proportions_and_rename(zip_data)
zip_data

,NAME,Year,Total_population,Households,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:!!Family households:!!Married-couple family,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with no people under 18 years:!!Family households:!!Married-couple family,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!Less than high school graduate:,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!High school graduate (includes equivalency):,...,Proportion_of_married-couple_families_below_the_poverty_level_where_householder's_highest_education_level_=_bachelor's_degree_or_higher,Proportion_of_female-householder_families_below_the_poverty_level_where_householder_did_not_graduate_high_school,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_=_high_school_graduate/equivalent,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_=_some_college_or_associate's_degree,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_level_=_bachelor's_degree_or_higher,Proportion_of_individuals_25+y/o_who_did_not_graduate_high_school,Proportion_of_individuals_25+y/o_whose_highest_education_level_=_high_school_graduate/equivalent,Proportion_of_individuals_25+_y/o_whose_highest_education_level_=_some_college/associate's_degree,Proportion_of_individuals_25+_y/o_whose_highest_education_level_=_bachelor's_degree_or_higher,Median_income_as_proportion_of_median_home_value
0,00601,2021.0,17126.0,5397.0,1306.0,590.0,1580.0,12436.0,4318.0,3618.0,...,0.469602,0.843416,0.820690,0.885714,0.704348,0.347218,0.290930,0.216227,0.145626,0.194061
1,00602,2021.0,37895.0,12858.0,3089.0,1545.0,4170.0,28138.0,9494.0,7243.0,...,0.062088,0.577389,0.711207,0.643510,0.446667,0.337408,0.257410,0.187007,0.218175,0.211480
2,00603,2021.0,49136.0,19295.0,4975.0,1947.0,4978.0,35933.0,9061.0,10641.0,...,0.110504,0.663755,0.849206,0.746202,0.362903,0.252164,0.296134,0.209028,0.242674,0.138067
3,00606,2021.0,5751.0,1968.0,585.0,273.0,311.0,4208.0,1715.0,1358.0,...,0.317073,0.639676,0.583333,0.252336,0.404255,0.407557,0.322719,0.166112,0.103612,0.195181
4,00610,2021.0,26153.0,8934.0,2247.0,1027.0,2730.0,19352.0,5725.0,5950.0,...,0.114155,0.683215,0.552688,0.385230,0.307927,0.295835,0.307462,0.208299,0.188404,0.236251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33966,48551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33967,48553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33968,48554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33969,48667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33970,48921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

A look at the first few rows in the zip code table reveals that some median household income values are clearly inaccurate! $-666,666,666 is *not* the actual median household income in any zip code, yet that's the value listed for 2,229 entries in zip_data, as shown below:

In [18]:
len(zip_data.query("Median_household_income == -666666666"))

3113

This means that, when performing average calculations across the entire dataset, you must be extremely careful--otherwise, you'll end up with results like the one below:

In [19]:
np.mean(zip_data['Median_household_income'])

-61386582.28983834

These results are, of course, skewed by the thousands of -666,666,666 values. The U.S. would be in dire shape if the average median household income among zip codes were truly $-46,219,120! 

As shown below, performing some basic data cleaning (e.g. removing any results with a negative median household income) can produce a more accurate number.

In [20]:
np.mean(zip_data.query('Median_household_income > 0')['Median_household_income'])

67280.94325038322

I then exported this zip code, county, and state data to a CSV. I created copies of the county and zip code DataFrames that only include regions with at least 1,000 households, since lower sample sizes in smaller zip codes can skew the sample sizes shown.

In [21]:
zip_data_1k_plus_households = zip_data.query("Households > 1000").reset_index(drop=True)
county_data_1k_plus_households = county_data.query("Households > 1000").reset_index(drop=True)

zip_data.to_csv(f'acs5_{year}_zip_results.csv', index = False)
zip_data_1k_plus_households.to_csv(f'acs5_{year}_zip_results_1k_plus_households.csv', index = False)

county_data.to_csv(f'acs5_{year}_county_results.csv', index = False)
county_data_1k_plus_households.to_csv(f'acs5_{year}_county_results_1k_plus_households.csv', index = False)

state_data.to_csv(f'acs5_{year}_state_results.csv', index = False)

Next, I'll use the compare_variable_across_years function within census_query.py to evaluate how county, state, and zip codes have grown in population over time. Whereas the previous functions all used the American Community Survey (5-year estimates) as a data source, some of the code blocks below will also use data from the decennial census and the American Community Survey (1-year estimates). 

The variable codes for a region's total population can be retrieved within the Census API website (see links near the beginning of this tutorial). They are as follows:

ACS5: population = B01001_001E

ACS1: population = B01001_001E

Census (redistricting data): population = P1_001N

Census (SF1 data): population = P001001

In [22]:
acs5_state_pop_5_year_periods = compare_variable_across_years(variable = 'B01001_001E', variable_name = 'population', source= 'acs5', year_list = [year-10, year-5, year], region = 'state', api_key = api_key)
acs5_state_pop_5_year_periods.to_csv(f'acs5_state_pop_{year-10}_{year-5}_{year}.csv', index = False)
acs5_state_pop_5_year_periods

Retrieving data for: 2011
Retrieving data for: 2016
Retrieving data for: 2021

,NAME,state,population_2011,population_2016,population_2021,2011_to_2016_chg,2016_to_2021_chg,2011_to_2021_chg
0,Mississippi,28,2956700,2989192,2967023,0.010989,-0.007416,0.003491
1,Missouri,29,5955802,6059651,6141534,0.017437,0.013513,0.031185
2,Montana,30,982854,1023391,1077978,0.041244,0.053339,0.096783
3,Nebraska,31,1813061,1881259,1951480,0.037615,0.037327,0.076345
4,Nevada,32,2673396,2839172,3059238,0.062010,0.077511,0.144327
5,New Hampshire,33,1315911,1327503,1372175,0.008809,0.033651,0.042757
6,New Jersey,34,8753064,8915456,9234024,0.018553,0.035732,0.054948
7,New Mexico,35,2037136,2082669,2109366,0.022351,0.012819,0.035457
8,New York,36,19302448,19697457,20114745,0.020464,0.021185,0.042083
9,North Carolina,37,9418736,9940828,10367022,0.055431,0.042873,0.100681
10,North Dakota,38,666783,736162,773344,0.104050,0.050508,0.159814
11,Ohio,39,11525536,11586941,11769923,0.005328,0.015792,0.021204
12,Oklahoma,40,3714520,3875589,3948136,0.043362,0.018719,0.062893
13,Oregon,41,3801991,3982267,4207177,0.047416,0.056478,0.106572
14,Pennsylvania,42,12660739,12783977,12970650,0.009734,0.014602,0.024478
15,Rhode Island,44,1053959,1054491,1091949,0.000505,0.035522,0.036045
16,South Carolina,45,4575864,4834605,5078903,0.056545,0.050531,0.109933
17,South Dakota,46,807697,851058,881785,0.053685,0.036104,0.091727
18,Tennessee,47,6297991,6548009,6859497,0.039698,0.047570,0.089156
19,Texas,48,24774187,26956435,28862581,0.088086,0.070712,0.165026
20,Vermont,50,624958,626249,641637,0.002066,0.024572,0.026688
21,Utah,49,2715379,2948427,3231370,0.085825,0.095964,0.190025
22,Virginia,51,7926192,8310301,8582479,0.048461,0.032752,0.082800
23,Washington,53,6652845,7073146,7617364,0.063176,0.076941,0.144978
24,West Virginia,54,1846372,1846092,1801049,-0.000152,-0.024399,-0.024547
25,Wisconsin,55,5664893,5754798,5871661,0.015871,0.020307,0.036500
26,Wyoming,56,554697,583029,576641,0.051077,-0.010957,0.039560
27,Puerto Rico,72,3742586,3529385,3311274,-0.056966,-0.061799,-0.115244
28,Alabama,01,4747424,4841164,4997675,0.019745,0.032329,0.052713
29,Alaska,02,700703,736855,735951,0.051594,-0.001227,0.050304
30,Arizona,04,6337373,6728577,7079203,0.061730,0.052110,0.117056
31,Arkansas,05,2895928,2968472,3006309,0.025050,0.012746,0.038116
32,California,06,36969200,38654206,39455353,0.045579,0.020726,0.067249
33,Colorado,08,4966061,5359295,5723176,0.079184,0.067897,0.152458
34,Delaware,10,890856,934695,981892,0.049210,0.050495,0.102189
35,District of Columbia,11,593955,659009,683154,0.109527,0.036638,0.150178
36,Connecticut,09,3558172,3588570,3605330,0.008543,0.004670,0.013253
37,Florida,12,18688787,19934451,21339762,0.066653,0.070497,0.141848
38,Georgia,13,9600612,10099320,10625615,0.051945,0.052112,0.106764
39,Idaho,16,1549987,1635483,1811617,0.055159,0.107695,0.168795
40,Hawaii,15,1346554,1413673,1453498,0.049845,0.028171,0.079421
41,Illinois,17,12790182,12851684,12821813,0.004809,-0.002324,0.002473
42,Indiana,18,6454254,6589578,6751340,0.020967,0.024548,0.046029
43,Iowa,19,3032266,3106589,3179090,0.024511,0.023338,0.048421
44,Kansas,20,2830985,2898292,2932099,0.023775,0.011664,0.035717
45,Kentucky,21,4316040,4411989,4494141,0.022231,0.018620,0.041265
46,Louisiana,22,4484596,4645670,4657305,0.035917,0.002504,0.038512
47,Maine,23,1328543,1329923,1357046,0.001039,0.020394,0.021454
48,Maryland,24,5736545,5959902,6148545,0.038936,0.031652,0.071820
49,Massachusetts,25,6512227,6742143,6991852,0.035305,0.037037,0.073650
50,Michigan,26,9920621,9909600,10062512,-0.001111,0.015431,0.014303
51,Minnesota,27,5278190,5450868,5670472,0.032715,0.040288,0.074321

In [23]:
acs5_county_pop_5_year_periods = compare_variable_across_years(variable = 'B01001_001E', variable_name = 'population', source= 'acs5', year_list = [year-10, year-5, year], region = 'county', api_key = api_key)
acs5_county_pop_5_year_periods.dropna(inplace=True)
acs5_county_pop_5_year_periods.to_csv(f'acs5_county_pop_{year-10}_{year-5}_{year}.csv', index = False)
acs5_county_pop_5_year_periods

Retrieving data for: 2011
Retrieving data for: 2016
Retrieving data for: 2021

,NAME,state,county,population_2011,population_2016,population_2021,2011_to_2016_chg,2016_to_2021_chg,2011_to_2021_chg
0,"Sweetwater County, Wyoming",56,037,43152.0,44812.0,42459.0,0.038469,-0.052508,-0.016060
1,"Platte County, Wyoming",56,031,8681.0,8740.0,8607.0,0.006796,-0.015217,-0.008524
2,"Sheridan County, Wyoming",56,033,28743.0,29924.0,30812.0,0.041088,0.029675,0.071983
3,"Big Horn County, Wyoming",56,003,11553.0,11931.0,11671.0,0.032719,-0.021792,0.010214
4,"Crook County, Wyoming",56,011,6926.0,7284.0,7185.0,0.051689,-0.013591,0.037395
...,...,...,...,...,...,...,...,...,...
3216,"Oneida County, Idaho",16,071,4225.0,4269.0,4514.0,0.010414,0.057390,0.068402
3217,"Gem County, Idaho",16,045,16783.0,16853.0,18692.0,0.004171,0.109120,0.113746
3218,"Valley County, Idaho",16,085,9877.0,9897.0,11476.0,0.002025,0.159543,0.161891
3219,"Adams County, Idaho",16,003,3980.0,3865.0,4321.0,-0.028894,0.117982,0.085678
3220,"Woodbury County, Iowa",19,193,101566.0,102426.0,105102.0,0.008467,0.026126,0.034815

In [24]:
acs5_zip_pop_5_year_periods = compare_variable_across_years(variable = 'B01001_001E', variable_name = 'population', source= 'acs5', year_list = [year-5, year], region = 'zip', api_key = api_key)
# I received an error when trying to retrieve 2010 population data using this 
# function, which indicated that that data was either unavailable or existed
# under a different name. Therefore, I chose to run this function for only
# 2015 and 2020.
acs5_zip_pop_5_year_periods.dropna(inplace=True)
acs5_zip_pop_5_year_periods.to_csv(f'acs5_zip_pop_{year-5}_{year}.csv', index = False)
acs5_zip_pop_5_year_periods

Retrieving data for: 2016
Retrieving data for: 2021

0       NAME state  population_2016  population_2021  2016_to_2021_chg
0      99119    53           1209.0           1491.0          0.233251
1      99128    53            209.0            291.0          0.392344
2      99141    53           5140.0           5902.0          0.148249
3      99149    53            180.0            197.0          0.094444
4      99153    53            390.0            424.0          0.087179
...      ...   ...              ...              ...               ...
33115  60619    17          62822.0          63481.0          0.010490
33116  60621    17          31383.0          26538.0         -0.154383
33117  60636    17          35779.0          30412.0         -0.150004
33118  60639    17          90211.0          89037.0         -0.013014
33119  60643    17          50507.0          49796.0         -0.014077

[32763 rows x 5 columns]

The following code block creates a list of years from 2010 to the variable stored in 'year' for multi-year analyses. It removes 2020 because data for this year wasn't available (at least when I checked).

In [25]:
year_list = list(range(2010, year+1))
year_list.remove(2020) 
year_list

[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2021]

In [26]:
acs1_state_pop_2010_to_year = compare_variable_across_years(variable = 'B01001_001E', variable_name = 'population', source= 'acs1', year_list = year_list, region = 'state', api_key = api_key)
acs1_state_pop_2010_to_year.to_csv(f'acs1_state_pop_2010_to_{year}.csv', index = False)
acs1_state_pop_2010_to_year

Retrieving data for: 2010
Retrieving data for: 2011
Retrieving data for: 2012
Retrieving data for: 2013
Retrieving data for: 2014
Retrieving data for: 2015
Retrieving data for: 2016
Retrieving data for: 2017
Retrieving data for: 2018
Retrieving data for: 2019
Retrieving data for: 2021

,NAME,state,population_2010,population_2011,population_2012,population_2013,population_2014,population_2015,population_2016,population_2017,...,2011_to_2012_chg,2012_to_2013_chg,2013_to_2014_chg,2014_to_2015_chg,2015_to_2016_chg,2016_to_2017_chg,2017_to_2018_chg,2018_to_2019_chg,2019_to_2021_chg,2010_to_2021_chg
0,California,06,37349363,37691912,38041430,38332521,38802500,39144818,39250017,39536653,...,0.009273,0.007652,0.012261,0.008822,0.002687,0.007303,0.000516,-0.001133,-0.006944,0.050562
1,Alabama,01,4785298,4802740,4822023,4833722,4849377,4858979,4863300,4874747,...,0.004015,0.002426,0.003239,0.001980,0.000889,0.002354,0.002692,0.003133,0.027878,0.053200
2,Alaska,02,713985,722718,731449,735132,736732,738432,741894,739795,...,0.012081,0.005035,0.002176,0.002307,0.004688,-0.002829,-0.003186,-0.007991,0.001542,0.026174
3,Arizona,04,6413737,6482505,6553255,6626624,6731484,6828065,6931071,7016270,...,0.010914,0.011196,0.015824,0.014348,0.015086,0.012292,0.022145,0.014930,-0.000330,0.134489
4,Arkansas,05,2921606,2937979,2949131,2959373,2966369,2978204,2988248,3004279,...,0.003796,0.003473,0.002364,0.003990,0.003373,0.005365,0.003177,0.001320,0.002680,0.035694
5,Colorado,08,5049071,5116796,5187582,5268367,5355866,5456574,5540545,5607154,...,0.013834,0.015573,0.016608,0.018803,0.015389,0.012022,0.015767,0.011091,0.009261,0.151117
6,Connecticut,09,3577073,3580709,3590347,3596080,3596677,3590886,3576452,3588184,...,0.002692,0.001597,0.000166,-0.001610,-0.004020,0.003280,-0.004325,-0.002065,0.011306,0.007974
7,Delaware,10,899769,907135,917092,925749,935614,945934,952065,961939,...,0.010976,0.009440,0.010656,0.011030,0.006481,0.010371,0.005439,0.006817,0.030418,0.115157
8,District of Columbia,11,604453,617996,632323,646449,658893,672228,681170,693972,...,0.023183,0.022340,0.019250,0.020238,0.013302,0.018794,0.012224,0.004689,-0.050583,0.108523
9,Florida,12,18843326,19057542,19317568,19552860,19893297,20271272,20612439,20984400,...,0.013644,0.012180,0.017411,0.019000,0.016830,0.018045,0.015008,0.008376,0.014126,0.155907
10,Georgia,13,9712587,9815210,9919945,9992167,10097343,10214860,10310371,10429379,...,0.010671,0.007280,0.010526,0.011638,0.009350,0.011543,0.008639,0.009311,0.017155,0.111914
11,Hawaii,15,1363621,1374810,1392313,1404054,1419561,1431603,1428557,1427538,...,0.012731,0.008433,0.011044,0.008483,-0.002128,-0.000713,-0.004936,-0.003252,0.018138,0.057151
12,Idaho,16,1571450,1584985,1595728,1612136,1634464,1654930,1683140,1716943,...,0.006778,0.010282,0.013850,0.012522,0.017046,0.020083,0.021704,0.018730,0.063712,0.209662
13,Illinois,17,12843166,12869259,12875255,12882135,12880580,12859995,12801539,12802023,...,0.000466,0.000534,-0.000121,-0.001598,-0.004546,0.000038,-0.004760,-0.005436,-0.000028,-0.013369
14,Kentucky,21,4346266,4369356,4380415,4395295,4413457,4425092,4436974,4454189,...,0.002531,0.003397,0.004132,0.002636,0.002685,0.003880,0.003191,-0.000163,0.009338,0.037533
15,Indiana,18,6490621,6516922,6537334,6570902,6596855,6619680,6633053,6666818,...,0.003132,0.005135,0.003950,0.003460,0.002020,0.005090,0.003759,0.006028,0.010957,0.048588
16,Iowa,19,3049883,3062309,3074186,3090416,3107126,3123899,3134693,3145711,...,0.003878,0.005279,0.005407,0.005398,0.003455,0.003515,0.003317,-0.000341,0.012047,0.046951
17,Kansas,20,2859169,2871238,2885905,2893957,2904021,2911641,2907289,2913123,...,0.005108,0.002790,0.003478,0.002624,-0.001495,0.002007,-0.000554,0.000620,0.007300,0.026376
18,Louisiana,22,4544228,4574836,4601893,4625470,4649676,4670724,4681666,4684333,...,0.005914,0.005123,0.005233,0.004527,0.002343,0.000570,-0.005199,-0.002400,-0.005323,0.017565
19,Maine,23,1327567,1328188,1329192,1328302,1330089,1329328,1331479,1335907,...,0.000756,-0.000670,0.001345,-0.000572,0.001618,0.003326,0.001869,0.004339,0.020856,0.033656
20,Maryland,24,5785982,5828289,5884563,5928814,5976407,6006401,6016447,6052177,...,0.009655,0.007520,0.008027,0.005019,0.001673,0.005939,-0.001563,0.000490,0.019758,0.065529
21,Massachusetts,25,6557254,6587536,6646144,6692824,6745408,6794422,6811779,6859819,...,0.008897,0.007024,0.007857,0.007266,0.002555,0.007052,0.006171,-0.001398,0.013380,0.065190
22,Michigan,26,9877574,9876187,9883360,9895622,9909877,9922576,9928300,9962311,...,0.000726,0.001241,0.001441,0.001281,0.000577,0.003426,0.003373,-0.000906,0.006404,0.017538
23,Minnesota,27,5310584,5344861,5379139,5420380,5457173,5489594,5519952,5576606,...,0.006413,0.007667,0.006788,0.005941,0.005530,0.010263,0.006200,0.005071,0.012015,0.074720
24,Mississippi,28,2970036,2978512,2984926,2991207,2994079,2992333,2988726,2984100,...,0.002153,0.002104,0.000960,-0.000583,-0.001205,-0.001548,0.000814,-0.003476,-0.008798,-0.006758
25,Missouri,29,5996231,6010688,6021988,6044171,6063589,6083672,6093000,6113532,...,0.001880,0.003684,0.003213,0.003312,0.001533,0.003370,0.002113,0.001792,0.005012,0.028677
26,Montana,30,990898,998199,1005141,1015165,1023579,1032949,1042520,1050493,...,0.006955,0.009973,0.008288,0.009154,0.009266,0.007648,0.011244,0.006093,0.033209,0.114414
27,Nebraska,31,1830429,1842641,1855525,1868516,1881503,1896190,1907116,1920076,...,0.006992,0.007001,0.006950,0.007806,0.005762,0.006796,0.004787,0.002664,0.015138,0.072804
28,Nevada,32,2704642,2723322,2758931,2790136,2839099,2890845,2940058,2998039,...,0.013076,0.011311,0.017549,0.018226,0.017024,0.019721,0.012126,0.015082,0.020725,0.162443
29,New Hampshire,33,1316759,1318194,1320718,1323459,1326813,1330608,1334795,1342795,...,0.001915,0.002075,0.002534,0.002860,0.003147,0.005993,0.010175,0.002398,0.021535,0.054857
30,New Jersey,34,8801624,8821155,8864590,8899339,8938175,8958013,8944469,9005644,...,0.004924,0.003920,0.004364,0.002219,-0.001512,0.006839,-0.010785,-0.002956,0.043338,0.052889
31,New Mexico,35,2065932,2082224,2085538,2085287,2085572,2085109,2081015,2088070,...,0.001592,-0.000120,0.000137,-0.000222,-0.001963,0.003390,0.003524,0.000669,0.009084,0.024176
32,New York,36,19392283,19465197,19570261,19651127,19746227,19795791,19745289,19849399,...,0.005398,0.004132,0.004839,0.002510,-0.002551,0.005273,-0.015476,-0.004536,0.019655,0.022877
33,North Carolina,37,9561558,9656401,9752073,9848060,9943964,10042802,10146788,10273419,...,0.009908,0.009843,0.009738,0.009939,0.010354,0.012480,0.010727,0.010060,0.006014,0.103498
34,North Dakota,38,674499,683932,699628,723393,739482,756928,757953,755393,...,0.022950,0.033968,0.022241,0.023592,0.001354,-0.003378,0.006201,0.002612,0.016909,0.148924
35,Ohio,39,11536182,11544951,11544225,11570808,11594163,11613423,11614373,11658609,...,-0.000063,0.002303,0.002018,0.001661,0.000082,0.003809,0.002645,-0.000029,0.007778,0.021137
36,Oklahoma,40,3761702,3791508,3814820,3850568,3878051,3911338,3923561,3930864,...,0.006148,0.009371,0.007137,0.008583,0.003125,0.001861,0.003107,0.003523,0.007498,0.059797
37,Oregon,41,3838957,3871859,3899353,3930065,3970239,4028977,4093465,4142776,...,0.007101,0.007876,0.010222,0.014795,0.016006,0.012046,0.011571,0.006449,0.006738,0.106070
38,Pennsylvania,42,12709630,12742886,12763536,12773801,12787209,12802503,12784227,12805537,...,0.001621,0.000804,0.001050,0.001196,-0.001428,0.001667,0.000119,-0.000396,0.012660,0.020018
39,Rhode Island,44,1052886,1051302,1050292,1051511,1055173,1056298,1056426,1059639,...,-0.000961,0.001161,0.003483,0.001066,0.000121,0.003041,-0.002193,0.001935,0.034218,0.040578
40,South Carolina,45,4636312,4679230,4723723,4774839,4832482,4896146,4961119,5024369,...,0.009509,0.010821,0.012072,0.013174,0.013270,0.012749,0.011894,0.012704,0.008156,0.119576
41,South Dakota,46,816463,824082,833354,844877,853175,858469,865454,869666,...,0.011251,0.013827,0.009822,0.006205,0.008137,0.004867,0.014453,0.002748,0.012114,0.096652
42,Tennessee,47,6356897,6403353,6456243,6495978,6549352,6600299,6651194,6715984,...,0.008260,0.006155,0.008216,0.007779,0.007711,0.009741,0.008044,0.008739,0.021385,0.097268
43,Texas,48,25257114,25674681,26059203,26448193,26956958,27469114,27862596,28304596,...,0.014977,0.014927,0.019236,0.018999,0.014325,0.015864,0.014035,0.010244,0.018350,0.169094
44,Utah,49,2776469,2817222,2855287,2900872,2942902,2995919,3051217,3101833,...,0.013512,0.015965,0.014489,0.018015,0.018458,0.016589,0.019109,0.014189,0.041179,0.202237
45,Vermont,50,625960,626431,626011,626630,626562,626042,624594,623657,...,-0.000670,0.000989,-0.000109,-0.000830,-0.002313,-0.001500,0.004236,-0.003688,0.034586,0.031328
46,Virginia,51,8024617,8096604,8185867,8260405,8326289,8382993,8411808,8470020,...,0.011025,0.009106,0.007976,0.006810,0.003437,0.006920,0.005627,0.002094,0.012507,0.076970
47,Washington,53,6744496,6830038,6897012,6971406,7061530,7170351,7288000,7405743,...,0.009806,0.010786,0.012928,0.015410,0.016408,0.016156,0.017533,0.010524,0.016257,0.147408
48,West Virginia,54,1853973,1855364,1855413,1854304,1850326,1844128,1831102,1815857,...,0.000026,-0.000598,-0.002145,-0.003350,-0.007064,-0.008326,-0.005521,-0.007578,-0.005127,-0.038304
49,Wisconsin,55,5691047,5711767,5726398,5742713,5757564,5771337,5778709,5795483,...,0.002562,0.002849,0.002586,0.002392,0.001277,0.002903,0.003121,0.001525,0.012619,0.035997
50,Wyoming,56,564460,568158,576412,582658,584153,586107,585501,579315,...,0.014528,0.010836,0.002566,0.003345,-0.001034,-0.010565,-0.002724,0.001769,0.000076,0.025410
51,Puerto Rico,72,3722133,3706690,3667084,3615086,3548397,3474182,3411307,3337177,...,-0.010685,-0.014180,-0.018447,-0.020915,-0.018098,-0.021731,-0.042558,-0.000457,0.021884,-0.123195

In [27]:
acs1_county_pop_2010_to_year = compare_variable_across_years(variable = 'B01001_001E', variable_name = 'population', source= 'acs1', year_list = year_list, region = 'county', api_key = api_key)
acs1_county_pop_2010_to_year.to_csv(f'acs1_county_pop_2010_to_{year}.csv', index = False)
acs1_county_pop_2010_to_year
# Note that fewer counties are contained in the American Community Survey (1-year estimates) dataset.

Retrieving data for: 2010
Retrieving data for: 2011
Retrieving data for: 2012
Retrieving data for: 2013
Retrieving data for: 2014
Retrieving data for: 2015
Retrieving data for: 2016
Retrieving data for: 2017
Retrieving data for: 2018
Retrieving data for: 2019
Retrieving data for: 2021

,NAME,state,county,population_2010,population_2011,population_2012,population_2013,population_2014,population_2015,population_2016,...,2011_to_2012_chg,2012_to_2013_chg,2013_to_2014_chg,2014_to_2015_chg,2015_to_2016_chg,2016_to_2017_chg,2017_to_2018_chg,2018_to_2019_chg,2019_to_2021_chg,2010_to_2021_chg
0,"Stark County, Ohio",39,151,375321.0,375087.0,374868.0,375432.0,375736.0,375165.0,373612.0,...,-0.000584,0.001505,0.000810,-0.001520,-0.004140,-0.002864,-0.002598,-0.002605,0.008710,-0.003962
1,"Summit County, Ohio",39,153,541565.0,539832.0,540811.0,541824.0,541943.0,541968.0,540300.0,...,0.001814,0.001873,0.000220,0.000046,-0.003078,0.001718,0.001275,-0.001670,-0.006248,-0.007260
2,"Trumbull County, Ohio",39,155,209936.0,209264.0,207406.0,206442.0,205175.0,203751.0,201825.0,...,-0.008879,-0.004648,-0.006137,-0.006940,-0.009453,-0.007160,-0.008748,-0.003288,0.016977,-0.040970
3,"Tuscarawas County, Ohio",39,157,92542.0,92508.0,92392.0,92672.0,92788.0,92916.0,92420.0,...,-0.001254,0.003031,0.001252,0.001379,-0.005338,-0.001331,-0.001311,-0.002050,0.005577,-0.000454
4,"Warren County, Ohio",39,165,213192.0,214910.0,217241.0,219169.0,221659.0,224469.0,227063.0,...,0.010846,0.008875,0.011361,0.012677,0.011556,0.008011,0.014379,0.010462,0.050942,0.156483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,"Montcalm County, Michigan",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
850,"San Benito County, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
851,"Effingham County, Georgia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
852,"Clay County, Minnesota",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
853,"Lamar County, Mississippi",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

At the time I created this program, not all of the 2020 Census data was available via the Census API. Therefore, in the following code block, I retrieved population values from the 'Summary File 1' sections of the 2000 and 2010 decennial censuses [or censusses? censi?], then merged these values with population values found in the 2020 Census's redistricting dataset. I then calculated some additional percentage changes.

In [28]:
census_state_population = compare_variable_across_years(variable = 'P001001', variable_name = 'population', source= 'census_sf1', year_list = [2000, 2010], region = 'state', api_key = api_key)
census_state_population_2000_to_2020 = census_state_population.merge(compare_variable_across_years(variable = 'P1_001N', variable_name = 'population', source= 'census_redistricting', year_list = [2020], region = 'state', api_key = api_key).drop('state',axis=1), on = 'NAME')
census_state_population_2000_to_2020.insert(4, 'population_2020', census_state_population_2000_to_2020.pop('population_2020'))
census_state_population_2000_to_2020['2010_to_2020_chg'] = (census_state_population_2000_to_2020['population_2020'] / census_state_population_2000_to_2020['population_2010'])-1
census_state_population_2000_to_2020['2000_to_2020_chg'] = (census_state_population_2000_to_2020['population_2020'] / census_state_population_2000_to_2020['population_2000'])-1
census_state_population_2000_to_2020.to_csv('census_state_population_2000_to_2020.csv', index = False)

census_state_population_2000_to_2020

Retrieving data for: 2000
Retrieving data for: 2010
Retrieving data for: 2020

,NAME,state,population_2000,population_2010,population_2020,2000_to_2010_chg,2010_to_2020_chg,2000_to_2020_chg
0,Alabama,01,4447100,4779736,5024279,0.074798,0.051162,0.129788
1,Alaska,02,626932,710231,733391,0.132868,0.032609,0.169809
2,Arizona,04,5130632,6392017,7151502,0.245854,0.118818,0.393883
3,Arkansas,05,2673400,2915918,3011524,0.090715,0.032788,0.126477
4,California,06,33871648,37253956,39538223,0.099857,0.061316,0.167296
5,Colorado,08,4301261,5029196,5773714,0.169238,0.148039,0.342331
6,Connecticut,09,3405565,3574097,3605944,0.049487,0.008911,0.058839
7,Delaware,10,783600,897934,989948,0.145909,0.102473,0.263333
8,District of Columbia,11,572059,601723,689545,0.051855,0.145951,0.205374
9,Florida,12,15982378,18801310,21538187,0.176378,0.145568,0.347621
10,Georgia,13,8186453,9687653,10711908,0.183376,0.105728,0.308492
11,Hawaii,15,1211537,1360301,1455271,0.122789,0.069815,0.201178
12,Idaho,16,1293953,1567582,1839106,0.211467,0.173212,0.421308
13,Illinois,17,12419293,12830632,12812508,0.033121,-0.001413,0.031662
14,Indiana,18,6080485,6483802,6785528,0.066330,0.046535,0.115952
15,Iowa,19,2926324,3046355,3190369,0.041018,0.047274,0.090231
16,Kansas,20,2688418,2853118,2937880,0.061263,0.029709,0.092791
17,Kentucky,21,4041769,4339367,4505836,0.073631,0.038363,0.114818
18,Louisiana,22,4468976,4533372,4657757,0.014410,0.027438,0.042243
19,Maine,23,1274923,1328361,1362359,0.041915,0.025594,0.068581
20,Maryland,24,5296486,5773552,6177224,0.090072,0.069917,0.166287
21,Massachusetts,25,6349097,6547629,7029917,0.031269,0.073658,0.107231
22,Michigan,26,9938444,9883640,10077331,-0.005514,0.019597,0.013975
23,Minnesota,27,4919479,5303925,5706494,0.078148,0.075900,0.159979
24,Mississippi,28,2844658,2967297,2961279,0.043112,-0.002028,0.040996
25,Missouri,29,5595211,5988927,6154913,0.070367,0.027715,0.100032
26,Montana,30,902195,989415,1084225,0.096675,0.095824,0.201763
27,Nebraska,31,1711263,1826341,1961504,0.067247,0.074008,0.146232
28,Nevada,32,1998257,2700551,3104614,0.351453,0.149622,0.553661
29,New Hampshire,33,1235786,1316470,1377529,0.065290,0.046381,0.114699
30,New Jersey,34,8414350,8791894,9288994,0.044869,0.056541,0.103947
31,New Mexico,35,1819046,2059179,2117522,0.132010,0.028333,0.164084
32,New York,36,18976457,19378102,20201249,0.021165,0.042478,0.064543
33,North Carolina,37,8049313,9535483,10439388,0.184633,0.094794,0.296929
34,North Dakota,38,642200,672591,779094,0.047323,0.158347,0.213164
35,Ohio,39,11353140,11536504,11799448,0.016151,0.022792,0.039311
36,Oklahoma,40,3450654,3751351,3959353,0.087142,0.055447,0.147421
37,Oregon,41,3421399,3831074,4237256,0.119739,0.106023,0.238457
38,Pennsylvania,42,12281054,12702379,13002700,0.034307,0.023643,0.058761
39,Rhode Island,44,1048319,1052567,1097379,0.004052,0.042574,0.046799
40,South Carolina,45,4012012,4625364,5118425,0.152879,0.106599,0.275775
41,South Dakota,46,754844,814180,886667,0.078607,0.089031,0.174636
42,Tennessee,47,5689283,6346105,6910840,0.115449,0.088989,0.214712
43,Texas,48,20851820,25145561,29145505,0.205917,0.159072,0.397744
44,Utah,49,2233169,2763885,3271616,0.237652,0.183702,0.465010
45,Vermont,50,608827,625741,643077,0.027781,0.027705,0.056256
46,Virginia,51,7078515,8001024,8631393,0.130325,0.078786,0.219379
47,Washington,53,5894121,6724540,7705281,0.140889,0.145845,0.307282
48,West Virginia,54,1808344,1852994,1793716,0.024691,-0.031990,-0.008089
49,Wisconsin,55,5363675,5686986,5893718,0.060278,0.036352,0.098821
50,Wyoming,56,493782,563626,576851,0.141447,0.023464,0.168230
51,Puerto Rico,72,3808610,3725789,3285874,-0.021746,-0.118073,-0.137251

The same process was used to obtain county-level population changes.

In [29]:
census_county_population = compare_variable_across_years(variable = 'P001001', variable_name = 'population', source= 'census_sf1', year_list = [2000, 2010], region = 'county', api_key = api_key)
census_county_population_2000_to_2020 = census_county_population.merge(compare_variable_across_years(variable = 'P1_001N', variable_name = 'population', source= 'census_redistricting', year_list = [2020], region = 'county', api_key = api_key).drop(['state', 'county'],axis=1), on = 'NAME')
census_county_population_2000_to_2020.insert(4, 'population_2020', census_county_population_2000_to_2020.pop('population_2020'))
census_county_population_2000_to_2020['2010_to_2020_chg'] = (census_county_population_2000_to_2020['population_2020'] / census_county_population_2000_to_2020['population_2010'])-1
census_county_population_2000_to_2020['2000_to_2020_chg'] = (census_county_population_2000_to_2020['population_2020'] / census_county_population_2000_to_2020['population_2000'])-1

census_county_population_2000_to_2020.dropna(inplace=True)

census_county_population_2000_to_2020.to_csv('census_county_population_2000_to_2020.csv', index = False)

census_county_population_2000_to_2020

Retrieving data for: 2000
Retrieving data for: 2010
Retrieving data for: 2020

,NAME,state,county,population_2000,population_2020,population_2010,2000_to_2010_chg,2010_to_2020_chg,2000_to_2020_chg
0,"Autauga County, Alabama",01,001,43671.0,58805,54571.0,0.249594,0.077587,0.346546
1,"Baldwin County, Alabama",01,003,140415.0,231767,182265.0,0.298045,0.271594,0.650586
2,"Barbour County, Alabama",01,005,29038.0,25223,27457.0,-0.054446,-0.081364,-0.131380
3,"Bibb County, Alabama",01,007,20826.0,22293,22915.0,0.100307,-0.027144,0.070441
4,"Blount County, Alabama",01,009,51024.0,59134,57322.0,0.123432,0.031611,0.158945
...,...,...,...,...,...,...,...,...,...
3203,"Vega Baja Municipio, Puerto Rico",72,145,61929.0,54414,59662.0,-0.036606,-0.087962,-0.121349
3204,"Vieques Municipio, Puerto Rico",72,147,9106.0,8249,9301.0,0.021414,-0.113106,-0.094114
3205,"Villalba Municipio, Puerto Rico",72,149,27913.0,22093,26073.0,-0.065919,-0.152648,-0.208505
3206,"Yabucoa Municipio, Puerto Rico",72,151,39246.0,30426,37941.0,-0.033252,-0.198071,-0.224736
3207,"Yauco Municipio, Puerto Rico",72,153,46384.0,34172,42043.0,-0.093588,-0.187213,-0.263280

I'll also obtain changes in median home values over the last 10 years using similar code blocks. (These will only use American Community Survey 5-year data.)

In [30]:
acs5_state_home_val_5_year_periods = compare_variable_across_years(variable = 'B25077_001E', variable_name = 'median_home_val', source= 'acs5', year_list = [year-10, year-5, year], region = 'state', api_key = api_key)
acs5_state_home_val_5_year_periods.to_csv(f'acs5_state_home_val_{year-10}_{year-5}_{year}.csv', index = False)
acs5_state_home_val_5_year_periods

Retrieving data for: 2011
Retrieving data for: 2016
Retrieving data for: 2021

,NAME,state,median_home_val_2011,median_home_val_2016,median_home_val_2021,2011_to_2016_chg,2016_to_2021_chg,2011_to_2021_chg
0,Mississippi,28,99200,105700,133000,0.065524,0.258278,0.340726
1,Missouri,29,138900,141200,171800,0.016559,0.216714,0.236861
2,Montana,30,179900,199700,263700,0.110061,0.320481,0.465814
3,Nebraska,31,125400,137300,174100,0.094896,0.268026,0.388357
4,Nevada,32,225400,191600,315900,-0.149956,0.648747,0.401508
5,New Hampshire,33,250000,239700,288700,-0.041200,0.204422,0.154800
6,New Jersey,34,349100,316400,355700,-0.093669,0.124210,0.018906
7,New Mexico,35,161800,161600,184800,-0.001236,0.143564,0.142151
8,New York,36,301000,286300,340600,-0.048837,0.189661,0.131561
9,North Carolina,37,152700,157100,197500,0.028815,0.257161,0.293386
10,North Dakota,38,118200,164000,209900,0.387479,0.279878,0.775804
11,Ohio,39,135600,131900,159900,-0.027286,0.212282,0.179204
12,Oklahoma,40,108400,121300,150800,0.119004,0.243199,0.391144
13,Oregon,41,252600,247200,362200,-0.021378,0.465210,0.433888
14,Pennsylvania,42,163200,167700,197300,0.027574,0.176506,0.208946
15,Rhode Island,44,270600,238200,292600,-0.119734,0.228380,0.081301
16,South Carolina,45,137000,143600,181800,0.048175,0.266017,0.327007
17,South Dakota,46,127000,146700,187800,0.155118,0.280164,0.478740
18,Tennessee,47,137200,146000,193700,0.064140,0.326712,0.411808
19,Texas,48,126400,142700,202600,0.128956,0.419762,0.602848
20,Vermont,50,213000,218900,240600,0.027700,0.099132,0.129577
21,Utah,49,221300,224600,339700,0.014912,0.512467,0.535020
22,Virginia,51,254600,248400,295500,-0.024352,0.189614,0.160644
23,Washington,53,283200,269300,397600,-0.049082,0.476420,0.403955
24,West Virginia,54,96500,107400,128800,0.112953,0.199255,0.334715
25,Wisconsin,55,169700,167000,200400,-0.015910,0.200000,0.180907
26,Wyoming,56,181900,199900,237900,0.098955,0.190095,0.307861
27,Puerto Rico,72,117300,118600,111800,0.011083,-0.057336,-0.046888
28,Alabama,01,120800,128500,157100,0.063742,0.222568,0.300497
29,Alaska,02,235100,257100,282800,0.093577,0.099961,0.202892
30,Arizona,04,197400,176900,265600,-0.103850,0.501413,0.345491
31,Arkansas,05,105100,114700,142100,0.091342,0.238884,0.352046
32,California,06,421600,409300,573200,-0.029175,0.400440,0.359583
33,Colorado,08,236700,264600,397500,0.117871,0.502268,0.679341
34,Delaware,10,244100,233100,269700,-0.045063,0.157014,0.104875
35,District of Columbia,11,442600,506100,635900,0.143470,0.256471,0.436737
36,Connecticut,09,293100,269300,286700,-0.081201,0.064612,-0.021836
37,Florida,12,188600,166800,248700,-0.115589,0.491007,0.318664
38,Georgia,13,160200,152400,206700,-0.048689,0.356299,0.290262
39,Idaho,16,171300,167900,266500,-0.019848,0.587254,0.555750
40,Hawaii,15,529500,538400,662100,0.016808,0.229755,0.250425
41,Illinois,17,198500,174800,212600,-0.119395,0.216247,0.071033
42,Indiana,18,123300,126500,158500,0.025953,0.252964,0.285483
43,Iowa,19,121300,132800,160700,0.094806,0.210090,0.324815
44,Kansas,20,125500,135300,164800,0.078088,0.218034,0.313147
45,Kentucky,21,118700,126100,155100,0.062342,0.229976,0.306655
46,Louisiana,22,135400,148300,174000,0.095273,0.173297,0.285081
47,Maine,23,176600,176000,212100,-0.003398,0.205114,0.201019
48,Maryland,24,319800,290400,338500,-0.091932,0.165634,0.058474
49,Massachusetts,25,343500,341000,424700,-0.007278,0.245455,0.236390
50,Michigan,26,137300,127800,172100,-0.069192,0.346635,0.253460
51,Minnesota,27,201400,191500,250200,-0.049156,0.306527,0.242304

In [31]:
acs5_county_home_val_5_year_periods = compare_variable_across_years(variable = 'B25077_001E', variable_name = 'median_home_val', source= 'acs5', year_list = [year-10, year-5, year], region = 'county', api_key = api_key)
acs5_county_home_val_5_year_periods.to_csv(f'acs5_county_home_val_{year-10}_{year-5}_{year}.csv', index = False)
acs5_county_home_val_5_year_periods

Retrieving data for: 2011
Retrieving data for: 2016
Retrieving data for: 2021

,NAME,state,county,median_home_val_2011,median_home_val_2016,median_home_val_2021,2011_to_2016_chg,2016_to_2021_chg,2011_to_2021_chg
0,"Sweetwater County, Wyoming",56,037,180300.0,190700.0,217300.0,0.057682,0.139486,0.205214
1,"Platte County, Wyoming",56,031,136100.0,164000.0,210400.0,0.204996,0.282927,0.545922
2,"Sheridan County, Wyoming",56,033,224900.0,237700.0,289800.0,0.056914,0.219184,0.288573
3,"Big Horn County, Wyoming",56,003,120400.0,148200.0,158800.0,0.230897,0.071525,0.318937
4,"Crook County, Wyoming",56,011,156300.0,217500.0,256000.0,0.391555,0.177011,0.637876
...,...,...,...,...,...,...,...,...,...
3222,"Petersburg Borough, Alaska",NaN,NaN,NaN,213400.0,246900.0,NaN,0.156982,NaN
3223,"Kusilvak Census Area, Alaska",NaN,NaN,NaN,101300.0,66200.0,NaN,-0.346496,NaN
3224,"LaSalle Parish, Louisiana",NaN,NaN,NaN,69100.0,104900.0,NaN,0.518090,NaN
3225,"Chugach Census Area, Alaska",NaN,NaN,NaN,NaN,255100.0,NaN,NaN,NaN
3226,"Copper River Census Area, Alaska",NaN,NaN,NaN,NaN,232200.0,NaN,NaN,NaN

In [32]:
acs5_zip_home_val_5_year_periods = compare_variable_across_years(variable = 'B25077_001E', variable_name = 'median_home_val', source= 'acs5', year_list = [year-10, year-5, year], region = 'zip', api_key = api_key)
acs5_zip_home_val_5_year_periods.to_csv(f'acs5_zip_home_val_{year-10}_{year-5}_{year}.csv', index = False)
acs5_zip_home_val_5_year_periods

Retrieving data for: 2011
Retrieving data for: 2016
Retrieving data for: 2021

,NAME,state,median_home_val_2011,median_home_val_2016,median_home_val_2021,2011_to_2016_chg,2016_to_2021_chg,2011_to_2021_chg
0,00601,72,103200.0,92000.0,78800.0,-0.108527,-0.143478,-0.236434
1,00602,72,89300.0,90000.0,88500.0,0.007839,-0.016667,-0.008959
2,00603,72,116700.0,126000.0,121600.0,0.079692,-0.034921,0.041988
3,00606,72,101000.0,93200.0,96500.0,-0.077228,0.035408,-0.044554
4,00610,72,109400.0,99300.0,89900.0,-0.092322,-0.094663,-0.178245
...,...,...,...,...,...,...,...,...
33966,99635,NaN,NaN,NaN,-666666666.0,NaN,NaN,NaN
33967,99675,NaN,NaN,NaN,-666666666.0,NaN,NaN,NaN
33968,99707,NaN,NaN,NaN,-666666666.0,NaN,NaN,NaN
33969,99725,NaN,NaN,NaN,209800.0,NaN,NaN,NaN
33970,99850,NaN,NaN,NaN,-666666666.0,NaN,NaN,NaN

That concludes the main part of this tutorial program. I hope that you find these examples useful in performing your own census data analysis!

These census DataFrames can also be a great source of information for regression analyses. The following code blocks show how one of the DataFrames can be modified to serve as a data source for regressions (albeit without any data cleaning or checking). In the future, I may move these regressions over to a separate tutorial program and provide detailed explanations of the code. In the meantime, I've left the code in place and added some brief explanations.

The first regression examined the relationship between poverty rates and whether children were in a married-couple family as opposed to a female-householder one. This involved creating a reduced version of the df_results_1k_plus_households DataFrame:

In [33]:
df_regression_test = zip_data_1k_plus_households.copy()
df_regression_test.dropna(subset=['Proportion_of_children_in_female_householder_families_below_poverty_level','Proportion_of_children_in_married_couple_families_below_poverty_level'],inplace=True)
df_regression_test = df_regression_test[['NAME','Proportion_of_children_in_female_householder_families_below_poverty_level','Proportion_of_children_in_married_couple_families_below_poverty_level']].copy()

In [34]:
df_regression_test

,NAME,Proportion_of_children_in_female_householder_families_below_poverty_level,Proportion_of_children_in_married_couple_families_below_poverty_level
0,00601,0.931319,0.527845
1,00602,0.666420,0.301555
2,00603,0.788359,0.285192
3,00606,0.723039,0.556122
4,00610,0.603466,0.369383
...,...,...,...
16891,99801,0.208713,0.032994
16892,99824,0.494949,0.200000
16893,99833,0.166667,0.012755
16894,99835,0.335689,0.024349
16895,99901,0.333844,0.027356

I then converted the two different variable columns into two different rows for each zip code using pd.melt(), which would make it easier to create categorical or 'dummy' variables for the regression analysis:

In [35]:
df_regression_test_melt = pd.melt(df_regression_test.copy(), id_vars = ['NAME']) # https://pandas.pydata.org/pandas-docs/version/0.20/generated/pandas.melt.html
df_regression_test_melt

        NAME                                           variable     value
0      00601  Proportion_of_children_in_female_householder_f...  0.931319
1      00602  Proportion_of_children_in_female_householder_f...  0.666420
2      00603  Proportion_of_children_in_female_householder_f...  0.788359
3      00606  Proportion_of_children_in_female_householder_f...  0.723039
4      00610  Proportion_of_children_in_female_householder_f...  0.603466
...      ...                                                ...       ...
33563  99801  Proportion_of_children_in_married_couple_famil...  0.032994
33564  99824  Proportion_of_children_in_married_couple_famil...  0.200000
33565  99833  Proportion_of_children_in_married_couple_famil...  0.012755
33566  99835  Proportion_of_children_in_married_couple_famil...  0.024349
33567  99901  Proportion_of_children_in_married_couple_famil...  0.027356

[33568 rows x 3 columns]

The following code block uses pd.get_dummies to generate categorical variables, then renames the resulting column for better legibility.

In [36]:
df_regression_test_melt = pd.get_dummies(data = df_regression_test_melt.copy(), columns=['variable'], drop_first=True)
df_regression_test_melt.rename(columns={'variable_Proportion_of_children_in_married_couple_families_below_poverty_level':'in_married_household','value':'proportion_below_poverty_level'},inplace=True)
df_regression_test_melt

        NAME  proportion_below_poverty_level  in_married_household
0      00601                        0.931319                     0
1      00602                        0.666420                     0
2      00603                        0.788359                     0
3      00606                        0.723039                     0
4      00610                        0.603466                     0
...      ...                             ...                   ...
33563  99801                        0.032994                     1
33564  99824                        0.200000                     1
33565  99833                        0.012755                     1
33566  99835                        0.024349                     1
33567  99901                        0.027356                     1

[33568 rows x 3 columns]

With this table in place, I was able to perform the regression analysis.

In [37]:
y = df_regression_test_melt['proportion_below_poverty_level'] # Contains the list of scores for the current grade (or for the school total in the case of the 'Total' column)
x_vars = df_regression_test_melt[['in_married_household']]
x_vars = sm.add_constant(x_vars) 
model = sm.OLS(y,x_vars)
results = model.fit() # the resulst variable contains the information needed to fill in the other rows within the DataFrame.
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                  OLS Regression Results
==========================================================================================
Dep. Variable:     proportion_below_poverty_level   R-squared:                       0.382
Model:                                        OLS   Adj. R-squared:                  0.382
Method:                             Least Squares   F-statistic:                 2.078e+04
Date:                            Tue, 08 Aug 2023   Prob (F-statistic):               0.00
Time:                                    19:26:45   Log-Likelihood:                 10910.
No. Observations:                           33568   AIC:                        -2.182e+04
Df Residuals:                               33566   BIC:                        -2.180e+04
Df Model:                                       1
Covariance Type:                        nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                    0.3582      0.001    265.454      0.000       0.356       0.361
in_married_household    -0.2751      0.002   -144.156      0.000      -0.279      -0.271
==============================================================================
Omnibus:                     2296.175   Durbin-Watson:                   1.577
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3599.536
Skew:                           0.553   Prob(JB):                         0.00
Kurtosis:                       4.163   Cond. No.                         2.62
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

My second regression analysis aimed to evaluate the impact of family type (married vs. female-householder-only) and education level (no high school diploma; high school diploma/equivalent; associate's/some college; and bachelor's or higher) on poverty status. This first involved retrieving data on income for both family type and education.

In [38]:
df_regression_test_2 = zip_data_1k_plus_households.copy()
df_regression_test_2.dropna(subset=['Proportion_of_married-couple_families_below_the_poverty_level_where_householder_did_not_graduate_high_school','Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_=_high_school_graduate/equivalent', 'Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_=_some_college_or_associate\'s_degree', 'Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_level_=_bachelor\'s_degree_or_higher', 'Proportion_of_female-householder_families_below_the_poverty_level_where_householder_did_not_graduate_high_school', 'Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_=_high_school_graduate/equivalent', 'Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_=_some_college_or_associate\'s_degree', 'Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_level_=_bachelor\'s_degree_or_higher'],inplace=True)
df_regression_test_2 = df_regression_test_2[['NAME','Proportion_of_married-couple_families_below_the_poverty_level_where_householder_did_not_graduate_high_school','Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_=_high_school_graduate/equivalent', 'Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_=_some_college_or_associate\'s_degree', 'Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_level_=_bachelor\'s_degree_or_higher', 'Proportion_of_female-householder_families_below_the_poverty_level_where_householder_did_not_graduate_high_school', 'Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_=_high_school_graduate/equivalent', 'Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_=_some_college_or_associate\'s_degree', 'Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_level_=_bachelor\'s_degree_or_higher']].copy()

In [39]:
df_regression_test_2

,NAME,Proportion_of_married-couple_families_below_the_poverty_level_where_householder_did_not_graduate_high_school,Proportion_of_married-couple_families_below_the_poverty_level_where_householder's_highest_education_=_high_school_graduate/equivalent,Proportion_of_married-couple_families_below_the_poverty_level_where_householder's_highest_education_=_some_college_or_associate's_degree,Proportion_of_married-couple_families_below_the_poverty_level_where_householder's_highest_education_level_=_bachelor's_degree_or_higher,Proportion_of_female-householder_families_below_the_poverty_level_where_householder_did_not_graduate_high_school,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_=_high_school_graduate/equivalent,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_=_some_college_or_associate's_degree,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_level_=_bachelor's_degree_or_higher
0,00601,0.683280,0.596330,0.390887,0.469602,0.843416,0.820690,0.885714,0.704348
1,00602,0.515905,0.415829,0.270992,0.062088,0.577389,0.711207,0.643510,0.446667
2,00603,0.572423,0.417804,0.164319,0.110504,0.663755,0.849206,0.746202,0.362903
3,00606,0.584699,0.502058,0.196581,0.317073,0.639676,0.583333,0.252336,0.404255
4,00610,0.568983,0.438136,0.223301,0.114155,0.683215,0.552688,0.385230,0.307927
...,...,...,...,...,...,...,...,...,...
16890,99762,0.000000,0.070175,0.023256,0.000000,0.391304,0.137931,0.021053,0.000000
16891,99801,0.000000,0.038694,0.010274,0.004921,0.740741,0.333333,0.066313,0.193955
16893,99833,0.000000,0.036585,0.007168,0.017094,1.000000,0.258065,0.250000,0.000000
16894,99835,0.000000,0.054381,0.014474,0.003115,0.400000,0.323529,0.205674,0.180556
16895,99901,0.163043,0.023211,0.020276,0.006936,0.458333,0.240876,0.250000,0.168421

Next, I once again 'melted' various columns into the same column in order to facilitate the creation of categorical variables. I also created columns that would store these categorical variables.

In [40]:
df_regression_test_2_melt = pd.melt(df_regression_test_2.copy(), id_vars = ['NAME'])
df_regression_test_2_melt['Married'] = 0
df_regression_test_2_melt['highest_ed_=_high_school_grad'] = 0
df_regression_test_2_melt['highest_ed_=_some_college_or_associate\'s'] = 0
df_regression_test_2_melt['highest_ed_=_bachelor\'s_or_higher'] = 0

In [41]:
df_regression_test_2_melt

,NAME,variable,value,Married,highest_ed_=_high_school_grad,highest_ed_=_some_college_or_associate's,highest_ed_=_bachelor's_or_higher
0,00601,Proportion_of_married-couple_families_below_th...,0.683280,0,0,0,0
1,00602,Proportion_of_married-couple_families_below_th...,0.515905,0,0,0,0
2,00603,Proportion_of_married-couple_families_below_th...,0.572423,0,0,0,0
3,00606,Proportion_of_married-couple_families_below_th...,0.584699,0,0,0,0
4,00610,Proportion_of_married-couple_families_below_th...,0.568983,0,0,0,0
...,...,...,...,...,...,...,...
105275,99762,Proportion_of_female-householder_families_belo...,0.000000,0,0,0,0
105276,99801,Proportion_of_female-householder_families_belo...,0.193955,0,0,0,0
105277,99833,Proportion_of_female-householder_families_belo...,0.000000,0,0,0,0
105278,99835,Proportion_of_female-householder_families_belo...,0.180556,0,0,0,0
105279,99901,Proportion_of_female-householder_families_belo...,0.168421,0,0,0,0

The output of the following for loop served as a reference for which column numbers corresponded to which variables.

In [42]:
for i in range(len(df_regression_test_2_melt.columns)):
    print("Column",i,":\t",df_regression_test_2_melt.columns[i])

Column 0 :	 NAME
Column 1 :	 variable
Column 2 :	 value
Column 3 :	 Married
Column 4 :	 highest_ed_=_high_school_grad
Column 5 :	 highest_ed_=_some_college_or_associate's
Column 6 :	 highest_ed_=_bachelor's_or_higher

In the next for loop, I filled in the categorical variables by seeing whether certain keywords ('married', 'some_college', etc.) were present in the variable column. For instance, given the variable 'Proportion_of_married-couple_families_below_the_poverty_level_where_householder_did_not_graduate_high_school', the for loop returned 1 for the 'Married' column and 0 for the other columns.

In [43]:
for i in range(len(df_regression_test_2_melt)):
    variable = df_regression_test_2_melt.iloc[i, 1]
    if 'married' in variable:
        df_regression_test_2_melt.iloc[i, 3] = 1
    if 'high_school_graduate' in variable:
        df_regression_test_2_melt.iloc[i, 4] = 1
    if 'some_college' in variable:
        df_regression_test_2_melt.iloc[i, 5] = 1
    if 'bachelor' in variable:
        df_regression_test_2_melt.iloc[i, 6] = 1

In [44]:
df_regression_test_2_melt.iloc[0,1]

'Proportion_of_married-couple_families_below_the_poverty_level_where_householder_did_not_graduate_high_school'

In [45]:
df_regression_test_2_melt.rename(columns={'value':'proportion_below_poverty_level'},inplace=True)
df_regression_test_2.to_csv('marriage_education_poverty_regression.csv', index = False)
df_regression_test_2_melt

,NAME,variable,proportion_below_poverty_level,Married,highest_ed_=_high_school_grad,highest_ed_=_some_college_or_associate's,highest_ed_=_bachelor's_or_higher
0,00601,Proportion_of_married-couple_families_below_th...,0.683280,1,0,0,0
1,00602,Proportion_of_married-couple_families_below_th...,0.515905,1,0,0,0
2,00603,Proportion_of_married-couple_families_below_th...,0.572423,1,0,0,0
3,00606,Proportion_of_married-couple_families_below_th...,0.584699,1,0,0,0
4,00610,Proportion_of_married-couple_families_below_th...,0.568983,1,0,0,0
...,...,...,...,...,...,...,...
105275,99762,Proportion_of_female-householder_families_belo...,0.000000,0,0,0,1
105276,99801,Proportion_of_female-householder_families_belo...,0.193955,0,0,0,1
105277,99833,Proportion_of_female-householder_families_belo...,0.000000,0,0,0,1
105278,99835,Proportion_of_female-householder_families_belo...,0.180556,0,0,0,1
105279,99901,Proportion_of_female-householder_families_belo...,0.168421,0,0,0,1

With the table complete, I performed a regression that used proportion_below_poverty_level as the dependent variable and various family type/education level values as the independent variables.

In [46]:
y = df_regression_test_2_melt['proportion_below_poverty_level']
x_vars = df_regression_test_2_melt[['Married',
       'highest_ed_=_high_school_grad',
       'highest_ed_=_some_college_or_associate\'s',
       'highest_ed_=_bachelor\'s_or_higher']]
x_vars = sm.add_constant(x_vars) 
model = sm.OLS(y,x_vars)
results_2 = model.fit() 
results_2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                  OLS Regression Results
==========================================================================================
Dep. Variable:     proportion_below_poverty_level   R-squared:                       0.290
Model:                                        OLS   Adj. R-squared:                  0.290
Method:                             Least Squares   F-statistic:                 1.077e+04
Date:                            Tue, 08 Aug 2023   Prob (F-statistic):               0.00
Time:                                    19:26:52   Log-Likelihood:                 31227.
No. Observations:                          105280   AIC:                        -6.244e+04
Df Residuals:                              105275   BIC:                        -6.240e+04
Df Model:                                       4
Covariance Type:                        nonrobust
============================================================================================================
                                               coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
const                                        0.3501      0.001    282.406      0.000       0.348       0.352
Married                                     -0.1817      0.001   -163.916      0.000      -0.184      -0.180
highest_ed_=_high_school_grad               -0.0812      0.002    -51.812      0.000      -0.084      -0.078
highest_ed_=_some_college_or_associate's    -0.1170      0.002    -74.645      0.000      -0.120      -0.114
highest_ed_=_bachelor's_or_higher           -0.1964      0.002   -125.249      0.000      -0.199      -0.193
==============================================================================
Omnibus:                    23525.985   Durbin-Watson:                   1.741
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            64661.008
Skew:                           1.193   Prob(JB):                         0.00
Kurtosis:                       6.008   Cond. No.                         5.39
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [47]:
end_time = time.time()
run_time = end_time - start_time
run_minutes = run_time // 60
run_seconds = run_time % 60
print("Completed run at",time.ctime(end_time),"(local time)")
print("Total run time:",'{:.2f}'.format(run_time),"second(s) ("+str(run_minutes),"minute(s) and",'{:.2f}'.format(run_seconds),"second(s))") # Only valid when the program is run nonstop from start to finish

Completed run at Tue Aug  8 19:26:52 2023 (local time)
Total run time: 88.84 second(s) (1.0 minute(s) and 28.84 second(s))