# Python Tutorial Program: Gathering and Exporting Census Data

By Kenneth Burchfiel

This code is released under the MIT license; the datasets produced by the code are in the public domain.

You can find my blog post on this code at https://kburchfiel3.wordpress.com/2021/08/12/python-tutorial-program-retrieving-u-s-census-data/ .

This program demonstrates how Python can be used to retrieve and export US Census data at the zip code, county, and state level. It also shows how the same variable can be accessed across years.

The census-specific functions called by this program can be found in census_query.py. Please read the documentation there for more information on applying these functions.

Although this tutorial program will focus on gathering education, family type, and income/poverty statistics from the American Community Survey (5-year estimates), the functions on which it is based can also be used to gather data from certain other sources, such as the decennial census.

Before being able to run the code below on your computer, you'll need to obtain a free US Census API key from https://api.census.gov/data/key_signup.html .

The following US Census links proved helpful in creating this program:

API list: https://www.census.gov/data/developers/data-sets.html

2020 Census redistricting data:

Variables: https://api.census.gov/data/2020/dec/pl/variables.html

Examples: https://api.census.gov/data/2020/dec/pl/examples.html

2010 Census:

Variables: https://api.census.gov/data/2010/dec/sf1/variables.html

Examples: https://api.census.gov/data/2010/dec/sf1/examples.html

ACS (5 year estimates):

Variables: https://api.census.gov/data/2019/acs/acs5/variables.html

Examples: https://api.census.gov/data/2019/acs/acs5/examples.html

ACS (1 year estimates):

Variables: https://api.census.gov/data/2019/acs/acs1/variables.html

Examples: https://api.census.gov/data/2019/acs/acs1.html

Variable code examples:

ACS5: population = B01001_001E

ACS1: population = B01001_001E

Census (redistricting data): population = P1_001N

Census (SF1 data): population = P001001

First, I imported a number of libraries:

In [1]:
import time
start_time = time.time() # Allows the program's runtime to be measured
# from census import Census I didn't end up using this library in this version
# of census_query_tutorial, but you may find it useful for your own
# analyses. See https://github.com/datamade/census for more information.
import pandas as pd
import numpy as np
import statsmodels.api as sm
from census_query import retrieve_census_data, \
retrieve_single_census_variable, test_variables, \
compare_variable_across_years, generate_variable_and_group_lists

Instead of hard coding the year into my Census queries, I chose to set it as a variable so that the queries could be modified more easily. I picked 2019 because it was the most recent year (at the time of first creating this project) that American Community Survey census data was available.

In [2]:
year = 2019

Next, I imported my Census API key into the code. I stored the path to the key and the key itself in separate file locations.

In [3]:
with open('..\\key_paths\\path_to_keys_folder.txt') as fin:
    api_folder_path = fin.readline()
with open(api_folder_path+'\\census_api_key.txt') as fin:
    api_key = fin.readline()

Creating a list of American Community Survey variables

In order to determine which variables I would import into my spreadsheet, I used the generate_variable_and_group_lists function in census_query.py to read in all 27,000+ variables in the 2014 American Community Survey from https://api.census.gov/data/2014/acs/acs5/variables.html . Next, I created a list of groups from this survey. 

'Groups' are general categories of data, whereas 'variables' are specific data points within a given group. For instance, group B16010 contains data on 'EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER,' and variable B16010_015E has the data label 'Estimate!!Total:!!High school graduate (includes equivalency)'.

In [4]:
create_new_variable_and_group_lists = True
if create_new_variable_and_group_lists == True:
    df_variables_and_groups = generate_variable_and_group_lists(year = 2019, source = 'acs5', variable_filter = 'Estimate')
    df_variables_and_groups[0].to_csv(
        'variables_from_html_acs5_2019.csv', index = False)
    df_variables_and_groups[1].to_csv(
        'groups_from_html_acs5_2019.csv', index = False)
    df_variables_and_groups[1]

retrieving data from: https://api.census.gov/data/2019/acs/acs5/variables.html

Here are all the variables that I can incorporate into my project, along with their descriptions:

In [5]:
df_variables = pd.read_csv('variables_from_html_acs5_2019.csv')
df_groups = pd.read_csv('groups_from_html_acs5_2019.csv')
df_variables

,Variable,Label,Concept,Group,Description
0,B01001A_001E,Estimate!!Total:,SEX BY AGE (WHITE ALONE),B01001A,SEX BY AGE (WHITE ALONE) Estimate!!Total:
1,B01001A_002E,Estimate!!Total:!!Male:,SEX BY AGE (WHITE ALONE),B01001A,SEX BY AGE (WHITE ALONE) Estimate!!Total:!!Male:
2,B01001A_003E,Estimate!!Total:!!Male:!!Under 5 years,SEX BY AGE (WHITE ALONE),B01001A,SEX BY AGE (WHITE ALONE) Estimate!!Total:!!Mal...
3,B01001A_004E,Estimate!!Total:!!Male:!!5 to 9 years,SEX BY AGE (WHITE ALONE),B01001A,SEX BY AGE (WHITE ALONE) Estimate!!Total:!!Mal...
4,B01001A_005E,Estimate!!Total:!!Male:!!10 to 14 years,SEX BY AGE (WHITE ALONE),B01001A,SEX BY AGE (WHITE ALONE) Estimate!!Total:!!Mal...
...,...,...,...,...,...
27034,C27021_011E,Estimate!!Total:!!In family households:!!In ot...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,C27021,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...
27035,C27021_012E,Estimate!!Total:!!In family households:!!In ot...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,C27021,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...
27036,C27021_013E,Estimate!!Total:!!In non-family households and...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,C27021,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...
27037,C27021_014E,Estimate!!Total:!!In non-family households and...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,C27021,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...
27038,C27021_015E,Estimate!!Total:!!In non-family households and...,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...,C27021,HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...

And here are all the groups (categories of variables) that I can use:

In [6]:
df_groups

                                                Concept    Group
0                              SEX BY AGE (WHITE ALONE)  B01001A
1          SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)  B01001B
2     SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ...  B01001C
3                              SEX BY AGE (ASIAN ALONE)  B01001D
4     SEX BY AGE (NATIVE HAWAIIAN AND OTHER PACIFIC ...  B01001E
...                                                 ...      ...
1131         PUBLIC HEALTH INSURANCE BY WORK EXPERIENCE   C27014
1132  HEALTH INSURANCE COVERAGE STATUS BY RATIO OF I...   C27016
1133  PRIVATE HEALTH INSURANCE BY RATIO OF INCOME TO...   C27017
1134  PUBLIC HEALTH INSURANCE BY RATIO OF INCOME TO ...   C27018
1135  HEALTH INSURANCE COVERAGE STATUS BY LIVING ARR...   C27021

[1136 rows x 2 columns]

I could then look through these two CSV files ('groups_from_html_acs' and 'variables_from_html_acs' to determine which variables to add to my project. 

First, I could look through the groups_from_html_acs list to find categories that interested me. For instance, since I was interested in comparing educational attainment across regions, I wanted to look further into group B16010, which contains data on ('EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER'). One of this group's variable entries (which I could find within variables_from_html_acs) is B16010_015E, whose data label is 'Estimate!!Total:!!High school graduate (includes equivalency):.' I added this variable code to my variable list, along with other variables that covered education, poverty, and demographic data.

When creating your own variable list, you might find it helpful to create a copy of the .csv file containing variables, then add an 'include' column to the file. You can then use this column to keep track of which variables to use. Once you've selected all the desired variables, you can sort the .csv file by the 'include' column; copy and paste all the variable codes that you wish to include into your Python notebook; and then convert these codes into a list. This strategy makes it easier to keep track of which codes you've already included and what they refer to.

My list focused on variables from the following categories:

1. Household types (mostly married households vs. ones led by a female householder with no spouse present, which, for brevity's sake, I'll abbreviate as 'female-householder' homes.
2. The presence of children within these households
3. Median household income
4. Poverty status by family type
5. Poverty status by family type and the highest level of education completed

In [7]:
variable_list = ['B01001_001E', 'B11005_001E', 'B11005_013E', 'B11005_002E', 
'B11005_004E', 'B19013_001E', 'B17006_002E', 'B17006_016E', 
'B17006_003E', 'B17006_017E', 'B17006_012E', 'B17006_026E',
'B17006_008E', 'B17006_022E', 'B17018_004E', 'B17018_021E', 
'B17018_005E', 'B17018_022E', 'B17018_006E', 'B17018_023E', 
'B17018_007E', 'B17018_024E', 'B17018_015E', 'B17018_032E', 
'B17018_016E', 'B17018_033E', 'B17018_017E', 'B17018_034E', 
'B17018_018E', 'B17018_035E', 'B16010_001E', 'B16010_002E',
'B16010_015E', 'B16010_028E', 'B16010_041E']

# You can use the following template for your own list:
# variable_list = ['', '', '', '',
# '', '', '', '',
# '', '', '', '']

To see how the function performs with longer variable lists, you can try using the following version of variable_list (which I created for a separate project):

In [8]:
# variable_list = ['B01001_001E', 'B01002_001E', 'B06008_001E', 'B06008_003E', 
# 'B08124_001E', 'B08124_002E', 'B08124_003E', 'B08124_004E', 'B08124_005E', 
# 'B08124_006E', 'B08124_007E', 'B09001_001E', 'B13002_001E', 'B13002_002E',
# 'B14001_001E', 'B14001_002E', 'B14001_008E', 'B14001_009E', 'B16010_001E',
# 'B16010_002E', 'B16010_041E', 'B17001_001E', 'B17001_002E', 'B19001_001E',
# 'B19001_002E', 'B19013_001E', 'B19083_001E', 'B19325_001E', 'B19325_002E',
# 'B19325_003E', 'B19325_049E', 'B19325_050E', 'B23025_001E', 'B23025_002E',
# 'B23025_004E', 'B23025_005E', 'B23027_012E', 'B23027_013E', 'B24011_001E',
# 'B24011_002E', 'B24011_018E', 'B24011_026E', 'B24011_029E', 'B24011_033E',
# 'B25002_001E', 'B25002_002E', 'B25010_001E', 'B25064_001E', 'B25077_001E',
# 'B25105_001E', 'C27012_001E', 'C27012_002E']

Next, I will create a filtered version of df_variables that includes only the variables stored in variable_list.

In [9]:
df_variables = df_variables.query("Variable in @variable_list").copy()
# Adding .copy() here prevents a SettingWithCopyWarning later on.

In [10]:
df_variables

,Variable,Label,Concept,Group,Description
279,B01001_001E,Estimate!!Total:,SEX BY AGE,B01001,SEX BY AGE Estimate!!Total:
6835,B11005_001E,Estimate!!Total:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEAR...,B11005,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEAR...
6836,B11005_002E,Estimate!!Total:!!Households with one or more ...,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEAR...,B11005,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEAR...
6838,B11005_004E,Estimate!!Total:!!Households with one or more ...,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEAR...,B11005,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEAR...
6847,B11005_013E,Estimate!!Total:!!Households with no people un...,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEAR...,B11005,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEAR...
8692,B16010_001E,Estimate!!Total:,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...,B16010,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...
8693,B16010_002E,Estimate!!Total:!!Less than high school graduate:,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...,B16010,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...
8706,B16010_015E,Estimate!!Total:!!High school graduate (includ...,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...,B16010,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...
8719,B16010_028E,Estimate!!Total:!!Some college or associate's ...,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...,B16010,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...
8732,B16010_041E,Estimate!!Total:!!Bachelor's degree or higher:,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...,B16010,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...
9401,B17006_002E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...
9402,B17006_003E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...
9407,B17006_008E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...
9411,B17006_012E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...
9415,B17006_016E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...
9416,B17006_017E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...
9421,B17006_022E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...
9425,B17006_026E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...,B17006,POVERTY STATUS IN THE PAST 12 MONTHS OF RELATE...
10172,B17018_004E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10173,B17018_005E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10174,B17018_006E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10175,B17018_007E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10183,B17018_015E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10184,B17018_016E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10185,B17018_017E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10186,B17018_018E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10189,B17018_021E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10190,B17018_022E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10191,B17018_023E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10192,B17018_024E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10200,B17018_032E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10201,B17018_033E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10202,B17018_034E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
10203,B17018_035E,Estimate!!Total:!!Income in the past 12 months...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...
11260,B19013_001E,Estimate!!Median household income in the past ...,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS ...,B19013,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS ...

It's now time to query census data on each of the variables in variable_list for the year specified. retrieve_census_data (contained in census_query.py) allows for this to be accomplished in blocks of variables, thus saving time.

The following three code blocks retrieve 2019 American Community Survey (5-year estimates) data for zip codes, counties, and states. Each block **also** merges in population data from 5 years ago so that each region's population growth can be measured.

In [11]:
zip_data = retrieve_census_data(df_variable_list = df_variables, year = year, region = 'zip', source = 'acs5', api_key = api_key)
zip_data = zip_data.merge(retrieve_single_census_variable(variable = 'B01001_001E', column_name = 'population', region = 'zip', year = year-5, source = 'acs5', api_key = api_key), on = 'NAME', how = 'outer')
zip_data

Retrieving data from rows 0 to 34

,NAME,Year,state,SEX BY AGE Estimate!!Total:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:!!Family households:!!Married-couple family,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with no people under 18 years:!!Family households:!!Married-couple family,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!Less than high school graduate:,...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Less than high school graduate,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!High school graduate (includes equivalency),"POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Some college, associate's degree",POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Bachelor's degree or higher,"POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Less than high school graduate","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!High school graduate (includes equivalency)","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Some college, associate's degree","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Bachelor's degree or higher",MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) Estimate!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars),population_2014
0,25245,2019,54,600,294,20,20,152,499,65,...,16,48,89,0,0,0,0,0,57895,686
1,25268,2019,54,964,354,80,54,197,745,157,...,50,61,71,51,0,0,0,0,27200,731
2,25286,2019,54,1700,613,211,152,152,1177,322,...,35,216,28,10,0,9,17,0,38313,1479
3,25303,2019,54,6764,2970,876,534,731,4838,201,...,0,174,469,583,0,48,54,116,58820,7181
4,25311,2019,54,10964,5088,1229,527,999,7866,754,...,101,418,432,533,0,99,299,126,40920,10059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,38704,2019,28,2,2,0,0,0,2,0,...,0,0,0,0,0,0,0,0,-666666666,3
33116,38731,2019,28,246,54,46,26,8,145,59,...,26,0,8,0,0,20,0,0,53173,184
33117,38749,2019,28,71,34,5,0,5,62,29,...,0,5,0,0,0,0,0,0,18750,20
33118,38781,2019,28,198,107,12,7,7,172,37,...,0,6,4,4,4,0,0,0,10772,247
33119,38945,2019,28,64,12,12,12,0,50,22,...,0,12,0,0,0,0,0,0,-666666666,16

In [12]:
county_data = retrieve_census_data(df_variable_list = df_variables, year = year, source = 'acs5', region = 'county', api_key = api_key)
county_data = county_data.merge(retrieve_single_census_variable(variable = 'B01001_001E', column_name = 'population', region = 'county', year = year-5, source = 'acs5', api_key = api_key), on = 'NAME', how = 'outer')
county_data

Retrieving data from rows 0 to 34

,NAME,Year,state,county,SEX BY AGE Estimate!!Total:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:!!Family households:!!Married-couple family,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with no people under 18 years:!!Family households:!!Married-couple family,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:,...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Less than high school graduate,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!High school graduate (includes equivalency),"POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Some college, associate's degree",POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Bachelor's degree or higher,"POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Less than high school graduate","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!High school graduate (includes equivalency)","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Some college, associate's degree","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Bachelor's degree or higher",MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) Estimate!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars),population_2014
0,"Fayette County, Illinois",2019.0,17.0,51.0,21565.0,7737.0,2193.0,1433.0,2778.0,15303.0,...,411.0,1489.0,1414.0,572.0,27.0,168.0,162.0,39.0,46650.0,22041.0
1,"Logan County, Illinois",2019.0,17.0,107.0,29003.0,10797.0,2831.0,2023.0,3538.0,20373.0,...,171.0,1732.0,1793.0,1705.0,35.0,208.0,264.0,153.0,57308.0,30047.0
2,"Saline County, Illinois",2019.0,17.0,165.0,23994.0,9972.0,3122.0,1823.0,3046.0,17113.0,...,257.0,781.0,2178.0,1183.0,34.0,177.0,279.0,162.0,44090.0,24876.0
3,"Lake County, Illinois",2019.0,17.0,97.0,701473.0,246122.0,90926.0,68192.0,76607.0,457676.0,...,9449.0,19759.0,31821.0,79600.0,1827.0,4757.0,6471.0,7024.0,89427.0,703170.0
4,"Massac County, Illinois",2019.0,17.0,127.0,14219.0,5822.0,1886.0,1293.0,1807.0,10021.0,...,210.0,729.0,1369.0,546.0,36.0,66.0,175.0,50.0,47481.0,15148.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3217,"Knox County, Tennessee",2019.0,47.0,93.0,461104.0,187319.0,53211.0,35388.0,52752.0,308366.0,...,3744.0,15768.0,23352.0,41482.0,1258.0,3874.0,5607.0,4066.0,57470.0,440732.0
3218,"Benton County, Washington",2019.0,53.0,5.0,197518.0,72121.0,24931.0,16610.0,21172.0,127960.0,...,1975.0,6346.0,12719.0,14841.0,564.0,1219.0,2673.0,1490.0,69023.0,182053.0
3219,"Clark County, Washington",2019.0,53.0,11.0,473252.0,174661.0,59067.0,42004.0,53759.0,319955.0,...,4124.0,16089.0,35353.0,36977.0,1011.0,3178.0,7050.0,3032.0,75253.0,438272.0
3220,"Shannon County, South Dakota",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14005.0
3221,"Wade Hampton Census Area, Alaska",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7778.0

In [13]:
state_data = retrieve_census_data(df_variable_list = df_variables, year = year, source = 'acs5', region = 'state', api_key = api_key)
state_data = state_data.merge(retrieve_single_census_variable(variable = 'B01001_001E', column_name = 'population', region = 'state', year = year-5, source = 'acs5', api_key = api_key), on = 'NAME', how = 'outer')
state_data

Retrieving data from rows 0 to 34

,NAME,Year,state,SEX BY AGE Estimate!!Total:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:!!Family households:!!Married-couple family,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with no people under 18 years:!!Family households:!!Married-couple family,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!Less than high school graduate:,...,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Less than high school graduate,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!High school graduate (includes equivalency),"POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Some college, associate's degree",POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Bachelor's degree or higher,"POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Less than high school graduate","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!High school graduate (includes equivalency)","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Some college, associate's degree","POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Bachelor's degree or higher",MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) Estimate!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars),population_2014
0,Alabama,2019,1,4876250,1867893,560887,346010,537511,3320877,458922,...,62087,210389,264847,298240,20161,48224,67244,40003,50536,4817678
1,Alaska,2019,2,737068,253346,87149,57885,66718,480586,34376,...,4590,23254,45878,46756,1451,5736,8862,4896,77640,728300
2,Arizona,2019,4,7050299,2571268,789782,496083,728297,4732532,608637,...,90976,201862,399596,455654,27334,52220,95193,55475,58945,6561516
3,Arkansas,2019,5,2999370,1158071,364192,227539,332292,2011639,270168,...,44422,151631,163452,165962,11825,30258,38982,20971,47597,2947036
4,California,2019,6,39283497,13044266,4482879,3050730,3440506,26471543,4418675,...,738802,930831,1770325,2678932,202212,268597,478465,350097,75235,38066920
5,Colorado,2019,8,5610349,2148994,658465,466708,602135,3825579,315751,...,54539,161380,297242,518231,13597,34086,58818,50725,72331,5197580
6,Delaware,2019,10,957248,363322,102861,64145,112493,669320,66816,...,9956,39777,48062,72373,2578,11959,11590,9751,68287,917060
7,District of Columbia,2019,11,692683,284386,59173,29257,44627,494116,44850,...,3222,5447,6985,56225,3223,8405,8166,8300,86420,633736
8,Connecticut,2019,9,3575074,1370746,403685,266633,392880,2483095,232663,...,31391,127014,151799,331188,12098,39620,45503,37762,78444,3592053
9,Florida,2019,12,20901636,7736311,2087688,1281766,2340583,14965745,1767583,...,227887,746082,1061698,1381751,78473,201731,274802,198438,55660,19361792
10,Georgia,2019,13,10403847,3758798,1265020,790074,996377,6888279,885498,...,125945,366310,486888,712487,41918,100574,143003,112836,58700,9907756
11,Idaho,2019,16,1717750,630008,202920,146202,195256,1115556,102929,...,19533,67511,119866,116040,3964,10280,17331,9005,55785,1599464
12,Hawaii,2019,15,1422094,459424,145155,101564,135829,993005,79721,...,10126,44649,77581,96538,4396,12194,16723,12729,81275,1392704
13,Illinois,2019,17,12770631,4846134,1480481,980994,1314462,8686299,937042,...,153601,440265,634675,973699,43385,108121,167786,118681,65886,12868747
14,Indiana,2019,18,6665703,2570419,795712,507786,730895,4430493,495390,...,79519,331170,359636,416413,21338,66777,79082,47318,56303,6542411
15,Iowa,2019,19,3139508,1265473,375451,253850,378557,2092785,165514,...,30522,155013,204523,221945,6098,22171,35837,20710,60523,3078116
16,Kansas,2019,20,2910652,1129227,355621,244581,327200,1902279,172126,...,30642,109607,174339,235977,7027,17703,32942,22683,59597,2882946
17,Kentucky,2019,21,4449052,1734618,539217,341686,495334,3019093,414784,...,62573,221210,237010,259347,15446,40655,53507,30376,50589,4383272
18,Louisiana,2019,22,4664362,1739497,543625,308501,442513,3125153,461706,...,55520,209064,206976,236138,20346,54712,60130,39256,49469,4601049
19,Maine,2019,23,1335492,559921,141912,91535,180598,974117,71985,...,9915,65290,81731,105492,2143,10712,14036,11522,57918,1328535
20,Maryland,2019,24,6018848,2205204,708938,463969,594626,4139008,405463,...,56906,177683,250778,545844,20055,61289,87852,82474,84805,5887776
21,Massachusetts,2019,25,6850553,2617497,761625,513405,718363,4781683,441944,...,60959,210180,267487,657544,24467,61551,82357,77527,81215,6657291
22,Michigan,2019,26,9965265,3935041,1127499,715123,1138333,6813480,626190,...,87184,391391,596099,695902,28272,91602,142417,77368,57144,9889024
23,Minnesota,2019,27,5563378,2185603,663922,461980,646721,3766900,258391,...,38866,201232,348388,490982,11217,34816,65713,41316,71306,5383661
24,Mississippi,2019,28,2984418,1104394,357403,199836,290932,1975670,306105,...,41133,113301,159985,145081,15399,30656,47079,25519,45081,2984345
25,Missouri,2019,29,6104910,2414521,716422,460961,695803,4150049,418266,...,62735,274063,340760,427369,18239,54599,80453,49663,55461,6028076
26,Montana,2019,30,1050649,427871,113998,79428,132566,723295,46650,...,7106,47252,66649,81618,1403,6157,9887,7022,54970,1006370
27,Nebraska,2019,31,1914571,759176,238337,164874,216272,1251026,107535,...,18947,75219,124648,149485,4434,12537,21289,14374,61439,1855617
28,Nevada,2019,32,2972382,1098602,335663,204198,283865,2044695,272132,...,43844,101179,167118,150920,13203,28623,44059,22224,60365,2761584
29,New Hampshire,2019,33,1348124,532037,146514,101677,176704,960337,66206,...,10073,56459,79044,127433,2734,9613,14730,12008,76768,1321069
30,New Jersey,2019,34,8878503,3231874,1052166,736224,919921,6146379,625931,...,92360,319455,353628,832289,31053,95287,101982,100563,82545,8874374
31,New Mexico,2019,35,2092454,780249,233104,134366,205159,1403371,202250,...,28198,66074,101604,116167,8808,17279,28167,18122,49754,2080085
32,New York,2019,36,19572319,7343234,2151245,1368024,1867697,13631937,1796594,...,241684,636999,767349,1412115,96256,204115,244087,232096,68486,19594330
33,North Carolina,2019,37,10264876,3965482,1221998,775934,1128057,6983859,853396,...,124281,366649,571650,747885,38534,85905,145741,95126,54602,9750405
34,North Dakota,2019,38,756717,318322,88327,61715,90192,495068,36394,...,6401,30844,54549,55956,1386,4464,7382,4927,64894,704925
35,Ohio,2019,39,11655397,4676358,1369655,840126,1302738,7975777,767378,...,109365,559103,605398,785326,35187,124701,156788,93629,56602,11560380
36,Oklahoma,2019,40,3932870,1480061,480613,304930,411849,2592088,310453,...,50835,169447,222410,234005,12054,35944,47666,28036,52919,3818851
37,Oregon,2019,41,4129803,1611982,457051,307598,475743,2898950,269250,...,44065,127845,258899,317143,10025,26402,52383,31658,62818,3900343
38,Pennsylvania,2019,42,12791530,5053106,1417760,915469,1493265,8954232,848910,...,128550,659649,577350,956060,38648,151124,142946,108209,61744,12758729
39,Rhode Island,2019,44,1057231,410489,116683,72581,110343,737200,82467,...,11967,38638,45965,79828,4004,11355,14539,10112,67167,1053252
40,South Carolina,2019,45,5020806,1921862,565432,343626,562653,3446971,430491,...,56919,193781,275845,336584,20550,53962,74185,41699,53199,4727273
41,South Dakota,2019,46,870638,344397,103460,68894,102368,572393,47241,...,6789,41792,55239,61625,1757,5681,9452,5643,58275,834708
42,Tennessee,2019,47,6709356,2597292,791295,498293,755903,4587393,575128,...,87098,309147,352333,438653,25380,68966,84358,53487,53320,6451365
43,Texas,2019,48,28260856,9691647,3560763,2356009,2520399,18131554,2957959,...,519852,883158,1342312,1823319,138764,232739,348141,230821,61874,26092033
44,Vermont,2019,50,624313,260029,65420,43205,79988,440460,32276,...,4931,27321,31783,55194,804,4285,6130,5936,61973,626358
45,Utah,2019,49,3096848,977313,398837,311452,284647,1824052,140800,...,26678,93426,207377,243441,5842,17785,28221,17734,71621,2858111
46,Virginia,2019,51,8454463,3151045,997666,683014,903480,5776886,595348,...,89179,268862,407525,769688,29137,67800,102175,84915,74222,8185131
47,Washington,2019,53,7404107,2848396,870668,606778,823682,5101624,442449,...,70832,222931,460059,627895,18661,47272,91343,58012,73775,6899123
48,West Virginia,2019,54,1817305,732585,201402,127998,228026,1287427,168624,...,26260,119400,94133,92178,6523,19078,16815,10497,46711,1853881
49,Wisconsin,2019,55,5790716,2358156,670004,442867,705977,3955705,308216,...,50748,272425,358896,430747,13284,46706,68531,41025,61747,5724692
50,Wyoming,2019,56,581024,230101,68479,47616,71737,390516,26688,...,4623,27850,43435,39061,1024,3388,6564,2983,64049,575251
51,Puerto Rico,2019,72,3318447,1192654,338547,144778,306500,2345959,550182,...,42820,78610,79597,123619,17367,20603,27299,51243,20539,3638965

I admit that many of the column names are obscenely long and unwieldy. This is less of an issue when viewing the table as a CSV export (which I'll perform later), since spreadsheet software can make the columns a uniform width while allowing the full name to be displayed in a separate box. An alternative to these long names, though, would be to keep the variable codes as the column name, then include a key mapping each variable code to its description.

So far, the values shown in the DataFrame are nominal in nature. For example, the table reports on the number of married-couple households with one or more children, but doesn't say what *proportion* have at laest one child--which is much more useful when comparing different zip codes.

Therefore, in the following code block, I added additional columns to the DataFrame that generate various proportions using a function called calc_proportion_and_rename. Some of these were generated using pre-existing totals as a denominator, whereas others used the sum of two diferent statistics as the denominator. (For example, to calculate the proportion of children below the poverty level for a given zip code, I divided the number of children below the poverty level by the sum of (1) children below the poverty level and (2) children above the poverty level. This was a useful strategy when a given Census table didn't have a 'totals' row.

(When creating proportions, be careful about using a total in one table as the denominator for a proportion calculation that involves a separate table. For example, if Table A says that there are 10,000 kids in a zip code, and Table B says that there are 2,000 kids below the poverty line, you may be tempted to conclude that the proportion of children below the poverty line equals 2,000/10,000 = 0.2. However, suppose not all the kids identified in Table A show up in Table B, and that Table B doesn't have a totals row. In that case, you'd want to divide the proportion of kids in Table B above below the poverty level (2,000) by the number in Table B above the poverty level (let's say it's 6,000) to arrive at a more accurate proportion--in this case, 2,000/(2,000+6,000) = 2,000/8,000 = 25%.)

The calc_proportions_and_rename function also renames certain columns to make them more intuitive.

In [14]:
def calc_proportions_and_rename(df_results):

    df_results['5_year_population_growth'] = (df_results['SEX BY AGE Estimate!!Total:']/df_results['population_2014']-1)

    df_results['Married_couple_households_with_one_or_more_children_as_proportion_of_all_households'] = df_results['HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:!!Family households:!!Married-couple family']/df_results['HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:']

    df_results['Married_couple_households_with_one_or_more_children_as_proportion_of_all_households_with_one_or_more_children'] = df_results['HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:!!Family households:!!Married-couple family']/df_results['HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:']

    df_results['Proportion_of_children_below_poverty_level'] = df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months below poverty level:']/(df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months below poverty level:'] + df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months at or above poverty level:'])

    df_results['Proportion_of_children_in_married_couple_families_below_poverty_level'] = df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months below poverty level:!!In married-couple family:']/(df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months below poverty level:!!In married-couple family:'] + df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!In married-couple family:'])

    df_results['Proportion_of_children_in_female_householder_families_below_poverty_level'] = df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months below poverty level:!!In other family:!!Female householder, no spouse present:']/(df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months below poverty level:!!In other family:!!Female householder, no spouse present:'] + df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!In other family:!!Female householder, no spouse present:'])

    df_results['Proportion_of_children_in_male_householder_families_below_poverty_level'] = df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months below poverty level:!!In other family:!!Male householder, no spouse present:']/(df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months below poverty level:!!In other family:!!Male householder, no spouse present:'] + df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS BY FAMILY TYPE BY AGE OF RELATED CHILDREN UNDER 18 YEARS Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!In other family:!!Male householder, no spouse present:'])

    # Calculating proportions of residents living below the poverty level by education and household type

    df_results['Proportion_of_married-couple_families_below_the_poverty_level_where_householder_did_not_graduate_high_school'] = df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!Less than high school graduate']/(df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!Less than high school graduate']+df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Less than high school graduate'])

    df_results['Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_=_high_school_graduate/equivalent'] = df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!High school graduate (includes equivalency)"]/(df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!High school graduate (includes equivalency)"]+df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!High school graduate (includes equivalency)"])

    df_results['Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_=_some_college_or_associate\'s_degree'] = df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!Some college, associate's degree"]/(df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!Some college, associate's degree"]+df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Some college, associate's degree"])

    df_results['Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_level_=_bachelor\'s_degree_or_higher'] = df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!Bachelor's degree or higher"]/(df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Married-couple family:!!Bachelor's degree or higher"]+df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Married-couple family:!!Bachelor's degree or higher"])


    df_results['Proportion_of_female-householder_families_below_the_poverty_level_where_householder_did_not_graduate_high_school'] = df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other families:!!Female householder, no spouse present:!!Less than high school graduate"]/(df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other families:!!Female householder, no spouse present:!!Less than high school graduate']+df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Less than high school graduate'])

    df_results['Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_=_high_school_graduate/equivalent'] = df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other families:!!Female householder, no spouse present:!!High school graduate (includes equivalency)']/(df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other families:!!Female householder, no spouse present:!!High school graduate (includes equivalency)']+df_results['POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!High school graduate (includes equivalency)'])

    df_results['Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_=_some_college_or_associate\'s_degree'] = df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other families:!!Female householder, no spouse present:!!Some college, associate's degree"]/(df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other families:!!Female householder, no spouse present:!!Some college, associate's degree"]+df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Some college, associate's degree"])

    df_results['Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_level_=_bachelor\'s_degree_or_higher'] = df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other families:!!Female householder, no spouse present:!!Bachelor's degree or higher"]/(df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months below poverty level:!!Other families:!!Female householder, no spouse present:!!Bachelor's degree or higher"]+df_results["POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILIES BY HOUSEHOLD TYPE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Other families:!!Female householder, no spouse present:!!Bachelor's degree or higher"])

    df_results['Proportion_of_individuals_25+y/o_who_did_not_graduate_high_school'] = df_results['EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!Less than high school graduate:']/(df_results['EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:'])

    df_results['Proportion_of_individuals_25+y/o_whose_highest_education_level_=_high_school_graduate/equivalent'] = df_results['EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!High school graduate (includes equivalency):']/(df_results['EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:'])

    df_results['Proportion_of_individuals_25+_y/o_whose_highest_education_level_=_some_college/associate\'s_degree'] = df_results["EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!Some college or associate's degree:"]/(df_results['EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:'])

    df_results['Proportion_of_individuals_25+_y/o_whose_highest_education_level_=_bachelor\'s_degree_or_higher'] = df_results["EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!Bachelor's degree or higher:"]/(df_results['EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:'])

    # df_results[''] = df_results['']/(df_results['']+df_results[''])

    df_results.rename(columns = {

        "SEX BY AGE Estimate!!Total:":"Total_population",

        "MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS) Estimate!!Median household income in the past 12 months (in 2019 inflation-adjusted dollars)":"Median_household_income",
        
        "HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:":"Households",
        
        },inplace=True)



    return df_results

In [15]:
county_data = calc_proportions_and_rename(county_data)
county_data

,NAME,Year,state,county,Total_population,Households,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:!!Family households:!!Married-couple family,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with no people under 18 years:!!Family households:!!Married-couple family,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:,...,Proportion_of_married-couple_families_below_the_poverty_level_where_householder's_highest_education_=_some_college_or_associate's_degree,Proportion_of_married-couple_families_below_the_poverty_level_where_householder's_highest_education_level_=_bachelor's_degree_or_higher,Proportion_of_female-householder_families_below_the_poverty_level_where_householder_did_not_graduate_high_school,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_=_high_school_graduate/equivalent,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_=_some_college_or_associate's_degree,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_level_=_bachelor's_degree_or_higher,Proportion_of_individuals_25+y/o_who_did_not_graduate_high_school,Proportion_of_individuals_25+y/o_whose_highest_education_level_=_high_school_graduate/equivalent,Proportion_of_individuals_25+_y/o_whose_highest_education_level_=_some_college/associate's_degree,Proportion_of_individuals_25+_y/o_whose_highest_education_level_=_bachelor's_degree_or_higher
0,"Fayette County, Illinois",2019.0,17.0,51.0,21565.0,7737.0,2193.0,1433.0,2778.0,15303.0,...,0.056075,0.020548,0.666667,0.391304,0.384030,0.113636,0.161994,0.401621,0.323531,0.112854
1,"Logan County, Illinois",2019.0,17.0,107.0,29003.0,10797.0,2831.0,2023.0,3538.0,20373.0,...,0.029237,0.013881,0.708333,0.200000,0.180124,0.012903,0.112845,0.353213,0.334708,0.199234
2,"Saline County, Illinois",2019.0,17.0,165.0,23994.0,9972.0,3122.0,1823.0,3046.0,17113.0,...,0.069628,0.065561,0.690909,0.570388,0.487132,0.124324,0.133115,0.274762,0.399988,0.192135
3,"Lake County, Illinois",2019.0,17.0,97.0,701473.0,246122.0,90926.0,68192.0,76607.0,457676.0,...,0.024105,0.011499,0.434190,0.264419,0.198241,0.078820,0.093649,0.207586,0.245519,0.453246
4,"Massac County, Illinois",2019.0,17.0,127.0,14219.0,5822.0,1886.0,1293.0,1807.0,10021.0,...,0.041317,0.053726,0.550000,0.600000,0.297189,0.000000,0.132322,0.335795,0.392576,0.139307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3217,"Knox County, Tennessee",2019.0,47.0,93.0,461104.0,187319.0,53211.0,35388.0,52752.0,308366.0,...,0.035639,0.014890,0.506086,0.374152,0.265907,0.090380,0.082850,0.252748,0.287947,0.376455
3218,"Benton County, Washington",2019.0,53.0,5.0,197518.0,72121.0,24931.0,16610.0,21172.0,127960.0,...,0.050608,0.012903,0.466919,0.347081,0.224768,0.064658,0.098312,0.244616,0.347929,0.309143
3219,"Clark County, Washington",2019.0,53.0,11.0,473252.0,174661.0,59067.0,42004.0,53759.0,319955.0,...,0.033833,0.016700,0.307060,0.209453,0.195756,0.075328,0.073348,0.242437,0.378072,0.306143
3220,"Shannon County, South Dakota",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3221,"Wade Hampton Census Area, Alaska",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
state_data = calc_proportions_and_rename(state_data)
state_data

,NAME,Year,state,Total_population,Households,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:!!Family households:!!Married-couple family,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with no people under 18 years:!!Family households:!!Married-couple family,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!Less than high school graduate:,...,Proportion_of_married-couple_families_below_the_poverty_level_where_householder's_highest_education_=_some_college_or_associate's_degree,Proportion_of_married-couple_families_below_the_poverty_level_where_householder's_highest_education_level_=_bachelor's_degree_or_higher,Proportion_of_female-householder_families_below_the_poverty_level_where_householder_did_not_graduate_high_school,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_=_high_school_graduate/equivalent,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_=_some_college_or_associate's_degree,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_level_=_bachelor's_degree_or_higher,Proportion_of_individuals_25+y/o_who_did_not_graduate_high_school,Proportion_of_individuals_25+y/o_whose_highest_education_level_=_high_school_graduate/equivalent,Proportion_of_individuals_25+_y/o_whose_highest_education_level_=_some_college/associate's_degree,Proportion_of_individuals_25+_y/o_whose_highest_education_level_=_bachelor's_degree_or_higher
0,Alabama,2019,1,4876250,1867893,560887,346010,537511,3320877,458922,...,0.046679,0.015528,0.520581,0.398838,0.311018,0.106018,0.138193,0.308003,0.299121,0.254683
1,Alaska,2019,2,737068,253346,87149,57885,66718,480586,34376,...,0.029530,0.009407,0.364989,0.311487,0.194876,0.063862,0.071529,0.280037,0.352921,0.295512
2,Arizona,2019,4,7050299,2571268,789782,496083,728297,4732532,608637,...,0.049651,0.023411,0.485497,0.311236,0.225336,0.099841,0.128607,0.238589,0.338136,0.294668
3,Arkansas,2019,5,2999370,1158071,364192,227539,332292,2011639,270168,...,0.054923,0.021075,0.491398,0.366842,0.328429,0.112339,0.134302,0.340349,0.295071,0.230278
4,California,2019,6,39283497,13044266,4482879,3050730,3440506,26471543,4418675,...,0.043251,0.021298,0.393669,0.272962,0.205808,0.091198,0.166922,0.204879,0.288940,0.339260
5,Colorado,2019,8,5610349,2148994,658465,466708,602135,3825579,315751,...,0.036452,0.014747,0.418832,0.273684,0.217846,0.088155,0.082537,0.213681,0.294659,0.409123
6,Delaware,2019,10,957248,363322,102861,64145,112493,669320,66816,...,0.035074,0.013279,0.451489,0.275168,0.224282,0.057601,0.099827,0.312928,0.267312,0.319934
7,District of Columbia,2019,11,692683,284386,59173,29257,44627,494116,44850,...,0.073976,0.006608,0.493717,0.375464,0.258108,0.077880,0.090768,0.168351,0.155474,0.585407
8,Connecticut,2019,9,3575074,1370746,403685,266633,392880,2483095,232663,...,0.025743,0.013164,0.439674,0.240327,0.205576,0.076566,0.093699,0.268547,0.244912,0.392842
9,Florida,2019,12,20901636,7736311,2087688,1281766,2340583,14965745,1767583,...,0.047571,0.029266,0.410075,0.295617,0.219937,0.109616,0.118109,0.285735,0.297361,0.298796
10,Georgia,2019,13,10403847,3758798,1265020,790074,996377,6888279,885498,...,0.043975,0.018180,0.477403,0.352660,0.284756,0.102553,0.128551,0.277147,0.281071,0.313230
11,Idaho,2019,16,1717750,630008,202920,146202,195256,1115556,102929,...,0.060987,0.025840,0.435167,0.340307,0.275732,0.144987,0.092267,0.273569,0.358484,0.275680
12,Hawaii,2019,15,1422094,459424,145155,101564,135829,993005,79721,...,0.033897,0.018484,0.246873,0.215870,0.172907,0.103276,0.080283,0.273562,0.316383,0.329773
13,Illinois,2019,17,12770631,4846134,1480481,980994,1314462,8686299,937042,...,0.033824,0.016472,0.420266,0.323068,0.259687,0.090065,0.107876,0.259549,0.286049,0.346526
14,Indiana,2019,18,6665703,2570419,795712,507786,730895,4430493,495390,...,0.036583,0.015607,0.466123,0.309720,0.287883,0.097742,0.111814,0.334068,0.289553,0.264566
15,Iowa,2019,19,3139508,1265473,375451,253850,378557,2092785,165514,...,0.031316,0.014327,0.477240,0.326519,0.263840,0.086780,0.079088,0.309825,0.325424,0.285663
16,Kansas,2019,20,2910652,1129227,355621,244581,327200,1902279,172126,...,0.036317,0.013037,0.445383,0.346608,0.267092,0.093224,0.090484,0.259061,0.316608,0.333847
17,Kentucky,2019,21,4449052,1734618,539217,341686,495334,3019093,414784,...,0.054633,0.019286,0.515617,0.387892,0.339289,0.118284,0.137387,0.328939,0.291521,0.242153
18,Louisiana,2019,22,4664362,1739497,543625,308501,442513,3125153,461706,...,0.050225,0.016022,0.553365,0.411889,0.342159,0.115178,0.147739,0.339628,0.271498,0.241135
19,Maine,2019,23,1335492,559921,141912,91535,180598,974117,71985,...,0.030003,0.014628,0.379919,0.306936,0.266283,0.086353,0.073898,0.314735,0.293245,0.318122
20,Maryland,2019,24,6018848,2205204,708938,463969,594626,4139008,405463,...,0.023519,0.013103,0.362341,0.238542,0.161790,0.056966,0.097961,0.246110,0.254208,0.401720
21,Massachusetts,2019,25,6850553,2617497,761625,513405,718363,4781683,441944,...,0.028987,0.013212,0.398061,0.285769,0.210588,0.081542,0.092424,0.240193,0.230494,0.436889
22,Michigan,2019,26,9965265,3935041,1127499,715123,1138333,6813480,626190,...,0.040749,0.018470,0.499814,0.338069,0.266829,0.099587,0.091905,0.288739,0.327997,0.291359
23,Minnesota,2019,27,5563378,2185603,663922,461980,646721,3766900,258391,...,0.023636,0.010725,0.476110,0.267032,0.212990,0.077315,0.068595,0.246476,0.324111,0.360818
24,Mississippi,2019,28,2984418,1104394,357403,199836,290932,1975670,306105,...,0.055634,0.021132,0.519532,0.445371,0.367022,0.129728,0.154937,0.304380,0.320426,0.220256
25,Missouri,2019,29,6104910,2414521,716422,460961,695803,4150049,418266,...,0.043728,0.016025,0.465680,0.322122,0.262576,0.106041,0.100786,0.306170,0.300864,0.292180
26,Montana,2019,30,1050649,427871,113998,79428,132566,723295,46650,...,0.047095,0.020463,0.473348,0.364143,0.260896,0.133086,0.064497,0.288321,0.326886,0.320297
27,Nebraska,2019,31,1914571,759176,238337,164874,216272,1251026,107535,...,0.030407,0.012388,0.421149,0.309332,0.264654,0.098639,0.085957,0.261061,0.333864,0.319118
28,Nevada,2019,32,2972382,1098602,335663,204198,283865,2044695,272132,...,0.045302,0.023601,0.406527,0.273085,0.199364,0.099951,0.133092,0.280851,0.338739,0.247319
29,New Hampshire,2019,33,1348124,532037,146514,101677,176704,960337,66206,...,0.020472,0.009945,0.334631,0.234573,0.176957,0.089613,0.068940,0.274196,0.286434,0.370429
30,New Jersey,2019,34,8878503,3231874,1052166,736224,919921,6146379,625931,...,0.031241,0.016624,0.408751,0.247546,0.190837,0.080592,0.101837,0.271858,0.229168,0.397136
31,New Mexico,2019,35,2092454,780249,233104,134366,205159,1403371,202250,...,0.065710,0.023954,0.515245,0.372015,0.316783,0.135029,0.144117,0.264604,0.317994,0.273284
32,New York,2019,36,19572319,7343234,2151245,1368024,1867697,13631937,1796594,...,0.044162,0.020905,0.440134,0.289857,0.229725,0.088318,0.131793,0.259778,0.242685,0.365745
33,North Carolina,2019,37,10264876,3965482,1221998,775934,1128057,6983859,853396,...,0.042321,0.017014,0.479545,0.347018,0.284973,0.102653,0.122195,0.256525,0.308723,0.312557
34,North Dakota,2019,38,756717,318322,88327,61715,90192,495068,36394,...,0.024221,0.013991,0.319588,0.333234,0.260913,0.092634,0.073513,0.264291,0.361718,0.300478
35,Ohio,2019,39,11655397,4676358,1369655,840126,1302738,7975777,767378,...,0.036630,0.013398,0.491811,0.341760,0.303718,0.086698,0.096214,0.330375,0.290640,0.282772
36,Oklahoma,2019,40,3932870,1480061,480613,304930,411849,2592088,310453,...,0.046984,0.017277,0.506610,0.366871,0.304298,0.117949,0.119769,0.313300,0.311727,0.255203
37,Oregon,2019,41,4129803,1611982,457051,307598,475743,2898950,269250,...,0.040934,0.018677,0.467265,0.324221,0.234603,0.106640,0.092878,0.227353,0.343123,0.336646
38,Pennsylvania,2019,42,12791530,5053106,1417760,915469,1493265,8954232,848910,...,0.032498,0.013682,0.438737,0.296188,0.251262,0.096142,0.094805,0.346939,0.243959,0.314297
39,Rhode Island,2019,44,1057231,410489,116683,72581,110343,737200,82467,...,0.030438,0.014384,0.429792,0.291110,0.227019,0.104102,0.111865,0.282674,0.263467,0.341994
40,South Carolina,2019,45,5020806,1921862,565432,343626,562653,3446971,430491,...,0.038425,0.016380,0.468195,0.352244,0.281355,0.106265,0.124890,0.291031,0.302882,0.281197
41,South Dakota,2019,46,870638,344397,103460,68894,102368,572393,47241,...,0.034148,0.010946,0.522943,0.365464,0.282145,0.100000,0.082532,0.302378,0.326686,0.288403
42,Tennessee,2019,47,6709356,2597292,791295,498293,755903,4587393,575128,...,0.042589,0.017302,0.476399,0.363823,0.280332,0.101119,0.125371,0.320880,0.280359,0.273389
43,Texas,2019,48,28260856,9691647,3560763,2356009,2520399,18131554,2957959,...,0.045810,0.021477,0.468968,0.344565,0.249164,0.095497,0.163139,0.249570,0.288327,0.298964
44,Vermont,2019,50,624313,260029,65420,43205,79988,440460,32276,...,0.028785,0.016623,0.507655,0.298461,0.237657,0.111244,0.073278,0.287954,0.258523,0.380246
45,Utah,2019,49,3096848,977313,398837,311452,284647,1824052,140800,...,0.044064,0.025597,0.431159,0.253296,0.216866,0.105157,0.077191,0.228362,0.354267,0.340179
46,Virginia,2019,51,8454463,3151045,997666,683014,903480,5776886,595348,...,0.030337,0.012926,0.388418,0.291358,0.220365,0.085263,0.103057,0.239535,0.269593,0.387814
47,Washington,2019,53,7404107,2848396,870668,606778,823682,5101624,442449,...,0.032994,0.015416,0.429362,0.271730,0.219624,0.099598,0.086727,0.219995,0.333077,0.360201
48,West Virginia,2019,54,1817305,732585,201402,127998,228026,1287427,168624,...,0.055894,0.017533,0.453365,0.392072,0.370437,0.091641,0.130978,0.403200,0.259676,0.206146
49,Wisconsin,2019,55,5790716,2358156,670004,442867,705977,3955705,308216,...,0.028401,0.013406,0.419735,0.306250,0.253280,0.086384,0.077917,0.306388,0.314528,0.301167
50,Wyoming,2019,56,581024,230101,68479,47616,71737,390516,26688,...,0.038134,0.017655,0.390839,0.317073,0.239133,0.102317,0.068340,0.290731,0.367304,0.273625
51,Puerto Rico,2019,72,3318447,1192654,338547,144778,306500,2345959,550182,...,0.231400,0.083652,0.692755,0.736336,0.627785,0.273932,0.234523,0.279493,0.227290,0.258693

In [17]:
zip_data = calc_proportions_and_rename(zip_data)
zip_data

,NAME,Year,state,Total_population,Households,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with one or more people under 18 years:!!Family households:!!Married-couple family,HOUSEHOLDS BY PRESENCE OF PEOPLE UNDER 18 YEARS BY HOUSEHOLD TYPE Estimate!!Total:!!Households with no people under 18 years:!!Family households:!!Married-couple family,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS BY LANGUAGE SPOKEN AT HOME FOR THE POPULATION 25 YEARS AND OVER Estimate!!Total:!!Less than high school graduate:,...,Proportion_of_married-couple_families_below_the_poverty_level_where_householder's_highest_education_=_some_college_or_associate's_degree,Proportion_of_married-couple_families_below_the_poverty_level_where_householder's_highest_education_level_=_bachelor's_degree_or_higher,Proportion_of_female-householder_families_below_the_poverty_level_where_householder_did_not_graduate_high_school,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_=_high_school_graduate/equivalent,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_=_some_college_or_associate's_degree,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_level_=_bachelor's_degree_or_higher,Proportion_of_individuals_25+y/o_who_did_not_graduate_high_school,Proportion_of_individuals_25+y/o_whose_highest_education_level_=_high_school_graduate/equivalent,Proportion_of_individuals_25+_y/o_whose_highest_education_level_=_some_college/associate's_degree,Proportion_of_individuals_25+_y/o_whose_highest_education_level_=_bachelor's_degree_or_higher
0,25245,2019,54,600,294,20,20,152,499,65,...,0.000000,1.000000,NaN,NaN,NaN,NaN,0.130261,0.348697,0.446894,0.074148
1,25268,2019,54,964,354,80,54,197,745,157,...,0.000000,0.000000,NaN,NaN,NaN,NaN,0.210738,0.343624,0.195973,0.249664
2,25286,2019,54,1700,613,211,152,152,1177,322,...,0.000000,0.000000,1.000000,0.590909,0.000000,NaN,0.273577,0.491929,0.189465,0.045030
3,25303,2019,54,6764,2970,876,534,731,4838,201,...,0.000000,0.031561,1.000000,0.094340,0.393258,0.000000,0.041546,0.242042,0.324721,0.391691
4,25311,2019,54,10964,5088,1229,527,999,7866,754,...,0.048458,0.000000,1.000000,0.673267,0.155367,0.207547,0.095856,0.368167,0.271803,0.264175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,38704,2019,28,2,2,0,0,0,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,0.000000,0.000000
33116,38731,2019,28,246,54,46,26,8,145,59,...,0.000000,NaN,NaN,0.000000,NaN,NaN,0.406897,0.489655,0.055172,0.048276
33117,38749,2019,28,71,34,5,0,5,62,29,...,NaN,NaN,NaN,NaN,NaN,NaN,0.467742,0.451613,0.080645,0.000000
33118,38781,2019,28,198,107,12,7,7,172,37,...,0.000000,0.000000,0.428571,1.000000,NaN,NaN,0.215116,0.552326,0.156977,0.075581
33119,38945,2019,28,64,12,12,12,0,50,22,...,NaN,NaN,NaN,NaN,NaN,NaN,0.440000,0.240000,0.320000,0.000000

A look at the first few rows in the zip code table reveals that some median household income values are clearly inaccurate! $-666,666,666 is *not* the actual median household income in any zip code, yet that's the value listed for 2,229 entries in zip_data, as shown below:

In [18]:
len(zip_data.query("Median_household_income == -666666666"))

2299

This means that, when performing average calculations across the entire dataset, you must be extremely careful--otherwise, you'll end up with results like the one below:

In [19]:
np.mean(zip_data['Median_household_income'])

-46219120.15483092

These results are, of course, skewed by the thousands of -666,666,666 values. The U.S. would be in dire shape if the average median household income among zip codes were truly $-46,219,120! 

As shown below, performing some basic data cleaning (e.g. removing any results with a negative median household income) can produce a more accurate number.

In [20]:
np.mean(zip_data.query('Median_household_income > 0')['Median_household_income'])

61302.54067032218

I then exported this zip code, county, and state data to a CSV. I created copies of the county and zip code DataFrames that only include regions with at least 1,000 households, since lower sample sizes in smaller zip codes can skew the sample sizes shown.

In [21]:
zip_data_1k_plus_households = zip_data.query("Households > 1000").reset_index(drop=True)
county_data_1k_plus_households = county_data.query("Households > 1000").reset_index(drop=True)

zip_data.to_csv('acs5_'+str(year)+'_zip_results.csv')
zip_data_1k_plus_households.to_csv('acs5_'+str(year)+'_zip_results_1k_plus_households.csv')

county_data.to_csv('acs5_'+str(year)+'_county_results.csv')
county_data_1k_plus_households.to_csv('acs5_'+str(year)+'_county_results_1k_plus_households.csv')

state_data.to_csv('acs5_'+str(year)+'_state_results.csv')

Next, I'll use the compare_variable_across_years function within census_query.py to evaluate how county, state, and zip codes have grown in population over time. Whereas the previous functions all used the American Community Survey (5-year estimates) as a data source, some of the code blocks below will also use data from the decennial census and the American Community Survey (1-year estimates). 

The variable codes for a region's total population can be retrieved within the Census API website (see links near the beginning of this tutorial). They are as follows:

ACS5: population = B01001_001E

ACS1: population = B01001_001E

Census (redistricting data): population = P1_001N

Census (SF1 data): population = P001001

In [22]:
acs5_state_pop_2010_to_2020 = compare_variable_across_years(variable = 'B01001_001E', variable_name = 'population', source= 'acs5', year_list = [2010, 2015, 2020], region = 'state', api_key = api_key)
acs5_state_pop_2010_to_2020.to_csv('acs5_state_pop_2010_to_2020.csv')
acs5_state_pop_2010_to_2020

Retrieving data for: 2010
Retrieving data for: 2015
Retrieving data for: 2020

,NAME,state,population_2010,population_2015,population_2020,2010_to_2015_chg,2015_to_2020_chg,2010_to_2020_chg
0,Alabama,01,4712651,4830620,4893186,0.025032,0.012952,0.038309
1,Alaska,02,691189,733375,736990,0.061034,0.004929,0.066264
2,Arizona,04,6246816,6641928,7174064,0.063250,0.080118,0.148435
3,Arkansas,05,2872684,2958208,3011873,0.029771,0.018141,0.048453
4,California,06,36637290,38421464,39346023,0.048698,0.024064,0.073934
5,Colorado,08,4887061,5278906,5684926,0.080180,0.076914,0.163261
6,Connecticut,09,3545837,3593222,3570549,0.013364,-0.006310,0.006969
7,Delaware,10,881278,926454,967679,0.051262,0.044498,0.098041
8,District of Columbia,11,584400,647484,701974,0.107947,0.084157,0.201188
9,Florida,12,18511620,19645772,21216924,0.061267,0.079974,0.146141
10,Georgia,13,9468815,10006693,10516579,0.056805,0.050954,0.110654
11,Hawaii,15,1333591,1406299,1420074,0.054520,0.009795,0.064850
12,Idaho,16,1526797,1616547,1754367,0.058783,0.085256,0.149051
13,Illinois,17,12745359,12873761,12716164,0.010074,-0.012242,-0.002291
14,Indiana,18,6417398,6568645,6696893,0.023568,0.019524,0.043553
15,Iowa,19,3016267,3093526,3150011,0.025614,0.018259,0.044341
16,Kansas,20,2809329,2892987,2912619,0.029779,0.006786,0.036767
17,Kentucky,21,4285828,4397353,4461952,0.026022,0.014690,0.041095
18,Louisiana,22,4429940,4625253,4664616,0.044089,0.008510,0.052975
19,Maine,23,1327665,1329100,1340825,0.001081,0.008822,0.009912
20,Maryland,24,5696423,5930538,6037624,0.041099,0.018057,0.059897
21,Massachusetts,25,6477096,6705586,6873003,0.035277,0.024967,0.061124
22,Michigan,26,9952687,9900571,9973907,-0.005236,0.007407,0.002132
23,Minnesota,27,5241914,5419171,5600166,0.033815,0.033399,0.068344
24,Mississippi,28,2941991,2988081,2981835,0.015666,-0.002090,0.013543
25,Missouri,29,5922314,6045448,6124160,0.020792,0.013020,0.034082
26,Montana,30,973739,1014699,1061705,0.042065,0.046325,0.090338
27,Nebraska,31,1799125,1869365,1923826,0.039041,0.029133,0.069312
28,Nevada,32,2633331,2798636,3030281,0.062774,0.082771,0.150741
29,New Hampshire,33,1313939,1324201,1355244,0.007810,0.023443,0.031436
30,New Jersey,34,8721577,8904413,8885418,0.020964,-0.002133,0.018786
31,New Mexico,35,2013122,2084117,2097021,0.035266,0.006192,0.041676
32,New York,36,19229752,19673174,19514849,0.023059,-0.008048,0.014826
33,North Carolina,37,9271178,9845333,10386227,0.061929,0.054939,0.120270
34,North Dakota,38,659858,721640,760394,0.093629,0.053703,0.152360
35,Ohio,39,11512431,11575977,11675275,0.005520,0.008578,0.014145
36,Oklahoma,40,3675339,3849733,3949342,0.047450,0.025874,0.074552
37,Oregon,41,3761925,3939233,4176346,0.047132,0.060193,0.110162
38,Pennsylvania,42,12612705,12779559,12794885,0.013229,0.001199,0.014444
39,Rhode Island,44,1056389,1053661,1057798,-0.002582,0.003926,0.001334
40,South Carolina,45,4511428,4777576,5091517,0.058994,0.065711,0.128582
41,South Dakota,46,799462,843190,879336,0.054697,0.042868,0.099910
42,Tennessee,47,6234968,6499615,6772268,0.042446,0.041949,0.086175
43,Texas,48,24311891,26538614,28635442,0.091590,0.079010,0.177837
44,Utah,49,2657236,2903379,3151239,0.092631,0.085369,0.185909
45,Vermont,50,624258,626604,624340,0.003758,-0.003613,0.000131
46,Virginia,51,7841754,8256630,8509358,0.052906,0.030609,0.085135
47,Washington,53,6561297,6985464,7512465,0.064647,0.075443,0.144966
48,West Virginia,54,1840802,1851420,1807426,0.005768,-0.023762,-0.018131
49,Wisconsin,55,5637947,5742117,5806975,0.018477,0.011295,0.029980
50,Wyoming,56,545579,579679,581348,0.062502,0.002879,0.065562
51,Puerto Rico,72,3762322,3583073,3255642,-0.047643,-0.091383,-0.134672

In [23]:
acs5_county_pop_2010_to_2020 = compare_variable_across_years(variable = 'B01001_001E', variable_name = 'population', source= 'acs5', year_list = [2010, 2015, 2020], region = 'county', api_key = api_key)
acs5_county_pop_2010_to_2020.dropna(inplace=True)
acs5_county_pop_2010_to_2020.to_csv('acs5_county_pop_2010_to_2020.csv')
acs5_county_pop_2010_to_2020

Retrieving data for: 2010
Retrieving data for: 2015
Retrieving data for: 2020

,NAME,state,county,population_2010,population_2015,population_2020,2010_to_2015_chg,2015_to_2020_chg,2010_to_2020_chg
0,"Las Marías Municipio, Puerto Rico",72,083,10156.0,9306.0,8131.0,-0.083694,-0.126263,-0.199390
1,"San Germán Municipio, Puerto Rico",72,125,35997.0,34125.0,30811.0,-0.052004,-0.097114,-0.144068
2,"Comerío Municipio, Puerto Rico",72,045,20773.0,20339.0,18942.0,-0.020893,-0.068686,-0.088143
3,"Canóvanas Municipio, Puerto Rico",72,029,47151.0,47432.0,45120.0,0.005960,-0.048743,-0.043074
4,"Rincón Municipio, Puerto Rico",72,117,15203.0,14841.0,13849.0,-0.023811,-0.066842,-0.089061
...,...,...,...,...,...,...,...,...,...
3216,"Grimes County, Texas",48,185,26208.0,26961.0,28447.0,0.028732,0.055117,0.085432
3217,"Guadalupe County, Texas",48,187,122728.0,143460.0,163030.0,0.168926,0.136414,0.328385
3218,"Hale County, Texas",48,189,36041.0,35504.0,33463.0,-0.014900,-0.057486,-0.071530
3219,"Hall County, Texas",48,191,3424.0,3203.0,3025.0,-0.064544,-0.055573,-0.116530
3220,"Manatí Municipio, Puerto Rico",72,091,44631.0,42167.0,38062.0,-0.055208,-0.097351,-0.147185

In [24]:
acs5_zip_pop_2015_to_2020 = compare_variable_across_years(variable = 'B01001_001E', variable_name = 'population', source= 'acs5', year_list = [2015, 2020], region = 'zip', api_key = api_key)
# I received an error when trying to retrieve 2010 population data using this 
# function, which indicated that that data was either unavailable or existed
# under a different name. Therefore, I chose to run this function for only
# 2015 and 2020.
acs5_zip_pop_2015_to_2020.dropna(inplace=True)
acs5_zip_pop_2015_to_2020.to_csv('acs5_zip_pop_2015_to_2020.csv')
acs5_zip_pop_2015_to_2020

Retrieving data for: 2015
Retrieving data for: 2020

0       NAME state  population_2015  population_2020  2015_to_2020_chg
0      20152    51            28574            36465          0.276160
1      20155    51            32716            37151          0.135561
2      20615    24              460              513          0.115217
3      20646    24            18615            22583          0.213161
4      20657    24            19525            19711          0.009526
...      ...   ...              ...              ...               ...
33115  33847    12              184              154         -0.163043
33116  33860    12            22607            28372          0.255010
33117  33873    12            14244            13394         -0.059674
33118  33884    12            29845            33008          0.105981
33119  33921    12             1145              947         -0.172926

[32911 rows x 5 columns]

2020 data is not available for the 1-year estimates version of the American Community Survey, so the following code block retrieves data from 2010 to 2019 instead.

In [25]:
acs1_state_pop_2010_to_2019 = compare_variable_across_years(variable = 'B01001_001E', variable_name = 'population', source= 'acs1', year_list = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], region = 'state', api_key = api_key)
acs1_state_pop_2010_to_2019.to_csv('acs1_state_pop_2010_to_2019.csv')
acs1_state_pop_2010_to_2019

Retrieving data for: 2010
Retrieving data for: 2011
Retrieving data for: 2012
Retrieving data for: 2013
Retrieving data for: 2014
Retrieving data for: 2015
Retrieving data for: 2016
Retrieving data for: 2017
Retrieving data for: 2018
Retrieving data for: 2019

,NAME,state,population_2010,population_2011,population_2012,population_2013,population_2014,population_2015,population_2016,population_2017,...,2010_to_2011_chg,2011_to_2012_chg,2012_to_2013_chg,2013_to_2014_chg,2014_to_2015_chg,2015_to_2016_chg,2016_to_2017_chg,2017_to_2018_chg,2018_to_2019_chg,2010_to_2019_chg
0,Alabama,01,4785298,4802740,4822023,4833722,4849377,4858979,4863300,4874747,...,0.003645,0.004015,0.002426,0.003239,0.001980,0.000889,0.002354,0.002692,0.003133,0.024635
1,Alaska,02,713985,722718,731449,735132,736732,738432,741894,739795,...,0.012231,0.012081,0.005035,0.002176,0.002307,0.004688,-0.002829,-0.003186,-0.007991,0.024594
2,Arizona,04,6413737,6482505,6553255,6626624,6731484,6828065,6931071,7016270,...,0.010722,0.010914,0.011196,0.015824,0.014348,0.015086,0.012292,0.022145,0.014930,0.134864
3,Arkansas,05,2921606,2937979,2949131,2959373,2966369,2978204,2988248,3004279,...,0.005604,0.003796,0.003473,0.002364,0.003990,0.003373,0.005365,0.003177,0.001320,0.032926
4,California,06,37349363,37691912,38041430,38332521,38802500,39144818,39250017,39536653,...,0.009171,0.009273,0.007652,0.012261,0.008822,0.002687,0.007303,0.000516,-0.001133,0.057909
5,Colorado,08,5049071,5116796,5187582,5268367,5355866,5456574,5540545,5607154,...,0.013413,0.013834,0.015573,0.016608,0.018803,0.015389,0.012022,0.015767,0.011091,0.140554
6,Connecticut,09,3577073,3580709,3590347,3596080,3596677,3590886,3576452,3588184,...,0.001016,0.002692,0.001597,0.000166,-0.001610,-0.004020,0.003280,-0.004325,-0.002065,-0.003295
7,Delaware,10,899769,907135,917092,925749,935614,945934,952065,961939,...,0.008187,0.010976,0.009440,0.010656,0.011030,0.006481,0.010371,0.005439,0.006817,0.082238
8,District of Columbia,11,604453,617996,632323,646449,658893,672228,681170,693972,...,0.022405,0.023183,0.022340,0.019250,0.020238,0.013302,0.018794,0.012224,0.004689,0.167583
9,Florida,12,18843326,19057542,19317568,19552860,19893297,20271272,20612439,20984400,...,0.011368,0.013644,0.012180,0.017411,0.019000,0.016830,0.018045,0.015008,0.008376,0.139806
10,Georgia,13,9712587,9815210,9919945,9992167,10097343,10214860,10310371,10429379,...,0.010566,0.010671,0.007280,0.010526,0.011638,0.009350,0.011543,0.008639,0.009311,0.093161
11,Hawaii,15,1363621,1374810,1392313,1404054,1419561,1431603,1428557,1427538,...,0.008205,0.012731,0.008433,0.011044,0.008483,-0.002128,-0.000713,-0.004936,-0.003252,0.038318
12,Idaho,16,1571450,1584985,1595728,1612136,1634464,1654930,1683140,1716943,...,0.008613,0.006778,0.010282,0.013850,0.012522,0.017046,0.020083,0.021704,0.018730,0.137208
13,Illinois,17,12843166,12869259,12875255,12882135,12880580,12859995,12801539,12802023,...,0.002032,0.000466,0.000534,-0.000121,-0.001598,-0.004546,0.000038,-0.004760,-0.005436,-0.013341
14,Indiana,18,6490621,6516922,6537334,6570902,6596855,6619680,6633053,6666818,...,0.004052,0.003132,0.005135,0.003950,0.003460,0.002020,0.005090,0.003759,0.006028,0.037223
15,Iowa,19,3049883,3062309,3074186,3090416,3107126,3123899,3134693,3145711,...,0.004074,0.003878,0.005279,0.005407,0.005398,0.003455,0.003515,0.003317,-0.000341,0.034489
16,Kansas,20,2859169,2871238,2885905,2893957,2904021,2911641,2907289,2913123,...,0.004221,0.005108,0.002790,0.003478,0.002624,-0.001495,0.002007,-0.000554,0.000620,0.018937
17,Kentucky,21,4346266,4369356,4380415,4395295,4413457,4425092,4436974,4454189,...,0.005313,0.002531,0.003397,0.004132,0.002636,0.002685,0.003880,0.003191,-0.000163,0.027934
18,Louisiana,22,4544228,4574836,4601893,4625470,4649676,4670724,4681666,4684333,...,0.006736,0.005914,0.005123,0.005233,0.004527,0.002343,0.000570,-0.005199,-0.002400,0.023011
19,Maine,23,1327567,1328188,1329192,1328302,1330089,1329328,1331479,1335907,...,0.000468,0.000756,-0.000670,0.001345,-0.000572,0.001618,0.003326,0.001869,0.004339,0.012538
20,Maryland,24,5785982,5828289,5884563,5928814,5976407,6006401,6016447,6052177,...,0.007312,0.009655,0.007520,0.008027,0.005019,0.001673,0.005939,-0.001563,0.000490,0.044884
21,Massachusetts,25,6557254,6587536,6646144,6692824,6745408,6794422,6811779,6859819,...,0.004618,0.008897,0.007024,0.007857,0.007266,0.002555,0.007052,0.006171,-0.001398,0.051126
22,Michigan,26,9877574,9876187,9883360,9895622,9909877,9922576,9928300,9962311,...,-0.000140,0.000726,0.001241,0.001441,0.001281,0.000577,0.003426,0.003373,-0.000906,0.011064
23,Minnesota,27,5310584,5344861,5379139,5420380,5457173,5489594,5519952,5576606,...,0.006454,0.006413,0.007667,0.006788,0.005941,0.005530,0.010263,0.006200,0.005071,0.061961
24,Mississippi,28,2970036,2978512,2984926,2991207,2994079,2992333,2988726,2984100,...,0.002854,0.002153,0.002104,0.000960,-0.000583,-0.001205,-0.001548,0.000814,-0.003476,0.002058
25,Missouri,29,5996231,6010688,6021988,6044171,6063589,6083672,6093000,6113532,...,0.002411,0.001880,0.003684,0.003213,0.003312,0.001533,0.003370,0.002113,0.001792,0.023548
26,Montana,30,990898,998199,1005141,1015165,1023579,1032949,1042520,1050493,...,0.007368,0.006955,0.009973,0.008288,0.009154,0.009266,0.007648,0.011244,0.006093,0.078595
27,Nebraska,31,1830429,1842641,1855525,1868516,1881503,1896190,1907116,1920076,...,0.006672,0.006992,0.007001,0.006950,0.007806,0.005762,0.006796,0.004787,0.002664,0.056806
28,Nevada,32,2704642,2723322,2758931,2790136,2839099,2890845,2940058,2998039,...,0.006907,0.013076,0.011311,0.017549,0.018226,0.017024,0.019721,0.012126,0.015082,0.138841
29,New Hampshire,33,1316759,1318194,1320718,1323459,1326813,1330608,1334795,1342795,...,0.001090,0.001915,0.002075,0.002534,0.002860,0.003147,0.005993,0.010175,0.002398,0.032619
30,New Jersey,34,8801624,8821155,8864590,8899339,8938175,8958013,8944469,9005644,...,0.002219,0.004924,0.003920,0.004364,0.002219,-0.001512,0.006839,-0.010785,-0.002956,0.009154
31,New Mexico,35,2065932,2082224,2085538,2085287,2085572,2085109,2081015,2088070,...,0.007886,0.001592,-0.000120,0.000137,-0.000222,-0.001963,0.003390,0.003524,0.000669,0.014955
32,New York,36,19392283,19465197,19570261,19651127,19746227,19795791,19745289,19849399,...,0.003760,0.005398,0.004132,0.004839,0.002510,-0.002551,0.005273,-0.015476,-0.004536,0.003160
33,North Carolina,37,9561558,9656401,9752073,9848060,9943964,10042802,10146788,10273419,...,0.009919,0.009908,0.009843,0.009738,0.009939,0.010354,0.012480,0.010727,0.010060,0.096901
34,North Dakota,38,674499,683932,699628,723393,739482,756928,757953,755393,...,0.013985,0.022950,0.033968,0.022241,0.023592,0.001354,-0.003378,0.006201,0.002612,0.129819
35,Ohio,39,11536182,11544951,11544225,11570808,11594163,11613423,11614373,11658609,...,0.000760,-0.000063,0.002303,0.002018,0.001661,0.000082,0.003809,0.002645,-0.000029,0.013256
36,Oklahoma,40,3761702,3791508,3814820,3850568,3878051,3911338,3923561,3930864,...,0.007924,0.006148,0.009371,0.007137,0.008583,0.003125,0.001861,0.003107,0.003523,0.051910
37,Oregon,41,3838957,3871859,3899353,3930065,3970239,4028977,4093465,4142776,...,0.008571,0.007101,0.007876,0.010222,0.014795,0.016006,0.012046,0.011571,0.006449,0.098667
38,Pennsylvania,42,12709630,12742886,12763536,12773801,12787209,12802503,12784227,12805537,...,0.002617,0.001621,0.000804,0.001050,0.001196,-0.001428,0.001667,0.000119,-0.000396,0.007267
39,Rhode Island,44,1052886,1051302,1050292,1051511,1055173,1056298,1056426,1059639,...,-0.001504,-0.000961,0.001161,0.003483,0.001066,0.000121,0.003041,-0.002193,0.001935,0.006150
40,South Carolina,45,4636312,4679230,4723723,4774839,4832482,4896146,4961119,5024369,...,0.009257,0.009509,0.010821,0.012072,0.013174,0.013270,0.012749,0.011894,0.012704,0.110519
41,South Dakota,46,816463,824082,833354,844877,853175,858469,865454,869666,...,0.009332,0.011251,0.013827,0.009822,0.006205,0.008137,0.004867,0.014453,0.002748,0.083526
42,Tennessee,47,6356897,6403353,6456243,6495978,6549352,6600299,6651194,6715984,...,0.007308,0.008260,0.006155,0.008216,0.007779,0.007711,0.009741,0.008044,0.008739,0.074294
43,Texas,48,25257114,25674681,26059203,26448193,26956958,27469114,27862596,28304596,...,0.016533,0.014977,0.014927,0.019236,0.018999,0.014325,0.015864,0.014035,0.010244,0.148028
44,Utah,49,2776469,2817222,2855287,2900872,2942902,2995919,3051217,3101833,...,0.014678,0.013512,0.015965,0.014489,0.018015,0.018458,0.016589,0.019109,0.014189,0.154689
45,Vermont,50,625960,626431,626011,626630,626562,626042,624594,623657,...,0.000752,-0.000670,0.000989,-0.000109,-0.000830,-0.002313,-0.001500,0.004236,-0.003688,-0.003149
46,Virginia,51,8024617,8096604,8185867,8260405,8326289,8382993,8411808,8470020,...,0.008971,0.011025,0.009106,0.007976,0.006810,0.003437,0.006920,0.005627,0.002094,0.063667
47,Washington,53,6744496,6830038,6897012,6971406,7061530,7170351,7288000,7405743,...,0.012683,0.009806,0.010786,0.012928,0.015410,0.016408,0.016156,0.017533,0.010524,0.129053
48,West Virginia,54,1853973,1855364,1855413,1854304,1850326,1844128,1831102,1815857,...,0.000750,0.000026,-0.000598,-0.002145,-0.003350,-0.007064,-0.008326,-0.005521,-0.007578,-0.033348
49,Wisconsin,55,5691047,5711767,5726398,5742713,5757564,5771337,5778709,5795483,...,0.003641,0.002562,0.002849,0.002586,0.002392,0.001277,0.002903,0.003121,0.001525,0.023087
50,Wyoming,56,564460,568158,576412,582658,584153,586107,585501,579315,...,0.006551,0.014528,0.010836,0.002566,0.003345,-0.001034,-0.010565,-0.002724,0.001769,0.025332
51,Puerto Rico,72,3722133,3706690,3667084,3615086,3548397,3474182,3411307,3337177,...,-0.004149,-0.010685,-0.014180,-0.018447,-0.020915,-0.018098,-0.021731,-0.042558,-0.000457,-0.141972

In [26]:
acs1_county_pop_2010_to_2019 = compare_variable_across_years(variable = 'B01001_001E', variable_name = 'population', source= 'acs1', year_list = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], region = 'county', api_key = api_key)
acs1_county_pop_2010_to_2019.to_csv('acs1_county_pop_2015_to_2019.csv')
acs1_county_pop_2010_to_2019
# Note that fewer counties are contained in the American Community Survey (1-year estimates) dataset.

Retrieving data for: 2010
Retrieving data for: 2011
Retrieving data for: 2012
Retrieving data for: 2013
Retrieving data for: 2014
Retrieving data for: 2015
Retrieving data for: 2016
Retrieving data for: 2017
Retrieving data for: 2018
Retrieving data for: 2019

,NAME,state,county,population_2010,population_2011,population_2012,population_2013,population_2014,population_2015,population_2016,...,2010_to_2011_chg,2011_to_2012_chg,2012_to_2013_chg,2013_to_2014_chg,2014_to_2015_chg,2015_to_2016_chg,2016_to_2017_chg,2017_to_2018_chg,2018_to_2019_chg,2010_to_2019_chg
0,"Stark County, Ohio",39,151,375321.0,375087.0,374868.0,375432.0,375736.0,375165.0,373612.0,...,-0.000623,-0.000584,0.001505,0.000810,-0.001520,-0.004140,-0.002864,-0.002598,-0.002605,-0.012563
1,"Summit County, Ohio",39,153,541565.0,539832.0,540811.0,541824.0,541943.0,541968.0,540300.0,...,-0.003200,0.001814,0.001873,0.000220,0.000046,-0.003078,0.001718,0.001275,-0.001670,-0.001019
2,"Trumbull County, Ohio",39,155,209936.0,209264.0,207406.0,206442.0,205175.0,203751.0,201825.0,...,-0.003201,-0.008879,-0.004648,-0.006137,-0.006940,-0.009453,-0.007160,-0.008748,-0.003288,-0.056979
3,"Tuscarawas County, Ohio",39,157,92542.0,92508.0,92392.0,92672.0,92788.0,92916.0,92420.0,...,-0.000367,-0.001254,0.003031,0.001252,0.001379,-0.005338,-0.001331,-0.001311,-0.002050,-0.005997
4,"Warren County, Ohio",39,165,213192.0,214910.0,217241.0,219169.0,221659.0,224469.0,227063.0,...,0.008058,0.010846,0.008875,0.011361,0.012677,0.011556,0.008011,0.014379,0.010462,0.100426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,"Franklin County, North Carolina",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.021037,0.031454,NaN
839,"Kershaw County, South Carolina",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.008549,0.014621,NaN
840,"Mason County, Washington",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.019250,NaN
841,"Tehama County, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842,"Crow Wing County, Minnesota",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

At the time I created this program, not all of the 2020 Census data was available via the Census API. Therefore, in the following code block, I retrieved population values from the 'Summary File 1' sections of the 2000 and 2010 decennial censuses [or censusses? censi?], then merged these values with population values found in the 2020 Census's redistricting dataset. I then calculated some additional percentage changes.

In [27]:
census_state_population = compare_variable_across_years(variable = 'P001001', variable_name = 'population', source= 'census_sf1', year_list = [2000, 2010], region = 'state', api_key = api_key)
census_state_population_2000_to_2020 = census_state_population.merge(compare_variable_across_years(variable = 'P1_001N', variable_name = 'population', source= 'census_redistricting', year_list = [2020], region = 'state', api_key = api_key).drop('state',axis=1), on = 'NAME')
census_state_population_2000_to_2020.insert(4, 'population_2020', census_state_population_2000_to_2020.pop('population_2020'))
census_state_population_2000_to_2020['2010_to_2020_chg'] = (census_state_population_2000_to_2020['population_2020'] / census_state_population_2000_to_2020['population_2010'])-1
census_state_population_2000_to_2020['2000_to_2020_chg'] = (census_state_population_2000_to_2020['population_2020'] / census_state_population_2000_to_2020['population_2000'])-1
census_state_population_2000_to_2020.to_csv('census_state_population_2000_to_2020.csv')

census_state_population_2000_to_2020

Retrieving data for: 2000
Retrieving data for: 2010
Retrieving data for: 2020

,NAME,state,population_2000,population_2010,population_2020,2000_to_2010_chg,2010_to_2020_chg,2000_to_2020_chg
0,Alabama,01,4447100,4779736,5024279,0.074798,0.051162,0.129788
1,Alaska,02,626932,710231,733391,0.132868,0.032609,0.169809
2,Arizona,04,5130632,6392017,7151502,0.245854,0.118818,0.393883
3,Arkansas,05,2673400,2915918,3011524,0.090715,0.032788,0.126477
4,California,06,33871648,37253956,39538223,0.099857,0.061316,0.167296
5,Colorado,08,4301261,5029196,5773714,0.169238,0.148039,0.342331
6,Connecticut,09,3405565,3574097,3605944,0.049487,0.008911,0.058839
7,Delaware,10,783600,897934,989948,0.145909,0.102473,0.263333
8,District of Columbia,11,572059,601723,689545,0.051855,0.145951,0.205374
9,Florida,12,15982378,18801310,21538187,0.176378,0.145568,0.347621
10,Georgia,13,8186453,9687653,10711908,0.183376,0.105728,0.308492
11,Hawaii,15,1211537,1360301,1455271,0.122789,0.069815,0.201178
12,Idaho,16,1293953,1567582,1839106,0.211467,0.173212,0.421308
13,Illinois,17,12419293,12830632,12812508,0.033121,-0.001413,0.031662
14,Indiana,18,6080485,6483802,6785528,0.066330,0.046535,0.115952
15,Iowa,19,2926324,3046355,3190369,0.041018,0.047274,0.090231
16,Kansas,20,2688418,2853118,2937880,0.061263,0.029709,0.092791
17,Kentucky,21,4041769,4339367,4505836,0.073631,0.038363,0.114818
18,Louisiana,22,4468976,4533372,4657757,0.014410,0.027438,0.042243
19,Maine,23,1274923,1328361,1362359,0.041915,0.025594,0.068581
20,Maryland,24,5296486,5773552,6177224,0.090072,0.069917,0.166287
21,Massachusetts,25,6349097,6547629,7029917,0.031269,0.073658,0.107231
22,Michigan,26,9938444,9883640,10077331,-0.005514,0.019597,0.013975
23,Minnesota,27,4919479,5303925,5706494,0.078148,0.075900,0.159979
24,Mississippi,28,2844658,2967297,2961279,0.043112,-0.002028,0.040996
25,Missouri,29,5595211,5988927,6154913,0.070367,0.027715,0.100032
26,Montana,30,902195,989415,1084225,0.096675,0.095824,0.201763
27,Nebraska,31,1711263,1826341,1961504,0.067247,0.074008,0.146232
28,Nevada,32,1998257,2700551,3104614,0.351453,0.149622,0.553661
29,New Hampshire,33,1235786,1316470,1377529,0.065290,0.046381,0.114699
30,New Jersey,34,8414350,8791894,9288994,0.044869,0.056541,0.103947
31,New Mexico,35,1819046,2059179,2117522,0.132010,0.028333,0.164084
32,New York,36,18976457,19378102,20201249,0.021165,0.042478,0.064543
33,North Carolina,37,8049313,9535483,10439388,0.184633,0.094794,0.296929
34,North Dakota,38,642200,672591,779094,0.047323,0.158347,0.213164
35,Ohio,39,11353140,11536504,11799448,0.016151,0.022792,0.039311
36,Oklahoma,40,3450654,3751351,3959353,0.087142,0.055447,0.147421
37,Oregon,41,3421399,3831074,4237256,0.119739,0.106023,0.238457
38,Pennsylvania,42,12281054,12702379,13002700,0.034307,0.023643,0.058761
39,Rhode Island,44,1048319,1052567,1097379,0.004052,0.042574,0.046799
40,South Carolina,45,4012012,4625364,5118425,0.152879,0.106599,0.275775
41,South Dakota,46,754844,814180,886667,0.078607,0.089031,0.174636
42,Tennessee,47,5689283,6346105,6910840,0.115449,0.088989,0.214712
43,Texas,48,20851820,25145561,29145505,0.205917,0.159072,0.397744
44,Utah,49,2233169,2763885,3271616,0.237652,0.183702,0.465010
45,Vermont,50,608827,625741,643077,0.027781,0.027705,0.056256
46,Virginia,51,7078515,8001024,8631393,0.130325,0.078786,0.219379
47,Washington,53,5894121,6724540,7705281,0.140889,0.145845,0.307282
48,West Virginia,54,1808344,1852994,1793716,0.024691,-0.031990,-0.008089
49,Wisconsin,55,5363675,5686986,5893718,0.060278,0.036352,0.098821
50,Wyoming,56,493782,563626,576851,0.141447,0.023464,0.168230
51,Puerto Rico,72,3808610,3725789,3285874,-0.021746,-0.118073,-0.137251

The same process was used to obtain county-level population changes.

In [28]:
census_county_population = compare_variable_across_years(variable = 'P001001', variable_name = 'population', source= 'census_sf1', year_list = [2000, 2010], region = 'county', api_key = api_key)
census_county_population_2000_to_2020 = census_county_population.merge(compare_variable_across_years(variable = 'P1_001N', variable_name = 'population', source= 'census_redistricting', year_list = [2020], region = 'county', api_key = api_key).drop(['state', 'county'],axis=1), on = 'NAME')
census_county_population_2000_to_2020.insert(4, 'population_2020', census_county_population_2000_to_2020.pop('population_2020'))
census_county_population_2000_to_2020['2010_to_2020_chg'] = (census_county_population_2000_to_2020['population_2020'] / census_county_population_2000_to_2020['population_2010'])-1
census_county_population_2000_to_2020['2000_to_2020_chg'] = (census_county_population_2000_to_2020['population_2020'] / census_county_population_2000_to_2020['population_2000'])-1

census_county_population_2000_to_2020.dropna(inplace=True)

census_county_population_2000_to_2020.to_csv('census_county_population_2000_to_2020.csv')

census_county_population_2000_to_2020

Retrieving data for: 2000
Retrieving data for: 2010
Retrieving data for: 2020

,NAME,state,county,population_2000,population_2020,population_2010,2000_to_2010_chg,2010_to_2020_chg,2000_to_2020_chg
0,"Autauga County, Alabama",01,001,43671.0,58805,54571.0,0.249594,0.077587,0.346546
1,"Baldwin County, Alabama",01,003,140415.0,231767,182265.0,0.298045,0.271594,0.650586
2,"Barbour County, Alabama",01,005,29038.0,25223,27457.0,-0.054446,-0.081364,-0.131380
3,"Bibb County, Alabama",01,007,20826.0,22293,22915.0,0.100307,-0.027144,0.070441
4,"Blount County, Alabama",01,009,51024.0,59134,57322.0,0.123432,0.031611,0.158945
...,...,...,...,...,...,...,...,...,...
3203,"Vega Baja Municipio, Puerto Rico",72,145,61929.0,54414,59662.0,-0.036606,-0.087962,-0.121349
3204,"Vieques Municipio, Puerto Rico",72,147,9106.0,8249,9301.0,0.021414,-0.113106,-0.094114
3205,"Villalba Municipio, Puerto Rico",72,149,27913.0,22093,26073.0,-0.065919,-0.152648,-0.208505
3206,"Yabucoa Municipio, Puerto Rico",72,151,39246.0,30426,37941.0,-0.033252,-0.198071,-0.224736
3207,"Yauco Municipio, Puerto Rico",72,153,46384.0,34172,42043.0,-0.093588,-0.187213,-0.263280

That concludes the main part of this tutorial program. I hope that you find these examples useful in performing your own census data analysis!

These census DataFrames can also be a great source of information for regression analyses. The following code blocks show how one of the DataFrames can be modified to serve as a data source for regressions (albeit without any data cleaning or checking). In the future, I may move these regressions over to a separate tutorial program and provide detailed explanations of the code. In the meantime, I've left the code in place and added some brief explanations.

The first regression examined the relationship between poverty rates and whether children were in a married-couple family as opposed to a female-householder one. This involved creating a reduced version of the df_results_1k_plus_households DataFrame:

In [29]:
df_regression_test = zip_data_1k_plus_households.copy()
df_regression_test.dropna(subset=['Proportion_of_children_in_female_householder_families_below_poverty_level','Proportion_of_children_in_married_couple_families_below_poverty_level'],inplace=True)
df_regression_test = df_regression_test[['NAME','Proportion_of_children_in_female_householder_families_below_poverty_level','Proportion_of_children_in_married_couple_families_below_poverty_level']].copy()

In [30]:
df_regression_test

,NAME,Proportion_of_children_in_female_householder_families_below_poverty_level,Proportion_of_children_in_married_couple_families_below_poverty_level
0,25303,0.289377,0.054054
1,25311,0.660470,0.000000
2,25419,0.493056,0.009572
3,25601,0.482558,0.060255
4,26726,0.386427,0.016000
...,...,...,...
16977,38237,0.608929,0.085351
16978,38948,0.260274,0.082418
16979,38016,0.064658,0.058087
16980,38571,0.449275,0.126911
16981,38572,0.233672,0.030804

I then converted the two different variable columns into two different rows for each zip code using pd.melt(), which would make it easier to create categorical or 'dummy' variables for the regression analysis:

In [31]:
df_regression_test_melt = pd.melt(df_regression_test.copy(), id_vars = ['NAME']) # https://pandas.pydata.org/pandas-docs/version/0.20/generated/pandas.melt.html
df_regression_test_melt

        NAME                                           variable     value
0      25303  Proportion_of_children_in_female_householder_f...  0.289377
1      25311  Proportion_of_children_in_female_householder_f...  0.660470
2      25419  Proportion_of_children_in_female_householder_f...  0.493056
3      25601  Proportion_of_children_in_female_householder_f...  0.482558
4      26726  Proportion_of_children_in_female_householder_f...  0.386427
...      ...                                                ...       ...
33811  38237  Proportion_of_children_in_married_couple_famil...  0.085351
33812  38948  Proportion_of_children_in_married_couple_famil...  0.082418
33813  38016  Proportion_of_children_in_married_couple_famil...  0.058087
33814  38571  Proportion_of_children_in_married_couple_famil...  0.126911
33815  38572  Proportion_of_children_in_married_couple_famil...  0.030804

[33816 rows x 3 columns]

The following code block uses pd.get_dummies to generate categorical variables, then renames the resulting column for better legibility.

In [32]:
df_regression_test_melt = pd.get_dummies(data = df_regression_test_melt.copy(), columns=['variable'], drop_first=True)
df_regression_test_melt.rename(columns={'variable_Proportion_of_children_in_married_couple_families_below_poverty_level':'in_married_household','value':'proportion_below_poverty_level'},inplace=True)
df_regression_test_melt

        NAME  proportion_below_poverty_level  in_married_household
0      25303                        0.289377                     0
1      25311                        0.660470                     0
2      25419                        0.493056                     0
3      25601                        0.482558                     0
4      26726                        0.386427                     0
...      ...                             ...                   ...
33811  38237                        0.085351                     1
33812  38948                        0.082418                     1
33813  38016                        0.058087                     1
33814  38571                        0.126911                     1
33815  38572                        0.030804                     1

[33816 rows x 3 columns]

With this table in place, I was able to perform the regression analysis.

In [33]:
y = df_regression_test_melt['proportion_below_poverty_level'] # Contains the list of scores for the current grade (or for the school total in the case of the 'Total' column)
x_vars = df_regression_test_melt[['in_married_household']]
x_vars = sm.add_constant(x_vars) 
model = sm.OLS(y,x_vars)
results = model.fit() # the resulst variable contains the information needed to fill in the other rows within the DataFrame.
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                  OLS Regression Results
==========================================================================================
Dep. Variable:     proportion_below_poverty_level   R-squared:                       0.409
Model:                                        OLS   Adj. R-squared:                  0.409
Method:                             Least Squares   F-statistic:                 2.339e+04
Date:                            Thu, 31 Mar 2022   Prob (F-statistic):               0.00
Time:                                    16:43:32   Log-Likelihood:                 11307.
No. Observations:                           33816   AIC:                        -2.261e+04
Df Residuals:                               33814   BIC:                        -2.259e+04
Df Model:                                       1
Covariance Type:                        nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                    0.3802      0.001    285.425      0.000       0.378       0.383
in_married_household    -0.2881      0.002   -152.952      0.000      -0.292      -0.284
==============================================================================
Omnibus:                     1609.716   Durbin-Watson:                   1.660
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2450.374
Skew:                           0.429   Prob(JB):                         0.00
Kurtosis:                       4.002   Cond. No.                         2.62
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

My second regression analysis aimed to evaluate the impact of family type (married vs. female-householder-only) and education level (no high school diploma; high school diploma/equivalent; associate's/some college; and bachelor's or higher) on poverty status. This first involved retrieving data on income for both family type and education.

In [34]:
df_regression_test_2 = zip_data_1k_plus_households.copy()
df_regression_test_2.dropna(subset=['Proportion_of_married-couple_families_below_the_poverty_level_where_householder_did_not_graduate_high_school','Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_=_high_school_graduate/equivalent', 'Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_=_some_college_or_associate\'s_degree', 'Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_level_=_bachelor\'s_degree_or_higher', 'Proportion_of_female-householder_families_below_the_poverty_level_where_householder_did_not_graduate_high_school', 'Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_=_high_school_graduate/equivalent', 'Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_=_some_college_or_associate\'s_degree', 'Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_level_=_bachelor\'s_degree_or_higher'],inplace=True)
df_regression_test_2 = df_regression_test_2[['NAME','Proportion_of_married-couple_families_below_the_poverty_level_where_householder_did_not_graduate_high_school','Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_=_high_school_graduate/equivalent', 'Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_=_some_college_or_associate\'s_degree', 'Proportion_of_married-couple_families_below_the_poverty_level_where_householder\'s_highest_education_level_=_bachelor\'s_degree_or_higher', 'Proportion_of_female-householder_families_below_the_poverty_level_where_householder_did_not_graduate_high_school', 'Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_=_high_school_graduate/equivalent', 'Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_=_some_college_or_associate\'s_degree', 'Proportion_of_female-householder_families_below_the_poverty_level_where_householder\'s_highest_education_level_=_bachelor\'s_degree_or_higher']].copy()

In [35]:
df_regression_test_2

,NAME,Proportion_of_married-couple_families_below_the_poverty_level_where_householder_did_not_graduate_high_school,Proportion_of_married-couple_families_below_the_poverty_level_where_householder's_highest_education_=_high_school_graduate/equivalent,Proportion_of_married-couple_families_below_the_poverty_level_where_householder's_highest_education_=_some_college_or_associate's_degree,Proportion_of_married-couple_families_below_the_poverty_level_where_householder's_highest_education_level_=_bachelor's_degree_or_higher,Proportion_of_female-householder_families_below_the_poverty_level_where_householder_did_not_graduate_high_school,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_=_high_school_graduate/equivalent,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_=_some_college_or_associate's_degree,Proportion_of_female-householder_families_below_the_poverty_level_where_householder's_highest_education_level_=_bachelor's_degree_or_higher
1,25311,0.165289,0.000000,0.048458,0.000000,1.000000,0.673267,0.155367,0.207547
3,25601,0.233333,0.164557,0.048638,0.000000,0.272727,0.000000,0.321429,0.333333
4,26726,0.324675,0.113858,0.047354,0.000000,0.833333,0.135531,0.654206,0.166667
5,26753,0.000000,0.002222,0.004975,0.000000,1.000000,0.524590,0.851351,0.000000
6,26757,0.169231,0.071956,0.073944,0.000000,0.438095,0.706667,0.190083,0.000000
...,...,...,...,...,...,...,...,...,...
16977,38237,0.152941,0.044408,0.095119,0.011270,0.788732,0.607407,0.107477,0.451613
16978,38948,0.161765,0.069767,0.000000,0.000000,0.375000,0.095745,0.125000,0.000000
16979,38016,0.000000,0.041406,0.039346,0.031825,0.103627,0.058140,0.059701,0.008143
16980,38571,0.116725,0.065015,0.055504,0.000000,1.000000,0.132701,0.060606,1.000000
16981,38572,0.000000,0.076757,0.034716,0.051527,0.759036,0.031746,0.145038,0.467290

Next, I once again 'melted' various columns into the same column in order to facilitate the creation of categorical variables. I also created columns that would store these categorical variables.

In [36]:
df_regression_test_2_melt = pd.melt(df_regression_test_2.copy(), id_vars = ['NAME'])
df_regression_test_2_melt['Married'] = 0
df_regression_test_2_melt['highest_ed_=_high_school_grad'] = 0
df_regression_test_2_melt['highest_ed_=_some_college_or_associate\'s'] = 0
df_regression_test_2_melt['highest_ed_=_bachelor\'s_or_higher'] = 0

In [37]:
df_regression_test_2_melt

,NAME,variable,value,Married,highest_ed_=_high_school_grad,highest_ed_=_some_college_or_associate's,highest_ed_=_bachelor's_or_higher
0,25311,Proportion_of_married-couple_families_below_th...,0.165289,0,0,0,0
1,25601,Proportion_of_married-couple_families_below_th...,0.233333,0,0,0,0
2,26726,Proportion_of_married-couple_families_below_th...,0.324675,0,0,0,0
3,26753,Proportion_of_married-couple_families_below_th...,0.000000,0,0,0,0
4,26757,Proportion_of_married-couple_families_below_th...,0.169231,0,0,0,0
...,...,...,...,...,...,...,...
110235,38237,Proportion_of_female-householder_families_belo...,0.451613,0,0,0,0
110236,38948,Proportion_of_female-householder_families_belo...,0.000000,0,0,0,0
110237,38016,Proportion_of_female-householder_families_belo...,0.008143,0,0,0,0
110238,38571,Proportion_of_female-householder_families_belo...,1.000000,0,0,0,0
110239,38572,Proportion_of_female-householder_families_belo...,0.467290,0,0,0,0

The output of the following for loop served as a reference for which column numbers corresponded to which variables.

In [38]:
for i in range(len(df_regression_test_2_melt.columns)):
    print("Column",i,":\t",df_regression_test_2_melt.columns[i])

Column 0 :	 NAME
Column 1 :	 variable
Column 2 :	 value
Column 3 :	 Married
Column 4 :	 highest_ed_=_high_school_grad
Column 5 :	 highest_ed_=_some_college_or_associate's
Column 6 :	 highest_ed_=_bachelor's_or_higher

In the next for loop, I filled in the categorical variables by seeing whether certain keywords ('married', 'some_college', etc.) were present in the variable column. For instance, given the variable 'Proportion_of_married-couple_families_below_the_poverty_level_where_householder_did_not_graduate_high_school', the for loop returned 1 for the 'Married' column and 0 for the other columns.

In [39]:
for i in range(len(df_regression_test_2_melt)):
    variable = df_regression_test_2_melt.iloc[i, 1]
    if 'married' in variable:
        df_regression_test_2_melt.iloc[i, 3] = 1
    if 'high_school_graduate' in variable:
        df_regression_test_2_melt.iloc[i, 4] = 1
    if 'some_college' in variable:
        df_regression_test_2_melt.iloc[i, 5] = 1
    if 'bachelor' in variable:
        df_regression_test_2_melt.iloc[i, 6] = 1

In [40]:
df_regression_test_2_melt.iloc[0,1]

'Proportion_of_married-couple_families_below_the_poverty_level_where_householder_did_not_graduate_high_school'

In [41]:
df_regression_test_2_melt.rename(columns={'value':'proportion_below_poverty_level'},inplace=True)
df_regression_test_2.to_csv('marriage_education_poverty_regression.csv')
df_regression_test_2_melt

,NAME,variable,proportion_below_poverty_level,Married,highest_ed_=_high_school_grad,highest_ed_=_some_college_or_associate's,highest_ed_=_bachelor's_or_higher
0,25311,Proportion_of_married-couple_families_below_th...,0.165289,1,0,0,0
1,25601,Proportion_of_married-couple_families_below_th...,0.233333,1,0,0,0
2,26726,Proportion_of_married-couple_families_below_th...,0.324675,1,0,0,0
3,26753,Proportion_of_married-couple_families_below_th...,0.000000,1,0,0,0
4,26757,Proportion_of_married-couple_families_below_th...,0.169231,1,0,0,0
...,...,...,...,...,...,...,...
110235,38237,Proportion_of_female-householder_families_belo...,0.451613,0,0,0,1
110236,38948,Proportion_of_female-householder_families_belo...,0.000000,0,0,0,1
110237,38016,Proportion_of_female-householder_families_belo...,0.008143,0,0,0,1
110238,38571,Proportion_of_female-householder_families_belo...,1.000000,0,0,0,1
110239,38572,Proportion_of_female-householder_families_belo...,0.467290,0,0,0,1

With the table complete, I performed a regression that used proportion_below_poverty_level as the dependent variable and various family type/education level values as the independent variables.

In [42]:
y = df_regression_test_2_melt['proportion_below_poverty_level']
x_vars = df_regression_test_2_melt[['Married',
       'highest_ed_=_high_school_grad',
       'highest_ed_=_some_college_or_associate\'s',
       'highest_ed_=_bachelor\'s_or_higher']]
x_vars = sm.add_constant(x_vars) 
model = sm.OLS(y,x_vars)
results_2 = model.fit() 
results_2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                  OLS Regression Results
==========================================================================================
Dep. Variable:     proportion_below_poverty_level   R-squared:                       0.319
Model:                                        OLS   Adj. R-squared:                  0.319
Method:                             Least Squares   F-statistic:                 1.293e+04
Date:                            Thu, 31 Mar 2022   Prob (F-statistic):               0.00
Time:                                    16:43:40   Log-Likelihood:                 36769.
No. Observations:                          110240   AIC:                        -7.353e+04
Df Residuals:                              110235   BIC:                        -7.348e+04
Df Model:                                       4
Covariance Type:                        nonrobust
============================================================================================================
                                               coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
const                                        0.3605      0.001    308.825      0.000       0.358       0.363
Married                                     -0.1882      0.001   -180.231      0.000      -0.190      -0.186
highest_ed_=_high_school_grad               -0.0840      0.001    -56.899      0.000      -0.087      -0.081
highest_ed_=_some_college_or_associate's    -0.1170      0.001    -79.211      0.000      -0.120      -0.114
highest_ed_=_bachelor's_or_higher           -0.2022      0.001   -136.929      0.000      -0.205      -0.199
==============================================================================
Omnibus:                    22013.820   Durbin-Watson:                   1.755
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            60772.713
Skew:                           1.069   Prob(JB):                         0.00
Kurtosis:                       5.943   Cond. No.                         5.39
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [43]:
end_time = time.time()
run_time = end_time - start_time
run_minutes = run_time // 60
run_seconds = run_time % 60
print("Completed run at",time.ctime(end_time),"(local time)")
print("Total run time:",'{:.2f}'.format(run_time),"second(s) ("+str(run_minutes),"minute(s) and",'{:.2f}'.format(run_seconds),"second(s))") # Only valid when the program is run nonstop from start to finish

Completed run at Thu Mar 31 16:43:40 2022 (local time)
Total run time: 94.32 second(s) (1.0 minute(s) and 34.32 second(s))